<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="border-collapse:collapse;mso-yfti-tbllook:480;mso-padding-alt:0cm 5.4pt 0cm 5.4pt">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
   <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
   <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>หมายเหตุ</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
   <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
   <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สารบัญ<o:p></o:p></span></b></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1">
   <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
   <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:10.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
   <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:10.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:2">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">1<span style='font:7.0pt "Times New Roman"'>         
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>ข้อมูลทั่วไปและการจัดโครงสร้างธุรกิจ</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">2<span style='font:7.0pt "Times New Roman"'>         
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>เกณฑ์ในการจัดทำงบการเงิน</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">3<span style='font:7.0pt "Times New Roman"'>         
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif";mso-ansi-font-weight:bold'>นโยบายการบัญชีที่สำคัญ</span><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">4<span style='font:7.0pt "Times New Roman"'>         
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif";mso-ansi-font-weight:bold'>การซื้อธุรกิจ<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">5<span style='font:7.0pt "Times New Roman"'>         
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>บุคคลหรือกิจการที่เกี่ยวข้องกัน</span><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-GB'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">6<span style='font:7.0pt "Times New Roman"'>         
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>เงินสดและรายการเทียบเท่าเงินสด<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">7<span style='font:7.0pt "Times New Roman"'>         
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>เงินลงทุนชั่วคราว<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">8<span style='font:7.0pt "Times New Roman"'>         
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>ลูกหนี้การค้า<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">9<span style='font:7.0pt "Times New Roman"'>         
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="index" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:0cm;
  margin-left:0cm;margin-bottom:.0001pt;text-indent:0cm;line-height:normal;
  mso-outline-level:1;tab-stops:67.5pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>ลูกหนี้อื่น<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">10<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>เงินลงทุนในบริษัทย่อย<span dir="RTL"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:12">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">11<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>ที่ดิน อาคารและอุปกรณ์<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:13">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">12<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>สินทรัพย์ไม่มีตัวตน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:14">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">13<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>เจ้าหนี้อื่น<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:15">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">14<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>หนี้สินที่มีภาระดอกเบี้ย<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:16">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">15<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>ภาระผูกพันผลประโยชน์พนักงาน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:17">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">16<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>ทุนเรือนหุ้น<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:18">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">17<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>ส่วนเกินทุน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:19">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">18<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>สำรอง<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:20">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">19<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="index" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
  text-indent:0cm;mso-line-height-alt:12.0pt;mso-outline-level:1;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>ส่วนงานดำเนินงาน</span><span dir="RTL" lang="AR-SA" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:21">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">20<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>รายได้จากการขายและบริการ<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:22">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">21<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>รายได้จากการลงทุน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:23">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">22<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>ค่าใช้จ่ายในการบริหาร</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:24">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">23<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>ค่าใช้จ่ายผลประโยชน์ของพนักงาน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:25">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">24<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:114.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>ค่าใช้จ่ายตามลักษณะ<span style="mso-tab-count:1">             </span><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:26">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">25<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>ต้นทุนทางการเงิน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:27">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">26<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>ภาษีเงินได้<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:28;height:12.9pt">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:12.9pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">27<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:12.9pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>สิทธิประโยชน์จากการส่งเสริมการลงทุน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:29">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">28<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>กำไรต่อหุ้นขั้นพื้นฐาน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:30">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">29<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>เงินปันผล<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:31">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">30<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>เครื่องมือทางการเงิน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:32">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">31<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>ภาระผูกพันกับบุคคลหรือกิจการที่ไม่เกี่ยวข้องกัน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:33">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">32<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>เหตุการณ์ภายหลังรอบระยะเวลาที่รายงาน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:34;mso-yfti-lastrow:yes">
  <td style="width:69.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="115">
  <p class="MsoListParagraph" style="margin-left:17.0pt;mso-add-space:auto;
  text-indent:-17.0pt;mso-list:l5 level1 lfo2;tab-stops:list 17.0pt"><!--[if !supportLists]--><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Angsana New"'><span style="mso-list:Ignore">33<span style='font:7.0pt "Times New Roman"'>     
  </span></span></span><!--[endif]--><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:407.45pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="679">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>มาตรฐานการรายงานทางการเงินที่ยังไม่ได้ใช้</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">    </span><span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
</tbody></table>