<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:468.9pt;margin-left:22.5pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="782">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
  <td style="width:37.64%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="37%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td colspan="3" style="width:25.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="25%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>งบการเงินรวม</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td colspan="3" style="width:33.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="33%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal"><b><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>งบการเงินเฉพาะกิจการ</span></b><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1">
  <td style="width:37.64%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="37%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td colspan="3" style="width:25.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="25%">
  <p align="center" class="MsoNormal" style="margin-right:-4.85pt;text-align:center;
  tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่
  </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>31<span lang="TH"> ธันวาคม<o:p></o:p></span></span></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>31<span lang="TH">
  ธันวาคม<o:p></o:p></span></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>สำหรับรอบระยะเวลาบัญชีตั้งแต่วันที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>17<span lang="TH">
  กรกฎาคม </span>2558<span lang="TH"> ถึงวันที่ 31 ธันวาคม<o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2">
  <td style="width:37.64%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="37%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>2559</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p align="center" class="MsoNormal" style="margin-right:-5.2pt;text-align:center;
  tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>2558</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>2559</span><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>2558</span><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:37.64%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="37%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td colspan="7" style="width:62.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="62%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>(พันบาท)</span></i><i><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></i></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4;mso-yfti-lastrow:yes">
  <td style="width:37.64%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="37%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>หนี้สูญและหนี้สงสัยจะสูญสำหรับปี/งวด</span><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:11.5%;border:none;border-bottom:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="tab-stops:decimal 28.05pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-</span></b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:decimal 43.95pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.52%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="tab-stops:decimal 28.05pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;line-height:normal;tab-stops:decimal 43.95pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.5%;border:none;border-bottom:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="tab-stops:decimal 28.05pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-</span></b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;line-height:normal;tab-stops:decimal 43.95pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.56%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;line-height:normal;tab-stops:decimal 43.95pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>