<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:464.4pt;margin-left:22.5pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="774">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
  <td style="width:38.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="38%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td colspan="3" style="width:29.0%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="29%">
  <p align="center" class="MsoNormal" style="text-align:center;tab-stops:decimal 35.95pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>งบการเงินรวม<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="tab-stops:decimal 49.95pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td colspan="3" style="width:29.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="29%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:decimal 36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>งบการเงินเฉพาะกิจการ<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1">
  <td style="width:38.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="38%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="tab-stops:decimal 35.95pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>2559<o:p></o:p></span></p>
  </td>
  <td style="width:2.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="tab-stops:decimal 49.95pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="tab-stops:decimal 35.95pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>2558<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="tab-stops:decimal 49.95pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="tab-stops:decimal 49.95pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>2559<o:p></o:p></span></p>
  </td>
  <td style="width:2.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="tab-stops:decimal 49.95pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.04%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2558<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2">
  <td style="width:38.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="38%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td colspan="7" style="width:61.04%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="61%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:decimal 36.0pt"><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>(พันบาท)</span></i><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3;mso-yfti-lastrow:yes">
  <td style="width:38.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="38%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เงินลงทุนในบริษัทย่อย
  (หมายเหตุ </span></i></b><b><i><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>10)<span style="mso-tab-count:1">    </span>-<span style="mso-tab-count:2">        </span>-<span style="mso-tab-count:2">          </span>6,353,336<span style="mso-tab-count:2">              </span>6,333,337<o:p></o:p></span></i></b></p>
  </td>
  <td style="width:13.56%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoNormal" style="tab-stops:decimal 29.85pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>-</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:2.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="tab-stops:decimal 49.95pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.88%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="tab-stops:decimal 27.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>-</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:2.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="tab-stops:decimal 49.95pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.88%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="tab-stops:decimal 49.95pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>6,353,336<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="tab-stops:decimal 49.95pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.04%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:decimal 40.3pt"><b><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>6,333,337<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
 </tr>
</tbody></table>