<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:468.9pt;margin-left:22.5pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="782">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
   <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="35%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td colspan="3" style="width:26.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="26%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>งบการเงินรวม</span></b><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
   <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td colspan="3" style="width:34.82%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="34%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal"><b><span lang="TH" style='font-size:14.0pt;font-family:
   "Angsana New","serif"'>งบการเงินเฉพาะกิจการ</span></b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1">
   <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="35%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td colspan="3" style="width:26.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="26%">
   <p align="center" class="MsoNormal" style="margin-right:-4.85pt;text-align:center;
   tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่
   31 ธันวาคม<o:p></o:p></span></p>
   </td>
   <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:13.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่ </span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>31<span lang="TH">
   ธันวาคม<o:p></o:p></span></span></p>
   </td>
   <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:18.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>สำหรับรอบระยะเวลาบัญชีตั้งแต่วันที่ </span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>17<span lang="TH">
   กรกฎาคม </span>2558<span lang="TH"> ถึงวันที่ </span>31<span lang="TH"> ธันวาคม<o:p></o:p></span></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:2">
   <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="35%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>2559<o:p></o:p></span></p>
   </td>
   <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:11.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
   <p align="center" class="MsoNormal" style="margin-right:-5.2pt;text-align:center;
   tab-stops:36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>2558<o:p></o:p></span></p>
   </td>
   <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:13.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>2559<o:p></o:p></span></p>
   </td>
   <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:18.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>2558<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:3">
   <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="35%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td colspan="7" style="width:64.22%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="64%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>(พันบาท)</span></i><i><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></i></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:4">
  <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="35%">
  <p class="MsoNormal" style="line-height:normal"><b><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมจากกิจการทีเกี่ยวข้องกัน</span></i></b><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 44.6pt"><span style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 44.6pt"><span style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="35%">
  <p class="MsoNormal" style="line-height:normal"><b><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมระยะสั้น</span></i></b><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 44.6pt"><span style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 44.6pt"><span style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="35%">
  <p class="MsoNormal" style="margin-right:-25.75pt;text-align:justify;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>บริษัทใหญ่</span></b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:decimal 43.95pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:decimal 27.6pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:decimal 50.1pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:decimal 54.8pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="35%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ยอดยกมา<o:p></o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 43.7pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>210</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 27.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 50.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>210,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 54.7pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>-</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="35%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-7.25pt;margin-bottom:
  0cm;margin-left:7.55pt;margin-bottom:.0001pt;text-indent:-7.55pt;line-height:
  normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เพิ่มขึ้น<b><o:p></o:p></b></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 43.7pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>620,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 40.85pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>210,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 50.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>620,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 68.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>210,000<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9">
  <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="35%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-7.25pt;margin-bottom:
  0cm;margin-left:7.55pt;margin-bottom:.0001pt;text-indent:-7.55pt;line-height:
  normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ลดลง<o:p></o:p></span></p>
  </td>
  <td style="width:12.48%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 43.7pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(830,000)<o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.88%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 27.5pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.76%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 50.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(830,000)<o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.54%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 54.7pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>-</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10">
  <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="35%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ณ วันที่ </span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>3<span lang="TH">1 ธันวาคม<o:p></o:p></span></span></b></p>
  </td>
  <td style="width:12.48%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 30.35pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>-</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.88%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 40.85pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>210,000<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.76%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoNormal" style="tab-stops:decimal 35.95pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:18.54%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 68.05pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>210,000<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11">
  <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="35%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><i><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 30.35pt"><b><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 27.5pt"><b><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 50.0pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:18.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 54.7pt"><b><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:12">
  <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="35%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมระยะยาว<o:p></o:p></span></i></b></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 30.35pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 27.5pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 50.0pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:18.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 54.7pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:13">
  <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="35%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัทใหญ่<i><o:p></o:p></i></span></b></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 30.35pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 27.5pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 50.0pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:18.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 54.7pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:14">
  <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="35%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ยอดยกมา</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 43.7pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>5,992,529<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 27.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 50.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>5,992,529<o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 54.7pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:15">
  <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="35%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-7.25pt;margin-bottom:
  0cm;margin-left:7.55pt;margin-bottom:.0001pt;text-indent:-7.55pt;line-height:
  normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เพิ่มขึ้น<b><o:p></o:p></b></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 43.7pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,500,000<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 40.85pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>5,992,529<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 50.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,500,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 68.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>5,992,529<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:16">
  <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="35%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-7.25pt;margin-bottom:
  0cm;margin-left:7.55pt;margin-bottom:.0001pt;text-indent:-7.55pt;line-height:
  normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ลดลง<o:p></o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 43.7pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(7,518,000)<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 27.5pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 50.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(7,518,000)<o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 54.7pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:17">
  <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="35%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-7.25pt;margin-bottom:
  0cm;margin-left:7.55pt;margin-bottom:.0001pt;text-indent:-7.55pt;line-height:
  normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ตัดจำหน่ายต้นทุนการทำรายการเงินกู้ยืม<o:p></o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 43.7pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>25,471<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 27.5pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 50.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>25,471<o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 54.7pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:18">
  <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="35%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-7.25pt;margin-bottom:
  0cm;margin-left:7.55pt;margin-bottom:.0001pt;text-indent:-7.55pt;line-height:
  normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>รวม<o:p></o:p></span></b></p>
  </td>
  <td style="width:12.48%;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 30.2pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.88%;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 40.85pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>5,992,529<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.76%;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.35pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:18.54%;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 68.05pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>5,992,529<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:19">
  <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="35%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-7.25pt;margin-bottom:
  0cm;margin-left:7.55pt;margin-bottom:.0001pt;text-indent:-7.55pt;line-height:
  normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>หัก </span></i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ส่วนที่ถึงกำหนดชำระภายในหนึ่งปี<o:p></o:p></span></p>
  </td>
  <td style="width:12.48%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 30.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.88%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 40.85pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(300,199)<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.76%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoNormal" style="tab-stops:decimal 35.95pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.54%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 68.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(300,199)<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:20;mso-yfti-lastrow:yes">
  <td style="width:35.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="35%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ณ วันที่ </span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>31<span lang="TH">
  ธันวาคม</span></span></b><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:12.48%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 30.35pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.88%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 40.85pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>5,692,330<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.76%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoNormal" style="tab-stops:decimal 35.95pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:18.54%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 68.05pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>5,692,330<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
 </tr>
</tbody></table>