<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:441.9pt;margin-left:27.0pt;border-collapse:collapse;mso-yfti-tbllook:
 1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt" width="737">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
  <td style="width:158.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="264">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>หมายเหตุข้อ<span style="mso-spacerun:yes">  </span></span><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>4<o:p></o:p></span></p>
  </td>
  <td style="width:10.0cm;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="473">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>การซื้อธุรกิจ<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1;mso-yfti-lastrow:yes">
  <td style="width:158.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="264">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>หมายเหตุข้อ<span style="mso-spacerun:yes">  </span></span><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>15<o:p></o:p></span></p>
  </td>
  <td style="width:10.0cm;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="473">
  <p class="MsoNormal" style="margin-left:8.1pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-8.1pt;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>การวัดมูลค่าภาระผูกพันของโครงการผลประโยชน์ที่กำหนดไว้<span style="mso-spacerun:yes"> 
  </span>เกี่ยวกับข้อสมมติหลักในการประมาณการตามหลักคณิตศาสตร์ประกันภัย</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
</tbody></table>