<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:464.85pt;margin-left:22.5pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="775">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
  <td style="width:39.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="39%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td colspan="3" style="width:28.68%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="28%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal"><b><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>งบการเงินรวม</span></b><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td colspan="3" style="width:28.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="28%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:decimal 57.6pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>งบการเงินเฉพาะกิจการ</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1">
  <td style="width:39.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="39%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td style="width:12.7%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>2559</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.08%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>2558</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>2559</span><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>2558</span><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2">
  <td style="width:39.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="39%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td colspan="7" style="width:60.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="60%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:decimal 57.6pt"><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>(พันบาท)</span></i><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:39.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="39%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สกุลเงินบาท</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:12.7%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>470,320<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.08%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>440,798<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 45.8pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>116,738<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 50.4pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 46.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>68,966<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4">
  <td style="width:39.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="39%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สกุลเงินเยน<o:p></o:p></span></p>
  </td>
  <td style="width:12.7%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>16,075<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.08%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 35.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 35.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 50.4pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 35.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5;mso-yfti-lastrow:yes">
  <td style="width:39.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="39%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>รวม<o:p></o:p></span></b></p>
  </td>
  <td style="width:12.7%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>486,395<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 44.6pt"><b><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.08%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>440,798<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.76%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 45.8pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>116,738<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 50.4pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.88%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>68,996<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>