<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:458.25pt;margin-left:27.9pt;border-collapse:collapse;mso-yfti-tbllook:
 480;mso-padding-alt:0cm 5.4pt 0cm 5.4pt" width="764">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
  <td style="width:157.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="263">
  <p class="MsoNormal" style="margin-right:-36.9pt;line-height:normal;tab-stops:
  36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:45.05pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="75">
  <p align="center" class="MsoNormal" style="margin-right:-36.9pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span style='font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td colspan="3" style="width:117.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="195">
  <p align="center" class="MsoNormal" style="margin-right:-4.05pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>งบการเงินรวม</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="center" class="MsoNormal" style="margin-right:-4.05pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td colspan="3" style="width:125.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="209">
  <p align="center" class="MsoNormal" style="margin-right:-4.05pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>งบการเงินเฉพาะกิจการ</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1">
  <td style="width:157.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="263">
  <p class="MsoNormal" style="margin-right:-36.9pt;line-height:normal;tab-stops:
  36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:45.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="75">
  <p align="center" class="MsoNormal" style="margin-right:-11.3pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>หมายเหตุ</span></i><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></i></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-2.15pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2559<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-2.15pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-2.15pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2558<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-2.15pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2559<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-2.15pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:57.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="96">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-2.15pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2558<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2">
  <td style="width:157.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="263">
  <p class="MsoNormal" style="margin-right:-36.9pt;line-height:normal;tab-stops:
  36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:45.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="75">
  <p align="center" class="MsoNormal" style="margin-right:-36.9pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td colspan="7" style="width:255.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="426">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-4.05pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>(พันบาท)<o:p></o:p></span></i></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:157.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="263">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>กิจการที่เกี่ยวข้องกัน<o:p></o:p></span></b></p>
  </td>
  <td style="width:45.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="75">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:19.25pt center 22.7pt left 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>5<span lang="TH"><o:p></o:p></span></span></i></p>
  </td>
  <td style="width:54.0pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>6,426<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.5pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="MsoNormal" style="tab-stops:decimal 35.1pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>5,683<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:54.0pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>61,379<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:57.6pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="96">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>5,683<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4">
  <td style="width:157.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="263">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>กิจการอื่น</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:45.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="75">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:54.0pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.5pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="MsoNormal" style="tab-stops:decimal 35.1pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:57.6pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="96">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:157.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="263">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ดอกเบี้ยค้างรับ</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:45.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="75">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>7,235<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="MsoNormal" style="tab-stops:decimal 35.1pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>578<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>7,124<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:57.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="96">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>15<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:157.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="263">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เบี้ยประกันภัยจ่ายล่วงหน้า<o:p></o:p></span></p>
  </td>
  <td style="width:45.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="75">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>7,429<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="MsoNormal" style="tab-stops:decimal 35.1pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>5,826<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>655<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:57.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="96">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>1,340<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:157.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="263">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เงินทดรองจ่ายสำหรับการเตรียมการ</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>โครงการผลิตไฟฟ้าจากพลังงาน</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>แสงอาทิตย์</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:45.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="75">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>352,481<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 35.1pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 35.1pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 28.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 35.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:57.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="96">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 35.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:157.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="263">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>อื่น<o:p></o:p></span></p>
  </td>
  <td style="width:45.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="75">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>28,163<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="MsoNormal" style="tab-stops:decimal 35.1pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>3,147<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>2,984<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:57.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="96">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>498<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9;mso-yfti-lastrow:yes">
  <td style="width:157.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="263">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>รวม</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:45.05pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="75">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>401,734<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.5pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="MsoNormal" style="tab-stops:decimal 35.1pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>15,234<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:54.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>72,142<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:57.6pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="96">
  <p class="MsoNormal" style="tab-stops:decimal 44.15pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>7,536<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>