<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:466.55pt;margin-left:27.9pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="778">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
  <td style="width:52.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="52%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td colspan="3" style="width:47.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="47%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>งบการเงินเฉพาะกิจการ<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1;height:14.95pt">
  <td style="width:52.1%;padding:0cm 5.4pt 0cm 5.4pt;
  height:14.95pt" valign="top" width="52%">
  <p class="MsoNormal" style="line-height:normal"><b><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td style="width:23.14%;padding:0cm 5.4pt 0cm 5.4pt;
  height:14.95pt" valign="top" width="23%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุด</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>วันที่
  </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>31<span lang="TH"> ธันวาคม </span>2559<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt;
  height:14.95pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:21.86%;padding:0cm 5.4pt 0cm 5.4pt;
  height:14.95pt" valign="top" width="21%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สำหรับรอบระยะเวลาบัญชีตั้งแต่วันที่
  </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>17<o:p></o:p></span></p>
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes"> </span><span lang="TH">กรกฎาคม </span>2558 <span lang="TH">ถึงวันที่ </span><o:p></o:p></span></p>
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>3<span lang="TH">1 ธันวาคม</span> 2558<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2;height:14.95pt">
  <td style="width:52.1%;padding:0cm 5.4pt 0cm 5.4pt;
  height:14.95pt" valign="top" width="52%">
  <p class="MsoNormal" style="line-height:normal"><b><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td colspan="3" style="width:47.9%;padding:0cm 5.4pt 0cm 5.4pt;
  height:14.95pt" valign="top" width="47%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:269.35pt 280.65pt 316.1pt 327.45pt"><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>(พันบาท)<o:p></o:p></span></i></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:52.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="52%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัทย่อย<o:p></o:p></span></i></b></p>
  </td>
  <td style="width:23.14%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:11.35pt 22.7pt decimal 31.45pt left 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:11.35pt 22.7pt decimal 31.45pt left 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:21.86%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="21%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:11.35pt 22.7pt decimal 31.45pt left 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4">
  <td style="width:52.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="52%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ณ วันที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1 <span lang="TH">มกราคม</span>
  / 17 <span lang="TH">กรกฎาคม<o:p></o:p></span></span></p>
  </td>
  <td style="width:23.14%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>6,333,337<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-23.4pt;text-align:justify;tab-stops:
  decimal 71.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:21.86%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="21%">
  <p class="MsoNormal" style="margin-right:-23.4pt;text-align:justify;tab-stops:
  decimal 66.55pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:52.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="52%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ซื้อเงินลงทุน<o:p></o:p></span></p>
  </td>
  <td style="width:23.14%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>19,999<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="left" class="1-Number" style="margin-top:0cm;margin-right:-23.4pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:left;
  tab-stops:decimal 85.0pt"><o:p> </o:p></p>
  </td>
  <td style="width:21.86%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="21%">
  <p align="left" class="1-Number" style="margin-top:0cm;margin-right:-23.4pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:left;
  tab-stops:decimal 84.5pt">6,333,337</p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6;mso-yfti-lastrow:yes">
  <td style="width:52.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="52%">
  <p align="left" class="1-Number" style="margin-left:0cm;text-align:left;
  tab-stops:36.0pt"><b><span lang="TH">ณ วันที่ </span>3<span lang="TH">1 ธันวาคม</span><o:p></o:p></b></p>
  </td>
  <td style="width:23.14%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="top" width="23%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 89.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>6,353,336<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="left" class="1-Number" style="margin-right:-23.4pt;text-align:left;
  tab-stops:decimal 85.0pt"><b><o:p> </o:p></b></p>
  </td>
  <td style="width:21.86%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="top" width="21%">
  <p align="left" class="1-Number" style="margin-right:-23.4pt;text-align:left;
  tab-stops:decimal 84.5pt"><b>6,333,337<o:p></o:p></b></p>
  </td>
 </tr>
</tbody></table>