<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:698.4pt;margin-left:22.5pt;border-collapse:collapse;mso-yfti-tbllook:
 480;mso-padding-alt:0cm 5.4pt 0cm 5.4pt" width="1164">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
  <td style="width:140.4pt;padding:0cm 5.4pt 0cm 5.4pt" width="234">
  <p align="center" class="MsoNormal" style="margin-right:-5.5pt;text-align:center;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td colspan="15" style="width:558.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="930">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:27.0pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>งบการเงินรวม</span></b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1">
  <td style="width:140.4pt;padding:0cm 5.4pt 0cm 5.4pt" width="234"><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  "Times New Roman";mso-ansi-language:EN-US;mso-fareast-language:EN-US;
  mso-bidi-language:TH'><br clear="all" style="mso-special-character:line-break;
  page-break-before:always"/>
  </span>
  <p align="center" class="MsoNormal" style="margin-right:-5.5pt;text-align:center;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><i><span style='font-size:14.0pt;font-family:"Angsana New","serif";color:blue'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:2.0cm;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="95">
  <p align="center" class="MsoNormal" style="margin-right:-5.5pt;text-align:center;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>ที่ดิน</span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:11.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="20">
  <p align="center" class="MsoNormal" style="margin-right:-5.5pt;text-align:center;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:50.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="84">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>อาคาร</span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:71.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="119">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>ส่วนปรับปรุงที่ดินและระบบสาธารณูปโภค<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:61.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="103">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>เครื่องจักรและอุปกรณ์<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="90">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>เครื่องใช้สำนักงาน</span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="90">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>ยานพาหนะ<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="98">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>งานระหว่างก่อสร้าง</span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:13.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="97">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>รวม<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2">
  <td style="width:140.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="234">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td colspan="15" style="width:558.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="930">
  <p align="center" class="acctfourfigures" style="margin-right:.55pt;text-align:
  center;line-height:18.0pt;mso-line-height-rule:exactly"><i><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US'>(</span></i><i><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>พันบาท</span></i><i><span style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US'>)</span></i><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:140.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="234">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>มูลค่าสุทธิทางบัญชี<o:p></o:p></span></i></b></p>
  </td>
  <td style="width:2.0cm;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="95">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="20">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:50.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="84">
  <p class="MsoNormal" style="line-height:18.0pt;mso-line-height-rule:exactly"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:71.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="119">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:61.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="103">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="90">
  <p class="MsoNormal" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 57.6pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 39.6pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
  <p class="acctfourfigures" style="margin-right:-.05pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:58.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="97">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4">
  <td style="width:140.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="234">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>ณ วันที่ </span></b><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>1 <span lang="TH">มกราคม
  </span>255<span lang="TH">8</span><o:p></o:p></span></b></p>
  </td>
  <td style="width:2.0cm;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="95">
  <p class="acctfourfigures" style="margin-left:-9.1pt;text-indent:9.1pt;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 38.8pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="20">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:50.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="84">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 38.85pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:71.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="119">
  <p align="right" class="acctfourfigures" style="margin-right:3.6pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:18.9pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:61.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="103">
  <p align="right" class="acctfourfigures" style="margin-right:-.9pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="90">
  <p class="MsoNormal" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 57.6pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 39.6pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
  <p align="center" class="acctfourfigures" style="margin-top:0cm;margin-right:
  -.05pt;margin-bottom:0cm;margin-left:-3.2pt;margin-bottom:.0001pt;text-align:
  center;text-indent:3.2pt;line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="97">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:140.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="234">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>ภายใต้กรรมสิทธิ์ของบริษัท<o:p></o:p></span></p>
  </td>
  <td style="width:2.0cm;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="95">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 39.6pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>368,340</span><span dir="RTL" lang="AR-SA" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:11.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="20">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:50.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="84">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 38.6pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>178,507<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:71.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="119">
  <p class="acctfourfigures" style="margin-right:-4.65pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 51.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>973,158<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:61.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="103">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 50.85pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>9,002,346<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="90">
  <p class="MsoNormal" style="margin-right:-4.65pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 39.6pt"><span style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>112,150<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 39.6pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>6,099<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
  <p class="acctfourfigures" style="margin-right:-4.65pt;text-indent:3.2pt;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 47.85pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>14,738<o:p></o:p></span></p>
  </td>
  <td style="width:13.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="97">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>10,655,338<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:140.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="234">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>ภายใต้สัญญาเช่าทางการเงิน<o:p></o:p></span></p>
  </td>
  <td style="width:2.0cm;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="95">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 30.6pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:11.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="20">
  <p class="MsoNormal" style="margin-right:3.6pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif";mso-ansi-language:EN-GB'><o:p> </o:p></span></p>
  </td>
  <td style="width:50.3pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="84">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 25.1pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>-</span><span style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:3.6pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:71.55pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="119">
  <p class="acctfourfigures" style="margin-right:-4.65pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 42.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:3.6pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:61.65pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="103">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:3.6pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="90">
  <p class="MsoNormal" style="margin-right:-4.65pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 30.6pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-GB'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 39.6pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>1,028<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.5pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
  <p class="acctfourfigures" style="margin-right:-4.65pt;text-indent:3.2pt;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.35pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.35pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="97">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>1,028<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:140.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="234">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.0cm;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="95">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 39.6pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>368,340</span></b><b><span dir="RTL" lang="AR-SA" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:11.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="20">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:50.3pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="84">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 38.6pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>178,507<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:71.55pt;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="119">
  <p class="acctfourfigures" style="margin-right:-4.65pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 51.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>973,158<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:61.65pt;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="103">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 50.85pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>9,002,346</span></b><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif";mso-bidi-language:TH'><o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:54.0pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="90">
  <p class="MsoNormal" style="margin-right:-4.65pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 39.6pt"><b><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>112,150<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:54.0pt;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 39.6pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>7,127<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:58.5pt;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
  <p class="acctfourfigures" style="margin-right:-4.65pt;text-indent:3.2pt;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 47.85pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>14,738<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:58.35pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="97">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>10,656,366<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:140.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="234">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>ณ วันที่ </span></b><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>31 <span lang="TH">ธันวาคม
  </span>255<span lang="TH">8</span><span style="mso-spacerun:yes">    </span><span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.0cm;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="95">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 31.75pt"><span dir="RTL" lang="AR-SA" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="20">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:50.3pt;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="84">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 28.05pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:71.55pt;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="119">
  <p class="acctfourfigures" style="margin-right:-4.65pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 48.65pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:61.65pt;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="103">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 38.15pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="90">
  <p class="MsoNormal" style="margin-right:-4.65pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 39.6pt"><span style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 39.6pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.5pt;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
  <p class="acctfourfigures" style="margin-top:0cm;margin-right:-4.65pt;
  margin-bottom:0cm;margin-left:-3.2pt;margin-bottom:.0001pt;text-indent:3.2pt;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 47.85pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.35pt;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="97">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9">
  <td style="width:140.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="234">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">    </span><span lang="TH">และ</span> 1<span lang="TH"> มกราคม </span>255<span lang="TH">9</span><o:p></o:p></span></b></p>
  </td>
  <td style="width:2.0cm;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="95">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 31.75pt"><span dir="RTL" lang="AR-SA" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="20">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:50.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="84">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 28.05pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:71.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="119">
  <p class="acctfourfigures" style="margin-right:-4.65pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 48.65pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:61.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="103">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 38.15pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="90">
  <p class="MsoNormal" style="margin-right:-4.65pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 39.6pt"><span style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 39.6pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
  <p class="acctfourfigures" style="margin-top:0cm;margin-right:-4.65pt;
  margin-bottom:0cm;margin-left:-3.2pt;margin-bottom:.0001pt;text-indent:3.2pt;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 47.85pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="97">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10">
  <td style="width:140.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="234">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>ภายใต้กรรมสิทธิ์ของบริษัท<o:p></o:p></span></p>
  </td>
  <td style="width:2.0cm;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="95">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 39.6pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>368,340<o:p></o:p></span></p>
  </td>
  <td style="width:11.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="20">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:50.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="84">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 38.6pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>171,984<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:71.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="119">
  <p class="acctfourfigures" style="margin-right:-4.65pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 51.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>954,295<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:61.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="103">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 50.85pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>8,609,589<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="90">
  <p class="MsoNormal" style="margin-right:-4.65pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 39.6pt"><span style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>88,321<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 39.6pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>6,090<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
  <p class="acctfourfigures" style="margin-right:-4.65pt;text-indent:3.2pt;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 47.85pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>20,368<o:p></o:p></span></p>
  </td>
  <td style="width:13.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="97">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>10,218,987<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11">
  <td style="width:140.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="234">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>ภายใต้สัญญาเช่าทางการเงิน<o:p></o:p></span></p>
  </td>
  <td style="width:2.0cm;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="95">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 30.6pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:11.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="20">
  <p class="MsoNormal" style="margin-right:3.6pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif";mso-ansi-language:EN-GB'><o:p> </o:p></span></p>
  </td>
  <td style="width:50.3pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="84">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 25.1pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:3.6pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:71.55pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="119">
  <p class="acctfourfigures" style="margin-right:-4.65pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 42.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:3.6pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:61.65pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="103">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:3.6pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="90">
  <p class="MsoNormal" style="margin-right:-4.65pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 30.6pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-GB'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 39.6pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>517<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.5pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
  <p class="acctfourfigures" style="margin-right:-4.65pt;text-indent:3.2pt;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.35pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.35pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="97">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>517<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:12">
  <td style="width:140.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="234">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.0cm;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="95">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 39.6pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>368,340</span></b><b><span dir="RTL" lang="AR-SA" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:11.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="20">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:50.3pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="84">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 38.6pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>171,984<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:71.55pt;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="119">
  <p class="acctfourfigures" style="margin-right:-4.65pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 51.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>954,295<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:61.65pt;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="103">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 50.85pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>8,609,589<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:54.0pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="90">
  <p class="MsoNormal" style="margin-right:-4.65pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 39.6pt"><b><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>88,321<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:54.0pt;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 39.6pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>6,607<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:58.5pt;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
  <p class="acctfourfigures" style="margin-right:-4.65pt;text-indent:3.2pt;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 47.85pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>20,368<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:58.35pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="97">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>10,219,504<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:13">
  <td style="width:140.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="234">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>ณ วันที่ </span></b><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>31 <span lang="TH">ธันวาคม
  </span>255<span lang="TH">9<o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.0cm;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="95">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 38.8pt"><span dir="RTL" lang="AR-SA" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="20">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:50.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="84">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 38.85pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:71.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="119">
  <p class="acctfourfigures" style="margin-right:-4.65pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 52.35pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:61.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="103">
  <p align="right" class="acctfourfigures" style="margin-right:-.9pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="90">
  <p class="MsoNormal" style="margin-right:-4.65pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 47.85pt"><span style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 39.6pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
  <p class="acctfourfigures" style="margin-top:0cm;margin-right:-4.65pt;
  margin-bottom:0cm;margin-left:-3.2pt;margin-bottom:.0001pt;text-indent:3.2pt;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 47.85pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="97">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:14">
  <td style="width:140.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="234">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>ภายใต้กรรมสิทธิ์ของบริษัท<o:p></o:p></span></p>
  </td>
  <td style="width:2.0cm;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="95">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 38.8pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>741,804<o:p></o:p></span></p>
  </td>
  <td style="width:11.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="20">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:50.3pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="84">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 38.85pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>185,532<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:71.55pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="119">
  <p class="acctfourfigures" style="margin-right:-4.65pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 52.35pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>982,138<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:61.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="103">
  <p class="acctfourfigures" style="margin-right:-.9pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 52.35pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>10,524,904<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="90">
  <p class="MsoNormal" style="margin-right:-4.65pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 39.6pt"><span style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>75,620<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 39.6pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>7,869<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
  <p class="acctfourfigures" style="margin-right:-4.65pt;text-indent:3.2pt;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 47.85pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>1,676,765<o:p></o:p></span></p>
  </td>
  <td style="width:13.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="97">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>14,194,632<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:15">
  <td style="width:140.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="234">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>ภายใต้สัญญาเช่าทางการเงิน<o:p></o:p></span></p>
  </td>
  <td style="width:2.0cm;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="95">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 30.6pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:11.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="20">
  <p class="MsoNormal" style="margin-right:3.6pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif";mso-ansi-language:EN-GB'><o:p> </o:p></span></p>
  </td>
  <td style="width:50.3pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="84">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 25.35pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:3.6pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:71.55pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="119">
  <p class="acctfourfigures" style="margin-right:-4.65pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 42.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:3.6pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:61.65pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="103">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 38.85pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:3.6pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="90">
  <p class="MsoNormal" style="margin-right:-4.65pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 30.6pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-GB'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 30.6pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.5pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
  <p class="acctfourfigures" style="margin-right:-4.65pt;text-indent:3.2pt;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 35.1pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.35pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="97">
  <p align="right" class="acctfourfigures" style="margin-right:8.1pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:16;mso-yfti-lastrow:yes">
  <td style="width:140.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="234">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.0cm;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="95">
  <p class="acctfourfigures" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 38.8pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>741,804</span></b><b><span dir="RTL" lang="AR-SA" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:11.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="20">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:50.3pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="84">
  <p class="acctfourfigures" style="margin-right:-.15pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 38.85pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>185,532<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:71.55pt;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="119">
  <p class="acctfourfigures" style="margin-right:-4.65pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 52.35pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>982,138<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:61.65pt;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="103">
  <p class="acctfourfigures" style="margin-right:-.9pt;line-height:18.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 52.35pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>10,524,904<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:54.0pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="90">
  <p class="MsoNormal" style="margin-right:-4.65pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 39.6pt"><b><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>75,620<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:54.0pt;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="90">
  <p class="MsoNormal" style="line-height:18.0pt;mso-line-height-rule:exactly;
  tab-stops:decimal 39.6pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>7,869<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:58.5pt;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
  <p class="acctfourfigures" style="margin-right:-4.65pt;text-indent:3.2pt;
  line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 47.85pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>1,676,765<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:18.0pt;mso-line-height-rule:exactly;tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:58.35pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="97">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>14,194,632<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>