<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:363.0pt;margin-left:22.5pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="605">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
  <td style="width:269.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="449">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-4.3pt;margin-bottom:
  0cm;margin-left:9.0pt;margin-bottom:.0001pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>อาคาร<o:p></o:p></span></p>
  </td>
  <td style="width:59.75pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="100">
  <p align="right" class="MsoNormal" style="margin-top:0cm;margin-right:-4.3pt;
  margin-bottom:0cm;margin-left:.1pt;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:center 23.4pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>20<span lang="TH"> </span>-<span lang="TH"> </span>25<o:p></o:p></span></p>
  </td>
  <td style="width:33.75pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="56">
  <p class="MsoNormal" style="margin-right:-4.3pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ปี</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1">
  <td style="width:269.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="449">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-4.3pt;margin-bottom:
  0cm;margin-left:9.0pt;margin-bottom:.0001pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ส่วนปรับปรุงที่ดินและระบบสาธารณูปโภค<o:p></o:p></span></p>
  </td>
  <td style="width:59.75pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="100">
  <p align="right" class="MsoNormal" style="margin-top:0cm;margin-right:-4.3pt;
  margin-bottom:0cm;margin-left:.1pt;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:center 23.4pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>20<span lang="TH"> </span>-<span lang="TH"> </span>25<o:p></o:p></span></p>
  </td>
  <td style="width:33.75pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="56">
  <p class="MsoNormal" style="margin-right:-4.3pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ปี<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2">
  <td style="width:269.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="449">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-4.3pt;margin-bottom:
  0cm;margin-left:9.0pt;margin-bottom:.0001pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เครื่องจักรและอุปกรณ์<o:p></o:p></span></p>
  </td>
  <td style="width:59.75pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="100">
  <p align="right" class="MsoNormal" style="margin-top:0cm;margin-right:-4.3pt;
  margin-bottom:0cm;margin-left:.1pt;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:center 23.4pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>10<span lang="TH"> </span>-<span lang="TH"> </span>25<o:p></o:p></span></p>
  </td>
  <td style="width:33.75pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="56">
  <p class="MsoNormal" style="margin-right:-4.3pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ปี</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:269.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="449">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-4.3pt;margin-bottom:
  0cm;margin-left:9.0pt;margin-bottom:.0001pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เครื่องใช้สำนักงาน<o:p></o:p></span></p>
  </td>
  <td style="width:59.75pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="100">
  <p align="right" class="MsoNormal" style="margin-top:0cm;margin-right:-4.3pt;
  margin-bottom:0cm;margin-left:.1pt;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:center 23.4pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>3<span lang="TH"> </span>-<span lang="TH"> </span>5<o:p></o:p></span></p>
  </td>
  <td style="width:33.75pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="56">
  <p class="MsoNormal" style="margin-right:-4.3pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ปี</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4;mso-yfti-lastrow:yes">
  <td style="width:269.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="449">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-4.3pt;margin-bottom:
  0cm;margin-left:9.0pt;margin-bottom:.0001pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ยานพาหนะ<o:p></o:p></span></p>
  </td>
  <td style="width:59.75pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="100">
  <p align="right" class="MsoNormal" style="margin-top:0cm;margin-right:-4.3pt;
  margin-bottom:0cm;margin-left:.1pt;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:center 23.4pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>5<o:p></o:p></span></p>
  </td>
  <td style="width:33.75pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="56">
  <p class="MsoNormal" style="margin-right:-4.3pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ปี</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
</tbody></table>