<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:94.6%;margin-left:36.9pt;border-collapse:collapse;mso-yfti-tbllook:
 480;mso-padding-alt:0cm 5.4pt 0cm 5.4pt" width="94%">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
  <td style="width:17.42%;padding:0cm 5.4pt 0cm 5.4pt" width="17%">
  <p align="center" class="MsoNormal" style="margin-top:0cm;margin-right:-5.5pt;
  margin-bottom:0cm;margin-left:36.0pt;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><i><span style='font-size:14.0pt;
  font-family:"Angsana New","serif";color:blue'><o:p> </o:p></span></i></p>
  </td>
  <td colspan="15" style="width:82.58%;padding:0cm 5.4pt 0cm 5.4pt" width="82%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:27.0pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>งบการเงินเฉพาะกิจการ</span></b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1">
  <td style="width:17.42%;padding:0cm 5.4pt 0cm 5.4pt" width="17%">
  <p align="center" class="MsoNormal" style="margin-top:0cm;margin-right:-5.5pt;
  margin-bottom:0cm;margin-left:36.0pt;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><i><span style='font-size:14.0pt;
  font-family:"Angsana New","serif";color:blue'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:7.84%;padding:0cm 5.4pt 0cm 5.4pt" width="7%">
  <p align="center" class="MsoNormal" style="margin-top:0cm;margin-right:-5.5pt;
  margin-bottom:0cm;margin-left:36.0pt;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="center" class="MsoNormal" style="margin-top:0cm;margin-right:-5.5pt;
  margin-bottom:0cm;margin-left:36.0pt;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="center" class="MsoNormal" style="margin-right:-5.5pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>ที่ดิน</span><i><span style='font-size:
  14.0pt;font-family:"Angsana New","serif";color:blue'><o:p></o:p></span></i></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" width="1%">
  <p align="center" class="MsoNormal" style="margin-right:-5.5pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><i><span style='font-size:14.0pt;
  font-family:"Angsana New","serif";color:blue'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:7.52%;padding:0cm 5.4pt 0cm 5.4pt" width="7%">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:27.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:27.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="center" class="MsoNormal" style="margin-right:-5.5pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>อาคาร</span><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:1.76%;padding:0cm 5.4pt 0cm 5.4pt" width="1%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:27.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:10.2%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="10%">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:27.0pt"><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>ส่วนปรับปรุงที่ดินและระบบสาธารณูปโภค<o:p></o:p></span></p>
  </td>
  <td style="width:1.72%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:27.0pt"><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.78%;padding:0cm 5.4pt 0cm 5.4pt" width="9%">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:27.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:27.0pt"><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>เครื่องจักรและอุปกรณ์<o:p></o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" width="1%">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:27.0pt"><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.6%;padding:0cm 5.4pt 0cm 5.4pt" width="9%">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:27.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:27.0pt"><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>เครื่องใช้สำนักงาน</span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" width="1%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:27.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:7.74%;padding:0cm 5.4pt 0cm 5.4pt" width="7%">
  <p align="center" class="MsoNormal" style="margin-right:-9.9pt;text-align:center;
  line-height:normal;tab-stops:27.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="center" class="MsoNormal" style="margin-right:-9.9pt;text-align:center;
  line-height:normal;tab-stops:27.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>ยานพาหนะ<o:p></o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" width="1%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:27.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.04%;padding:0cm 5.4pt 0cm 5.4pt" width="9%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:27.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:27.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>งานระหว่างก่อสร้าง</span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:1.82%;padding:0cm 5.4pt 0cm 5.4pt" width="1%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:27.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:8.44%;padding:0cm 5.4pt 0cm 5.4pt" width="8%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:27.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:27.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:27.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>รวม<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2">
  <td style="width:17.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="17%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><b><i><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td colspan="15" style="width:82.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="82%">
  <p align="center" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  center;line-height:normal;tab-stops:decimal 34.3pt"><i><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US'>(</span></i><i><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>พันบาท</span></i><i><span style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US'>)</span></i><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:17.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="17%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><b><i><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>ค่าเสื่อมราคา</span></i></b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:7.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="7%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  decimal 40.35pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:7.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="7%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:10.2%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="10%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 47.9pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.72%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.6%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:7.74%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="7%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.04%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.82%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:8.44%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4">
  <td style="width:17.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="17%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>ณ วันที่ </span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>17 <span lang="TH">กรกฎาคม</span>
  2558<o:p></o:p></span></p>
  </td>
  <td style="width:7.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 31.85pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:7.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 28.5pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:1.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:10.2%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="10%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.65pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:1.72%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  normal;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 39.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  normal;tab-stops:decimal 55.85pt"><span style='font-size:14.0pt;font-family:
  "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.6%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 40.85pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:normal;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:7.74%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 27.55pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:normal;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.04%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 38.45pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:1.82%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:normal;tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:8.44%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p class="MsoNormal" style="margin-right:3.55pt;line-height:normal;tab-stops:
  decimal 30.45pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:17.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="17%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>ค่าเสื่อมราคาสำหรับงวด<o:p></o:p></span></p>
  </td>
  <td style="width:7.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="7%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 31.85pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<span dir="RTL" lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="MsoNormal" style="margin-right:-5.75pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:7.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 37.5pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'>68</span><span dir="RTL" lang="AR-SA" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:1.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:10.2%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="10%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 59.15pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>881<o:p></o:p></span></p>
  </td>
  <td style="width:1.72%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p align="right" class="acctfourfigures" style="margin-right:-5.75pt;text-align:
  right;line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 52.5pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>12,356<o:p></o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p align="right" class="acctfourfigures" style="margin-right:-5.75pt;text-align:
  right;line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.6%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 52.85pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>366<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p align="right" class="acctfourfigures" style="margin-right:-5.75pt;text-align:
  right;line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:7.74%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 41.05pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>11<o:p></o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p align="right" class="acctfourfigures" style="margin-right:-5.75pt;text-align:
  right;line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.04%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 38.45pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:1.82%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p align="right" class="acctfourfigures" style="margin-right:-5.75pt;text-align:
  right;line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:8.44%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p class="MsoNormal" style="margin-right:3.55pt;line-height:normal;tab-stops:
  decimal 43.95pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>13,682<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:17.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="17%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.5pt;margin-bottom:
  0cm;margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;line-height:
  normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>ณ วันที่ </span></b><b><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>31<span lang="TH"> ธันวาคม </span>2558<span lang="TH"> และ</span> 1<span lang="TH"> มกราคม </span>255<span lang="TH">9</span></span></b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:7.84%;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 31.85pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:7.52%;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="7%">
  <p class="MsoNormal" style="margin-right:-5.75pt;line-height:normal;tab-stops:
  decimal 37.5pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>68<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:10.2%;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="10%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 59.15pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>881<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.72%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.78%;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 52.5pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>12,356<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.6%;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 52.85pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>366<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:7.74%;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 41.05pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>11<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.04%;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 38.45pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.82%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:8.44%;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p class="MsoNormal" style="margin-right:3.55pt;line-height:normal;tab-stops:
  decimal 43.95pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>13,682<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:17.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="17%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>ค่าเสื่อมราคาสำหรับปี<o:p></o:p></span></p>
  </td>
  <td style="width:7.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="7%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 31.85pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<span dir="RTL" lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="MsoNormal" style="margin-right:-5.75pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:7.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 37.5pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'>795</span><span dir="RTL" lang="AR-SA" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:1.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:10.2%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="10%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 59.15pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>10,385<o:p></o:p></span></p>
  </td>
  <td style="width:1.72%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p align="right" class="acctfourfigures" style="margin-right:-5.75pt;text-align:
  right;line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 52.5pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>145,502<o:p></o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p align="right" class="acctfourfigures" style="margin-right:-5.75pt;text-align:
  right;line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.6%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 52.85pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>3,917<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p align="right" class="acctfourfigures" style="margin-right:-5.75pt;text-align:
  right;line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:7.74%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 41.05pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>707<o:p></o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p align="right" class="acctfourfigures" style="margin-right:-5.75pt;text-align:
  right;line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.04%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 38.45pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:1.82%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p align="right" class="acctfourfigures" style="margin-right:-5.75pt;text-align:
  right;line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:8.44%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p class="MsoNormal" style="margin-right:3.55pt;line-height:normal;tab-stops:
  decimal 43.95pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>161,306<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:17.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="17%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>ณ
  วันที่ </span></b><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>31<span lang="TH"> ธันวาคม </span>2558</span></b><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:7.84%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 31.85pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:7.52%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="7%">
  <p class="MsoNormal" style="margin-right:-5.75pt;line-height:normal;tab-stops:
  decimal 37.5pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>863<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:10.2%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="10%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 59.15pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>11,266<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.72%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  normal;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.78%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 52.5pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>157,858<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  normal;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.6%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 52.85pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>4,283<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:normal;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:7.74%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 41.05pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>718<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:normal;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.04%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 38.45pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.82%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p align="right" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  right;line-height:normal;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:8.44%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p class="MsoNormal" style="margin-right:3.55pt;line-height:normal;tab-stops:
  decimal 43.95pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>174,988<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9">
  <td style="width:17.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="17%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:10.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td style="width:7.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="7%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  decimal 40.35pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:7.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="7%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:10.2%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="10%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 47.9pt"><span lang="EN-GB" style='font-size:10.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.72%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:10.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:10.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:10.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.6%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:10.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:10.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:7.74%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="7%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:10.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:10.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.04%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:10.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.82%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:10.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:8.44%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:10.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10">
  <td style="width:17.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="17%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>มูลค่าสุทธิทางบัญชี<o:p></o:p></span></i></b></p>
  </td>
  <td style="width:7.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="7%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  decimal 40.35pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:7.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="7%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:10.2%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="10%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 47.9pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.72%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.6%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:7.74%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="7%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.04%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:1.82%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:8.44%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11">
  <td style="width:17.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="17%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>ณ วันที่ </span></b><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>17 <span lang="TH">กรกฎาคม
  </span>2558<o:p></o:p></span></b></p>
  </td>
  <td style="width:7.84%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 31.85pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:7.52%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 28.5pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:10.2%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="10%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.65pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.72%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.78%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 39.0pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 55.85pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.6%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 40.85pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:7.74%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 27.55pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.04%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 38.45pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.82%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:8.44%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p class="MsoNormal" style="margin-right:3.55pt;line-height:normal;tab-stops:
  decimal 30.45pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:12">
  <td style="width:17.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="17%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.5pt;margin-bottom:
  0cm;margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;line-height:
  18.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>ณ วันที่ </span></b><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>31<span lang="TH">
  ธันวาคม </span>2558<span lang="TH"> และ</span> 1<span lang="TH"> มกราคม </span>255<span lang="TH">9</span></span></b><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:7.84%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="7%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 31.85pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<span dir="RTL" lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="MsoNormal" style="margin-right:-5.75pt;line-height:normal;tab-stops:
  decimal 40.35pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:7.52%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 40.35pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'>16,863</span></b><b><span dir="RTL" lang="AR-SA" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:1.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 30.6pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:10.2%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="10%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 59.15pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>212,229<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.72%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.75pt;line-height:normal;
  tab-stops:decimal 40.35pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.78%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 54.2pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>2,987,393<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.75pt;line-height:normal;
  tab-stops:decimal 40.35pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.6%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 52.85pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>24,032<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.75pt;line-height:normal;
  tab-stops:decimal 40.35pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:7.74%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 41.05pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>254<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.75pt;line-height:normal;
  tab-stops:decimal 40.35pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.04%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 48.35pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>312<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.82%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.75pt;line-height:normal;
  tab-stops:decimal 40.35pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:8.44%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p class="MsoNormal" style="margin-right:3.55pt;line-height:normal;tab-stops:
  decimal 43.95pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>3,241,083<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:13;mso-yfti-lastrow:yes">
  <td style="width:17.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="17%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:18.0pt;mso-line-height-rule:
  exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>ณ วันที่ </span></b><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>31<span lang="TH">
  ธันวาคม </span>2559</span></b><span lang="TH" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:7.84%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 31.85pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:7.52%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="7%">
  <p class="MsoNormal" style="margin-right:-5.75pt;line-height:normal;tab-stops:
  decimal 40.35pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>16,286<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:10.2%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="10%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 59.15pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>211,084<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.72%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.78%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 54.2pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>2,845,499<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.6%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 52.85pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>20,525<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:7.74%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="7%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 41.05pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>2,764<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.04%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="acctfourfigures" style="line-height:normal;tab-stops:decimal 48.35pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>4,716<o:p></o:p></span></b></p>
  </td>
  <td style="width:1.82%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="1%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 34.3pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:8.44%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p class="MsoNormal" style="margin-right:3.55pt;line-height:normal;tab-stops:
  decimal 43.95pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>3,100,874<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>