<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:466.55pt;margin-left:27.9pt;border-collapse:collapse;mso-yfti-tbllook:
 480;mso-padding-alt:0cm 5.4pt 0cm 5.4pt" width="778">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
   <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
   <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
   36.0pt"><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><b><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><b><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td colspan="7" style="width:269.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="449">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><b><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>งบการเงินเฉพาะกิจการ<o:p></o:p></span></b></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1">
   <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
   <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
   36.0pt"><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>ลิขสิทธิ์การใช้และต้นทุนพัฒนาโปรแกรมสำเร็จรูป<o:p></o:p></span></p>
   </td>
   <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>สิทธิในการเชื่อมโยงระบบจำหน่ายไฟฟ้า</span><span style='font-size:12.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>สินทรัพย์ไม่มีตัวตนระหว่างการพัฒนา</span><span style='font-size:12.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:49.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>รวม<o:p></o:p></span></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:2">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><b><i><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p align="center" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  center;line-height:normal;tab-stops:decimal 59.25pt"><i><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p align="center" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  center;line-height:normal;tab-stops:decimal 59.25pt"><i><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></i></p>
  </td>
  <td colspan="7" style="width:269.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="449">
  <p align="center" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  center;line-height:normal;tab-stops:decimal 59.25pt"><i><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>(พันบาท)</span></i><span lang="EN-GB" style='font-size:12.0pt;font-family:
  "Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><b><i><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>ราคาทุน<o:p></o:p></span></i></b></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 59.25pt"><span lang="EN-GB" style='font-size:12.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 59.25pt"><span lang="EN-GB" style='font-size:12.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 59.25pt"><span lang="EN-GB" style='font-size:12.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 59.25pt"><span lang="EN-GB" style='font-size:12.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 59.25pt"><span lang="EN-GB" style='font-size:12.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 59.25pt"><span lang="EN-GB" style='font-size:12.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>ณ
  วันที่ </span><span style='font-size:12.0pt;font-family:"Angsana New","serif"'>1<span lang="TH">7 กรกฎาคม </span>255<span lang="TH">8</span><o:p></o:p></span></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 37.15pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 48.6pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 48.6pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 30.05pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-2.15pt;line-height:normal;
  tab-stops:decimal 30.1pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>เพิ่มขึ้น<o:p></o:p></span></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:63.8pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 37.15pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><span lang="TH" style='font-size:12.0pt;font-family:
  "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:63.8pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 51.45pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>17,823<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><span lang="TH" style='font-size:12.0pt;font-family:
  "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.6pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 30.05pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span lang="TH" style='font-size:12.0pt;font-family:
  "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 37.15pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>17,823<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>ณ
  วันที่ </span></b><b><span style='font-size:12.0pt;font-family:"Angsana New","serif"'>31<span lang="TH"> ธันวาคม </span>2558<span lang="TH"> </span><o:p></o:p></span></b></p>
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>และ </span></b><b><span style='font-size:12.0pt;font-family:"Angsana New","serif"'>1<span lang="TH">
  มกราคม </span>2559<o:p></o:p></span></b></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 37.15pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 51.45pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>17,823<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 30.05pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.65pt;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>17,823<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>เพิ่มขึ้น<o:p></o:p></span></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.2pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>400<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><span lang="TH" style='font-size:12.0pt;font-family:
  "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><span lang="TH" style='font-size:12.0pt;font-family:
  "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.6pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 38.8pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>1,330<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span lang="TH" style='font-size:12.0pt;font-family:
  "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 37.15pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>1,730<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>ณ
  วันที่ </span></b><b><span style='font-size:12.0pt;font-family:"Angsana New","serif"'>31<span lang="TH"> ธันวาคม </span>2559<o:p></o:p></span></b></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.2pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>400<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 51.45pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>17,823<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 38.8pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>1,330<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 38.8pt 57.6pt"><b><span style='font-size:12.0pt;font-family:
  "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.65pt;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>19,553<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.65pt;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-2.15pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><b><i><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>ค่าตัดจำหน่าย<o:p></o:p></span></i></b></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-2.15pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>ณ
  วันที่ </span><span style='font-size:12.0pt;font-family:"Angsana New","serif"'>1<span lang="TH">7 กรกฎาคม </span>255<span lang="TH">8<b><o:p></o:p></b></span></span></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 37.15pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 30.05pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-2.15pt;line-height:normal;
  tab-stops:decimal 36.0pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:12">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>ค่าตัดจำหน่ายสำหรับงวด<o:p></o:p></span></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:63.8pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 37.15pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:63.8pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 51.45pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>70<o:p></o:p></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.6pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 30.05pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.65pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 37.15pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>70<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:13">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>ณ
  วันที่ </span></b><b><span style='font-size:12.0pt;font-family:"Angsana New","serif"'>3<span lang="TH">1 ธันวาคม </span>255<span lang="TH">8 </span><o:p></o:p></span></b></p>
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>และ </span></b><b><span style='font-size:12.0pt;font-family:"Angsana New","serif"'>1<span lang="TH">
  มกราคม </span>2559</span></b><span lang="TH" style='font-size:12.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 37.15pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 51.45pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>70<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 30.05pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.65pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>70<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:14">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>ค่าตัดจำหน่ายสำหรับปี<o:p></o:p></span></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.2pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>11<o:p></o:p></span></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 51.45pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>826<o:p></o:p></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.6pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 30.05pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 37.15pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>837<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:15">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>ณ
  วันที่ </span></b><b><span style='font-size:12.0pt;font-family:"Angsana New","serif"'>3<span lang="TH">1 ธันวาคม </span>2559</span></b><span lang="TH" style='font-size:12.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.2pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>11<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 51.45pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>896<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 51.45pt 62.1pt"><b><span style='font-size:12.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 30.05pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.65pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>907<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:16">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><b><i><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-2.15pt;line-height:normal;
  tab-stops:decimal 51.3pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:17">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><b><i><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>มูลค่าสุทธิทางบัญชี<o:p></o:p></span></i></b></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:63.8pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-2.15pt;line-height:normal;
  tab-stops:decimal 51.3pt"><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:18">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>ณ
  วันที่ 17 กรกฎาคม </span></b><b><span style='font-size:12.0pt;font-family:
  "Angsana New","serif"'>2558<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 37.15pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 30.05pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.65pt;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-2.15pt;line-height:normal;
  tab-stops:decimal 36.0pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:19">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>ณ
  วันที่ </span></b><b><span style='font-size:12.0pt;font-family:"Angsana New","serif"'>3<span lang="TH">1 ธันวาคม </span>255<span lang="TH">8 </span><o:p></o:p></span></b></p>
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>และ </span></b><b><span style='font-size:12.0pt;font-family:"Angsana New","serif"'>1<span lang="TH">
  มกราคม 2559</span></span></b><span lang="TH" style='font-size:12.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.85pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 37.15pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 51.45pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>17,753<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 30.05pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.65pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>17,753<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:20;mso-yfti-lastrow:yes">
  <td style="width:105.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="175">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:12.0pt;font-family:"Angsana New","serif"'>ณ
  วันที่ </span></b><b><span style='font-size:12.0pt;font-family:"Angsana New","serif"'>31<span lang="TH"> ธันวาคม </span>2559</span></b><span lang="TH" style='font-size:12.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:42.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="71">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 57.6pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 44.2pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>389<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.2pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:63.8pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="106">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 51.45pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>16,927<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 62.1pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.6pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 38.8pt"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>1,330<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 38.8pt 57.6pt"><b><span style='font-size:12.0pt;font-family:
  "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.65pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal"><b><span style='font-size:12.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>18,646<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>