<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:491.4pt;margin-left:27.0pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="819">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
   <td colspan="2" style="width:135.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="225">
   <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
   line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
   <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
   line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>วงเงิน<o:p></o:p></span></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
   line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
   <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
   line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ดอกเบี้ย<o:p></o:p></span></p>
   </td>
   <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
   <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
   line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1">
   <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="137">
   <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
   line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="89">
   <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
   tab-stops:82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">  </span>สกุลเงิน<o:p></o:p></span></p>
   </td>
   <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
   <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
   line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>(ล้าน)<o:p></o:p></span></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoNormal" style="text-align:center;line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
   <p align="center" class="MsoNormal" style="text-align:center;line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>อัตรา
   (ร้อยละ) ต่อปี<o:p></o:p></span></p>
   </td>
   <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
   <p align="center" class="MsoNormal" style="text-align:center;line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ระยะเวลาชำระคืน<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:2;height:3.25pt">
   <td colspan="2" style="width:135.0pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:3.25pt" valign="top" width="225">
   <p class="MsoNormal" style="line-height:normal"><b><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:3.25pt" valign="top" width="68">
   <p align="center" class="MsoNormal" style="text-align:center;line-height:normal"><b><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:3.25pt" valign="top" width="23">
   <p align="center" class="MsoNormal" style="text-align:center;line-height:normal"><b><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:3.25pt" valign="top" width="188">
   <p align="center" class="MsoNormal" style="text-align:center;line-height:normal"><b><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:3.25pt" valign="top" width="317">
   <p class="MsoNormal" style="line-height:normal"><b><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:3">
  <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="137">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:
  0cm;margin-left:22.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัท<o:p></o:p></span></p>
  </td>
  <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="89">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บาท<o:p></o:p></span></p>
  </td>
  <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:16.5pt;
  mso-line-height-rule:exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>450<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>THBFIX
  6 <span lang="TH">เดือนบวก</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>อัตราส่วนเพิ่ม<o:p></o:p></span></p>
  </td>
  <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระคืนเงินต้นทุกหกเดือน
  จำนวน </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>15<span lang="TH"> งวด</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>โดยปีแรกชำระในเดือนธันวาคม </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2559<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4">
  <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="137">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:22.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัท<o:p></o:p></span></p>
  </td>
  <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="89">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:16.5pt;
  mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>บาท<o:p></o:p></span></p>
  </td>
  <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:16.5pt;
  mso-line-height-rule:exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>270<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>THBFIX
  6 <span lang="TH">เดือนบวก</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-3.15pt;margin-bottom:
  0cm;margin-left:9.0pt;margin-bottom:.0001pt;text-indent:-4.5pt;line-height:
  16.5pt;mso-line-height-rule:exactly;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">  </span>อัตราส่วนเพิ่ม<o:p></o:p></span></p>
  </td>
  <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระคืนเงินต้นทุกหกเดือน
  จำนวน </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>15<span lang="TH"> งวด</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes"> </span>โดยปีแรกชำระในเดือนธันวาคม </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2559<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5;height:36.55pt">
  <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:36.55pt" valign="top" width="137">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:22.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัท<o:p></o:p></span></p>
  </td>
  <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:36.55pt" valign="top" width="89">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บาท</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:36.55pt" valign="top" width="68">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:16.5pt;
  mso-line-height-rule:exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>750<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:36.55pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:36.55pt" valign="top" width="188">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>FDR
  6 <span lang="TH">เดือนบวก</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>อัตราส่วนเพิ่ม<o:p></o:p></span></p>
  </td>
  <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:36.55pt" valign="top" width="317">
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระคืนเงินต้นทุกหกเดือน
  จำนวน </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>27<span lang="TH"> งวด</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>โดยปีแรกชำระในเดือนธันวาคม 25</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>59<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="137">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:
  0cm;margin-left:22.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 63.0pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัท<o:p></o:p></span></p>
  </td>
  <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="89">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บาท</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:16.5pt;
  mso-line-height-rule:exactly;tab-stops:6.75pt 11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">  </span>1,050<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>THBFIX
  6 <span lang="TH">เดือนบวก</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>อัตราส่วนเพิ่ม<o:p></o:p></span></p>
  </td>
  <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระคืนเงินต้นทุกหกเดือน
  จำนวน </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>17<span lang="TH"> งวด</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>โดยปีแรกชำระในเดือนธันวาคม 25</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>60<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="137">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:22.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัท<o:p></o:p></span></p>
  </td>
  <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="89">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บาท<o:p></o:p></span></p>
  </td>
  <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:16.5pt;
  mso-line-height-rule:exactly;tab-stops:6.75pt 11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>630<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>THBFIX
  6 <span lang="TH">เดือนบวก</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-3.15pt;margin-bottom:
  0cm;margin-left:9.0pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>อัตราส่วนเพิ่ม</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระคืนเงินต้นทุกหกเดือน
  จำนวน </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>17<span lang="TH"> งวด</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>โดยปีแรกชำระในเดือนธันวาคม 25</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>60<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="137">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:
  0cm;margin-left:22.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัท<o:p></o:p></span></p>
  </td>
  <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="89">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บาท<o:p></o:p></span></p>
  </td>
  <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:16.5pt;
  mso-line-height-rule:exactly;tab-stops:4.5pt 11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,750<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>FDR
  6 <span lang="TH">เดือนบวก</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>อัตราส่วนเพิ่ม<o:p></o:p></span></p>
  </td>
  <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระคืนเงินต้นทุกหกเดือน
  จำนวน </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>29<span lang="TH"> งวด</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>โดยปีแรกชำระในเดือนธันวาคม 25</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>60<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9">
  <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="137">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:22.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัท<o:p></o:p></span></p>
  </td>
  <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="89">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เยนญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:16.5pt;
  mso-line-height-rule:exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>4,200<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>JPYTIBOR
  6 <span lang="TH">เดือนบวก</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-3.15pt;margin-bottom:
  0cm;margin-left:9.0pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>อัตราส่วนเพิ่ม<o:p></o:p></span></p>
  </td>
  <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระคืนเงินต้นทุกหกเดือน
  จำนวน </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>27<span lang="TH"> งวด</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>โดยปีแรกชำระในเดือนธันวาคม 25</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>59<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10">
  <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="137">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:22.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัท<o:p></o:p></span></p>
  </td>
  <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="89">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เยนญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:16.5pt;
  mso-line-height-rule:exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>570<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>JPYTIBOR
  6 <span lang="TH">เดือนบวก</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-3.15pt;margin-bottom:
  0cm;margin-left:9.0pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>อัตราส่วนเพิ่ม<o:p></o:p></span></p>
  </td>
  <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระคืนเงินต้นทุกหกเดือน
  จำนวน </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>15<span lang="TH"> งวด</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>โดยปีแรกชำระในเดือนธันวาคม 255</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>9<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11">
  <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="137">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:22.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัท<o:p></o:p></span></p>
  </td>
  <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="89">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เยนญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:16.5pt;
  mso-line-height-rule:exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>9,800<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>JPYTIBOR
  6 <span lang="TH">เดือนบวก</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-3.15pt;margin-bottom:
  0cm;margin-left:9.0pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>อัตราส่วนเพิ่ม<o:p></o:p></span></p>
  </td>
  <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระคืนเงินต้นทุกหกเดือน
  จำนวน </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>29<span lang="TH"> งวด</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>โดยปีแรกชำระในเดือนธันวาคม 25</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>60<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:12">
  <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="137">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:22.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัท<o:p></o:p></span></p>
  </td>
  <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="89">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เยนญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:16.5pt;
  mso-line-height-rule:exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,330<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>JPYTIBOR
  6 <span lang="TH">เดือนบวก</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>อัตราส่วนเพิ่ม</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระคืนเงินต้นทุกหกเดือน
  จำนวน </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>17<span lang="TH"> งวด</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>โดยปีแรกชำระในเดือนธันวาคม 25</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>60<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:13">
  <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="137">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:22.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัท</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ย่อยทางตรง<o:p></o:p></span></p>
  </td>
  <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="89">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บาท<o:p></o:p></span></p>
  </td>
  <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:16.5pt;
  mso-line-height-rule:exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,508<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>THBFIX
  6<span lang="TH"> เดือนบวก</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>อัตราส่วนเพิ่ม<o:p></o:p></span></p>
  </td>
  <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระคืนเงินต้นทุกหกเดือน
  จำนวน </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>20-34
  <o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span><span lang="TH">งวด
  โดยปีแรกชำระในเดือนสิงหาคม </span>2556<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:14">
  <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="137">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:22.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัท</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ย่อยทางตรง<o:p></o:p></span></p>
  </td>
  <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="89">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เหรียญสหรัฐฯ<o:p></o:p></span></p>
  </td>
  <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:16.5pt;
  mso-line-height-rule:exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>12<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>อัตราดอกเบี้ยคงที่<o:p></o:p></span></p>
  </td>
  <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระคืนเงินต้นทุกหกเดือน
  จำนวน </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>34
  <span lang="TH">งวด </span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span><span lang="TH">โดยปีแรกชำระในเดือนสิงหาคม
  </span>2556<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:15">
  <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="137">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:22.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัท</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-5.4pt;text-indent:13.5pt;line-height:
  16.5pt;mso-line-height-rule:exactly;tab-stops:11.35pt 34.0pt 45.35pt 76.5pt 82.2pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ย่อยทางอ้อม<o:p></o:p></span></p>
  </td>
  <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="89">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เยนญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:16.5pt;
  mso-line-height-rule:exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,366<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>อัตราดอกเบี้ยคงที่<o:p></o:p></span></p>
  </td>
  <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระเงินต้นทุกไตรมาส
  จำนวน </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>68
  <span lang="TH">งวด</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-9.9pt;text-indent:9.9pt;line-height:
  16.5pt;mso-line-height-rule:exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>โดยปีแรกชำระในเดือนกันยายน
  </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2559<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:16">
  <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="137">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:22.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัท</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-5.4pt;text-indent:13.5pt;line-height:
  16.5pt;mso-line-height-rule:exactly;tab-stops:11.35pt 34.0pt 45.35pt 76.5pt 82.2pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ย่อยทางอ้อม<o:p></o:p></span></p>
  </td>
  <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="89">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เยนญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:16.5pt;
  mso-line-height-rule:exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,000<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>อัตราดอกเบี้ยคงที่</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระเงินต้นทุกไตรมาส
  จำนวน </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>68
  <span lang="TH">งวด</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-9.9pt;text-indent:9.9pt;line-height:
  16.5pt;mso-line-height-rule:exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>โดยปีแรกชำระในเดือนกันยายน
  </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2559<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:17">
  <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="137">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:22.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัท</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-5.4pt;text-indent:13.5pt;line-height:
  16.5pt;mso-line-height-rule:exactly;tab-stops:11.35pt 34.0pt 45.35pt 76.5pt 82.2pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ย่อยทางอ้อม<o:p></o:p></span></p>
  </td>
  <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="89">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เยนญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:16.5pt;
  mso-line-height-rule:exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>900<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>อัตราดอกเบี้ยคงที่</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระเงินต้นทุกไตรมาส
  จำนวน </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>68
  <span lang="TH">งวด</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-9.9pt;text-indent:9.9pt;line-height:
  16.5pt;mso-line-height-rule:exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>โดยปีแรกชำระในเดือนกันยายน
  </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2559<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:18">
  <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="137">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:22.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัท</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-5.4pt;text-indent:13.5pt;line-height:
  16.5pt;mso-line-height-rule:exactly;tab-stops:11.35pt 34.0pt 45.35pt 76.5pt 82.2pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ย่อยทางอ้อม<o:p></o:p></span></p>
  </td>
  <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="89">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เยนญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:16.5pt;
  mso-line-height-rule:exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>700<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>อัตราดอกเบี้ยคงที่</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระเงินต้นทุกไตรมาส
  จำนวน </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>68
  <span lang="TH">งวด</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-9.9pt;text-indent:9.9pt;line-height:
  16.5pt;mso-line-height-rule:exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>โดยปีแรกชำระในเดือนกันยายน
  </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2559<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:19;mso-yfti-lastrow:yes">
  <td style="width:81.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="137">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:22.5pt;margin-bottom:.0001pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัท</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-right:-5.4pt;text-indent:13.5pt;line-height:
  16.5pt;mso-line-height-rule:exactly;tab-stops:11.35pt 34.0pt 45.35pt 76.5pt 82.2pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ย่อยทางอ้อม<o:p></o:p></span></p>
  </td>
  <td style="width:53.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="89">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เยนญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:40.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="68">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:16.5pt;
  mso-line-height-rule:exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>4,176<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="line-height:16.5pt;mso-line-height-rule:exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:112.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="188">
  <p class="MsoNormal" style="margin-right:-3.15pt;line-height:16.5pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>อัตราดอกเบี้ยคงที่<o:p></o:p></span></p>
  </td>
  <td style="width:189.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="317">
  <p class="MsoNormal" style="margin-right:-9.9pt;line-height:16.5pt;mso-line-height-rule:
  exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระคืนเงินต้นทุกหกเดือน
  จำนวน </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>34<span lang="TH"> งวด</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:
  0cm;margin-left:9.9pt;margin-bottom:.0001pt;text-indent:-9.9pt;line-height:
  16.5pt;mso-line-height-rule:exactly;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 54.0pt 82.2pt 93.55pt 129.0pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">   </span>โดยปีแรกชำระในเดือนกันยายน 25</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>60<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
</tbody></table>