<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="margin-left:22.5pt;border-collapse:collapse;mso-yfti-tbllook:480;
 mso-padding-alt:0cm 5.4pt 0cm 5.4pt">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:11.35pt">
  <td style="width:270.9pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:11.35pt" valign="top" width="452">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-1.35pt;margin-bottom:
  0cm;margin-left:4.5pt;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:27.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ลิขสิทธิ์การใช้และต้นทุนพัฒนาโปรแกรมสำเร็จรูป</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:11.35pt" valign="top" width="98">
  <p align="right" class="MsoNormal" style="margin-right:-1.35pt;text-align:right;
  line-height:normal;tab-stops:27.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>3<o:p></o:p></span></p>
  </td>
  <td style="width:50.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:11.35pt" valign="top" width="84">
  <p class="MsoNormal" style="margin-right:-1.35pt;text-align:justify;line-height:
  normal;tab-stops:27.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ปี</span><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1;height:11.35pt">
  <td style="width:270.9pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:11.35pt" valign="top" width="452">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-1.35pt;margin-bottom:
  0cm;margin-left:4.5pt;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:27.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>สิทธิในการเชื่อมโยงระบบจำหน่ายไฟฟ้า<o:p></o:p></span></p>
  </td>
  <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:11.35pt" valign="top" width="98">
  <p align="right" class="MsoNormal" style="margin-right:-1.35pt;text-align:right;
  line-height:normal;tab-stops:27.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>20 - 25<o:p></o:p></span></p>
  </td>
  <td style="width:50.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:11.35pt" valign="top" width="84">
  <p class="MsoNormal" style="margin-right:-1.35pt;text-align:justify;line-height:
  normal;tab-stops:27.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ปี<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2;mso-yfti-lastrow:yes;height:11.35pt">
  <td style="width:270.9pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:11.35pt" valign="top" width="452">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-1.35pt;margin-bottom:
  0cm;margin-left:4.5pt;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:27.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>สัญญาซื้อขายไฟฟ้าแบบ </span><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>Feed-in Tariff<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:11.35pt" valign="top" width="98">
  <p align="right" class="MsoNormal" style="margin-right:-1.35pt;text-align:right;
  line-height:normal;tab-stops:27.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>20</span><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:50.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:11.35pt" valign="top" width="84">
  <p class="MsoNormal" style="margin-right:-1.35pt;text-align:justify;line-height:
  normal;tab-stops:27.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ปี<o:p></o:p></span></p>
  </td>
 </tr>
</tbody></table>