<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:459.0pt;margin-left:27.9pt;border-collapse:collapse;mso-yfti-tbllook:
 480;mso-padding-alt:0cm 5.4pt 0cm 5.4pt" width="765">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
  <td style="width:175.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="293">
  <p class="MsoNormal" style="margin-right:-36.9pt;line-height:normal;tab-stops:
  36.0pt"><o:p> </o:p></p>
  </td>
  <td colspan="3" style="width:135.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="225">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>งบการเงินรวม</span><o:p></o:p></b></p>
  </td>
  <td style="width:18.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="30">
  <p align="center" class="MsoNormal" style="margin-right:-4.05pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><b><o:p> </o:p></b></p>
  </td>
  <td colspan="3" style="width:130.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="218">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>งบการเงินเฉพาะกิจการ</span><o:p></o:p></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1">
  <td style="width:175.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="293">
  <p class="MsoNormal" style="margin-right:-36.9pt;line-height:normal;tab-stops:
  36.0pt"><o:p> </o:p></p>
  </td>
  <td style="width:63.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="105">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>255</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>9</span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="center" class="a0" style="margin-right:-3.15pt;text-align:center;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:39.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>255</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>8</span></p>
  </td>
  <td style="width:18.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="30">
  <p align="center" class="MsoNormal" style="margin-right:-4.05pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><o:p> </o:p></p>
  </td>
  <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>255</span><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>9</span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="24">
  <p align="center" class="a0" style="margin-right:-3.15pt;text-align:center;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:39.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:57.85pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="96">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>255</span><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>8</span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2">
  <td style="width:175.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="293">
  <p class="MsoNormal" style="margin-right:-36.9pt;line-height:normal;tab-stops:
  36.0pt"><o:p> </o:p></p>
  </td>
  <td colspan="7" style="width:10.0cm;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="473">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-4.05pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>(พันบาท)<o:p></o:p></span></i></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3;height:3.45pt">
  <td style="width:175.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="293">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สกุลเงินบาท<b><o:p></o:p></b></span></p>
  </td>
  <td style="width:63.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="105">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 48.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>5,886,196<b><o:p></o:p></b></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="23">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-7.2pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 28.8pt"><b><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="98">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 50.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>7,594,819<o:p></o:p></span></p>
  </td>
  <td style="width:18.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="30">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-7.2pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 28.8pt"><b><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="98">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>4,639,552<b><o:p></o:p></b></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="24">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-7.2pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 28.8pt"><b><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:57.85pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="96">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-7.2pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 47.05pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>6,202,529<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4;height:3.45pt">
  <td style="width:175.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="293">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สกุลเงินเยน<b><o:p></o:p></b></span></p>
  </td>
  <td style="width:63.0pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="105">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 48.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>4,264,027<b><o:p></o:p></b></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="23">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-7.2pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 28.8pt"><b><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:58.5pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="98">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-7.2pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 35.1pt"><b><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:18.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="30">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-7.2pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 28.8pt"><b><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:58.5pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="98">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,137,136<b><o:p></o:p></b></span></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="24">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-7.2pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 28.8pt"><b><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:57.85pt;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="96">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 32.85pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<b><span lang="TH"><o:p></o:p></span></b></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5;mso-yfti-lastrow:yes;height:3.45pt">
  <td style="width:175.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="293">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>รวม<o:p></o:p></span></b></p>
  </td>
  <td style="width:63.0pt;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="105">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 48.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>10,150,223<span lang="TH" style="background:red;mso-highlight:red"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="23">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-7.2pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 28.8pt"><b><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:58.5pt;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="98">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 50.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>7,594,819<o:p></o:p></span></b></p>
  </td>
  <td style="width:18.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="30">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-7.2pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 28.8pt"><b><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:58.5pt;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="98">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>5,776,688<o:p></o:p></span></b></p>
  </td>
  <td style="width:14.15pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="24">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-7.2pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 28.8pt"><b><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:57.85pt;border:none;border-bottom:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:3.45pt" valign="top" width="96">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-7.2pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 47.05pt"><b><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>6,202,529<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>