<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:463.5pt;margin-left:22.5pt;border-collapse:collapse;mso-yfti-tbllook:
 480;mso-padding-alt:0cm 5.4pt 0cm 5.4pt" width="773">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
  <td style="width:131.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="219">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:27.0pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td colspan="11" style="width:332.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="554">
  <p align="center" class="MsoNormal" style="margin-right:-4.5pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'>งบการเงินรวม</span></b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1">
  <td style="width:131.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="219">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:27.0pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td colspan="5" style="width:159.75pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="266">
  <p align="center" class="MsoNormal" style="margin-right:-4.5pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'>2559</span><span style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="center" class="MsoNormal" style="margin-right:-4.5pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td colspan="5" style="width:158.85pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="265">
  <p align="center" class="MsoNormal" style="margin-right:-4.5pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'>2558</span><span style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2">
  <td style="width:131.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="219">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:27.0pt"><i><span style='font-size:13.0pt;font-family:"Angsana New","serif";
  color:blue'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:49.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'>มูลค่าปัจจุบันของจำนวนเงินขั้นต่ำที่ต้องจ่าย<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:31.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="53">
  <p align="center" class="MsoNormal" style="margin-right:-5.5pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'>ดอกเบี้ย</span><span style='font-size:
  13.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="center" class="MsoNormal" style="margin-right:-5.5pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:51.75pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="86">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:36.0pt;mso-layout-grid-align:none;text-autospace:
  none"><span lang="TH" style='font-size:13.0pt;font-family:"Angsana New","serif"'>มูลค่าอนาคตของจำนวนเงินขั้นต่ำที่ต้องจ่าย<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:27.0pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:50.85pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="85">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'>มูลค่าปัจจุบันของจำนวนเงินขั้นต่ำที่ต้องจ่าย</span><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:27.0pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:31.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="53">
  <p align="center" class="MsoNormal" style="margin-right:-4.25pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'>ดอกเบี้ย</span><span style='font-size:
  13.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:27.0pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:36.0pt;mso-layout-grid-align:none;text-autospace:
  none"><span lang="TH" style='font-size:13.0pt;font-family:"Angsana New","serif"'>มูลค่าอนาคตของจำนวนเงินขั้นต่ำที่ต้องจ่าย</span><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:131.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="219">
  <p class="MsoNormal" style="line-height:normal;tab-stops:27.0pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td colspan="11" style="width:332.1pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="554">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:27.0pt"><i><span lang="TH" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'>(พันบาท)<o:p></o:p></span></i></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4">
  <td style="width:131.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="219">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-3.95pt;margin-bottom:
  0cm;margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;font-family:
  "Angsana New","serif"'>ครบกำหนดชำระภายในหนึ่งปี</span><span style='font-size:
  13.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:49.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 30.6pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p class="acctfourfigures" style="margin-right:-4.8pt;line-height:normal;
  tab-stops:decimal 47.55pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:31.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="53">
  <p class="acctfourfigures" style="margin-right:4.25pt;line-height:normal;
  tab-stops:decimal 16.45pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p class="acctfourfigures" style="margin-right:-4.8pt;line-height:normal;
  tab-stops:decimal 47.55pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:51.75pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="86">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 35.1pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p class="acctfourfigures" style="margin-right:-4.8pt;line-height:normal;
  tab-stops:decimal 47.55pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:50.85pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="85">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal"><span lang="EN-GB" style='font-size:13.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>171<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p class="acctfourfigures" style="margin-right:-4.8pt;line-height:normal;
  tab-stops:decimal 47.55pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:31.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="53">
  <p class="acctfourfigures" style="margin-right:4.25pt;line-height:normal;
  tab-stops:decimal 16.45pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>2<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p class="acctfourfigures" style="margin-right:-4.8pt;line-height:normal;
  tab-stops:decimal 47.55pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 36.9pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>173<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:131.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="219">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-3.95pt;margin-bottom:
  0cm;margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;font-family:
  "Angsana New","serif"'>ครบกำหนดชำระหลังจากหนึ่งปีแต่ไม่เกินห้าปี<span style="mso-spacerun:yes">                                                            
  </span><o:p></o:p></span></p>
  </td>
  <td style="width:49.5pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 30.6pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>-</span><span lang="TH" style='font-size:13.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p class="acctfourfigures" style="margin-right:-4.8pt;line-height:normal;
  tab-stops:decimal 27.8pt 47.55pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:31.5pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="53">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 17.1pt"><i><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'>-<o:p></o:p></span></i></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p class="acctfourfigures" style="margin-right:-4.8pt;line-height:normal;
  tab-stops:decimal 47.55pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:51.75pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="86">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 35.1pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p class="acctfourfigures" style="margin-right:-4.8pt;line-height:normal;
  tab-stops:decimal 47.55pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:50.85pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="85">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 35.1pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>-</span><span lang="TH" style='font-size:13.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p class="acctfourfigures" style="margin-right:-4.8pt;line-height:normal;
  tab-stops:decimal 27.8pt 47.55pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:31.5pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="53">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 12.6pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>-</span><i><span lang="EN-GB" style="font-size:13.0pt"><o:p></o:p></span></i></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p class="acctfourfigures" style="margin-right:-4.8pt;line-height:normal;
  tab-stops:decimal 47.55pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.5pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 31.5pt"><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6;mso-yfti-lastrow:yes">
  <td style="width:131.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="219">
  <p class="MsoNormal" style="margin-right:-3.95pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:13.0pt;font-family:"Angsana New","serif"'>รวม</span></b><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:49.5pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 30.6pt"><b><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p class="acctfourfigures" style="margin-right:-4.8pt;line-height:normal;
  tab-stops:decimal 47.55pt"><b><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:31.5pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="53">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 17.1pt"><b><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p class="acctfourfigures" style="margin-right:-4.8pt;line-height:normal;
  tab-stops:decimal 47.55pt"><b><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:51.75pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="86">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 35.1pt"><b><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p class="acctfourfigures" style="margin-right:-4.8pt;line-height:normal;
  tab-stops:decimal 47.55pt"><b><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:50.85pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="85">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal"><b><span lang="EN-GB" style='font-size:13.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>171<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p class="acctfourfigures" style="margin-right:-4.8pt;line-height:normal;
  tab-stops:decimal 47.55pt"><b><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:31.5pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="53">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 17.1pt"><b><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>2<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p class="acctfourfigures" style="margin-right:-4.8pt;line-height:normal;
  tab-stops:decimal 47.55pt"><b><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:49.5pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 36.9pt"><b><span lang="EN-GB" style='font-size:13.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>173<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>