<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:465.0pt;margin-left:22.5pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="775">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td colspan="3" style="width:29.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="29%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>งบการเงินรวม</span></b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td colspan="3" style="width:28.6%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="28%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>งบการเงินเฉพาะกิจการ</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td colspan="3" style="width:29.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="29%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>31<span lang="TH">
  ธันวาคม<o:p></o:p></span></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>31<span lang="TH">
  ธันวาคม<o:p></o:p></span></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>สำหรับรอบระยะเวลาบัญชีตั้งแต่วันที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>17<span lang="TH">
  กรกฎาคม </span>2558<span lang="TH"> ถึงวันที่ </span>31<span lang="TH"> ธันวาคม</span><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td style="width:13.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p align="center" class="MsoNormal" style="margin-right:-4.85pt;text-align:center;
  tab-stops:36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>2559<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>2558<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>2559<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>2558<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td colspan="7" style="width:61.08%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="61%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>(พันบาท)</span></i><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="38%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:25.85pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif";color:black;mso-ansi-language:EN-GB'>งบกำไรขาดทุน</span></b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 66.9pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 62.05pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 32.85pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="38%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:25.85pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif";color:black;mso-ansi-language:EN-GB'>รับรู้ในกำไรหรือขาดทุน</span></b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 66.9pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 62.05pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 32.85pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="38%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:25.85pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ผลประโยชน์หลังออกจากงาน</span><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>4,718<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.12%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 48.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>240<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,577<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 45.55pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>119<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="38%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:25.85pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.56%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>4,718<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.12%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 48.45pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>240<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.76%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,577<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 45.55pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>119<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="38%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:25.85pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif";color:black'>รับรู้ในกำไรขาดทุนเบ็ดเสร็จอื่น</span></b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.12%;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 75.55pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 45.55pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="38%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:25.85pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>กำไรจากการประมาณตามหลักการ<o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 62.05pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 45.55pt 62.05pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.5pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><span style="mso-spacerun:yes">   </span>คณิตศาสตร์ประกันภัยที่รับรู้ในระหว่างปี</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>/<span lang="TH">งวด<b><o:p></o:p></b></span></span></p>
  </td>
  <td style="width:13.56%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>21<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.12%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 48.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>231<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>21<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 32.95pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.5pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>กำไรสะสมจากการประมาณตามหลักการ<o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.12%;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 48.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 32.95pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:12;mso-yfti-lastrow:yes">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.5pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>คณิตศาสตร์ประกันภัยที่รับรู้<o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>252<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.12%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 48.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>231<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>21<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 32.95pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
</tbody></table>