<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:465.0pt;margin-left:22.5pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="775">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
   <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:
   15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
   </td>
   <td colspan="3" style="width:29.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="29%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>งบการเงินรวม</span></b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td colspan="3" style="width:28.6%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="28%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>งบการเงินเฉพาะกิจการ</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1">
   <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:
   15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
   </td>
   <td colspan="3" style="width:29.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="29%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่ </span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>31<span lang="TH">
   ธันวาคม<o:p></o:p></span></span></p>
   </td>
   <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่ </span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>31<span lang="TH">
   ธันวาคม<o:p></o:p></span></span></p>
   </td>
   <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>สำหรับรอบระยะเวลาบัญชีตั้งแต่วันที่ </span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>17<span lang="TH">
   กรกฎาคม </span>2558<span lang="TH"> ถึงวันที่ </span>31<span lang="TH"> ธันวาคม</span></span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:2">
   <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:
   15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
   </td>
   <td style="width:13.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
   <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
   tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>2559</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
   tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:13.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
   <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
   tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>2558</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>2559</span><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>2558</span><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:3">
   <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:
   15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
   </td>
   <td colspan="7" style="width:61.08%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="61%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>(พันบาท)</span></i><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:4">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:8.15pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ภาระผูกพันของโครงการผลประโยชน์ ณ วันที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1<span lang="TH">
  มกราคม</span> / 17 <span lang="TH">กรกฎาคม<o:p></o:p></span></span></p>
  </td>
  <td style="width:13.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>260<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>251<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>119<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:25.85pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ได้มาจากการซื้อธุรกิจ<o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>5,682<o:p></o:p></span></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.4pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:25.85pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:10.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 44.6pt"><span style='font-size:10.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.35pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 75.55pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 46.5pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>รับรู้ในกำไรขาดทุน<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.35pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 75.55pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 46.5pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ต้นทุนบริการปัจจุบัน<o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>4,710<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>229<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,574<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 46.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>119<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ดอกเบี้ยจากภาระผูกพัน<o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>8<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>11<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>3<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.56%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>4,718<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.5%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.35pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>240<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.76%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,577<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 46.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>119<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>รับรู้ในกำไรขาดทุนเบ็ดเสร็จอื่น</span></b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.35pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 75.55pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 46.5pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:12">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>กำไรจากการประมาณตามหลักคณิตศาสตร์ประกันภัย<o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(21)<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(231)<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(21)<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:13">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ผลกระทบจากอัตราแลกเปลี่ยน<o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>341<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.4pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:14">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.56%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>320<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.5%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.35pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(231)<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.76%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 46.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(21)<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.94%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:15">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:10.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.56%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.35pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 75.55pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 46.5pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:16">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>อื่น</span></b><span lang="TH" style='font-size:8.0pt;
  font-family:"Angsana New","serif"'> </span><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>ๆ<o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span lang="TH" style='font-size:8.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:8.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.35pt"><span lang="TH" style='font-size:8.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:8.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 75.55pt"><span lang="TH" style='font-size:8.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:8.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 46.5pt"><span lang="TH" style='font-size:8.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:17">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ผลประโยชน์จ่าย</span><span lang="TH" style='font-size:
  8.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(6,425)<o:p></o:p></span></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:8.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.4pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:18">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:10.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.56%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.35pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.4pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.6pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:19;mso-yfti-lastrow:yes;height:2.5pt">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt;
  height:2.5pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ภาระผูกพันของโครงการผลประโยชน์ ณ วันที่ </span></b><b style="mso-bidi-font-weight:normal"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>31</span></b><span style='font-size:15.0pt;font-family:
  "Angsana New","serif";mso-bidi-font-weight:bold'> <b style="mso-ansi-font-weight:
  normal"><span lang="TH">ธันวาคม</span></b></span><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:2.5pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 53.35pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>4,555<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.88%;padding:0cm 5.4pt 0cm 5.4pt;
  height:2.5pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.5%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:2.5pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 45.35pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>260<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.54%;padding:0cm 5.4pt 0cm 5.4pt;
  height:2.5pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.76%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:2.5pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,675<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt;
  height:2.5pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:2.5pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 46.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>119<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
 </tr>
</tbody></table>