<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:472.2pt;margin-left:18.0pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="787">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
   <td style="width:45.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:15.0pt;
   font-family:"Angsana New","serif";mso-ansi-language:EN-GB'><o:p> </o:p></span></p>
   </td>
   <td colspan="3" style="width:25.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="25%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>งบการเงินรวม</span></b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.86%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td colspan="3" style="width:25.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="25%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>งบการเงินเฉพาะกิจการ</span></b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1">
   <td style="width:45.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:15.0pt;
   font-family:"Angsana New","serif";mso-ansi-language:EN-GB'><o:p> </o:p></span></p>
   </td>
   <td colspan="7" style="width:54.22%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="54%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>(พันบาท)</span></i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:2">
   <td style="width:45.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
   <p class="MsoNormal" style="margin-left:18.0pt;text-indent:-9.0pt;line-height:
   normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>ภาระผูกพันของโครงการผลประโยชน์ ณ วันที่</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">  </span>31</span></b><b style="mso-bidi-font-weight:
   normal"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'> </span></b><b style="mso-ansi-font-weight:normal"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>ธันวาคม </span></b><b style="mso-bidi-font-weight:
   normal"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2558<span lang="TH" style="mso-bidi-font-weight:bold"><o:p></o:p></span></span></b></p>
   </td>
   <td style="width:11.44%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>เพิ่มขึ้น<o:p></o:p></span></p>
   </td>
   <td style="width:2.86%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:11.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>ลดลง<o:p></o:p></span></p>
   </td>
   <td style="width:2.86%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:11.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>เพิ่มขึ้น<o:p></o:p></span></p>
   </td>
   <td style="width:2.86%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:11.24%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>ลดลง<o:p></o:p></span></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:3;height:21.85pt">
  <td style="width:45.78%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:18.0pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>อัตราคิดลด (เปลี่ยนแปลงร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1<span lang="TH">)</span><b><span style="color:black"><o:p></o:p></span></b></span></p>
  </td>
  <td style="width:11.44%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 39.4pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>(43)<o:p></o:p></span></p>
  </td>
  <td style="width:2.86%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 75.55pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.48%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 39.4pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>56<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.86%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 75.55pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.48%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 39.2pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>(10)<o:p></o:p></span></p>
  </td>
  <td style="width:2.86%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 75.55pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.24%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 39.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>12<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4;height:21.85pt">
  <td style="width:45.78%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:18.0pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>การเพิ่มขึ้นของเงินเดือนในอนาคต<span style="mso-spacerun:yes">  </span>(เปลี่ยนแปลงร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1<span lang="TH">)<o:p></o:p></span></span></p>
  </td>
  <td style="width:11.44%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 39.4pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>51<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.86%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 75.55pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.48%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 39.4pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>(41)<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.86%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 75.55pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.48%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 39.2pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>10<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.86%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 75.55pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.24%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 39.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>(8)<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5;mso-yfti-lastrow:yes;height:21.85pt">
  <td style="width:45.78%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:18.0pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>อัตราการลาออก (เปลี่ยนแปลงร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1<span lang="TH">)<o:p></o:p></span></span></p>
  </td>
  <td style="width:11.44%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 39.4pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>(47)<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.86%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 75.55pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.48%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 39.4pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>22<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.86%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 75.55pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.48%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 39.2pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>(11)<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.86%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 75.55pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.24%;padding:0cm 5.4pt 0cm 5.4pt;
  height:21.85pt" valign="bottom" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 39.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>7<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
</tbody></table>