<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:468.9pt;margin-left:22.5pt;border-collapse:collapse;mso-yfti-tbllook:
 480;mso-padding-alt:0cm 5.4pt 0cm 5.4pt" width="782">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
   <td style="width:10.0cm;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="473">
   <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif";color:blue'><o:p> </o:p></span></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:50.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="84">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:108.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="180">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>มูลค่าที่รับรู้<o:p></o:p></span></b></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1">
   <td style="width:10.0cm;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="473">
   <p class="MsoNormal"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p class="MsoNormal" style="text-align:justify;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:50.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="84">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p class="MsoNormal" style="tab-stops:decimal 57.6pt"><span style='font-size:
   15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:108.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="180">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(<span lang="TH">พันบาท</span>)</span></i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:2">
  <td style="width:10.0cm;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="473">
  <p class="MsoNormal" style="margin-left:4.5pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>เงินสด</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="text-align:justify;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:50.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="84">
  <p class="MsoNormal" style="tab-stops:decimal 57.6pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="tab-stops:decimal 57.6pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:108.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="180">
  <p align="right" class="MsoNormal" style="margin-top:0cm;margin-right:3.6pt;
  margin-bottom:0cm;margin-left:27.0pt;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif";mso-bidi-font-weight:bold'>1,275,334<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:10.0cm;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="473">
  <p class="MsoNormal" style="margin-left:4.5pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>สิ่งตอบแทนที่คาดว่าจะต้องจ่าย</span><b><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></i></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="text-align:justify;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:50.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="84">
  <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="tab-stops:decimal 57.6pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:108.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="180">
  <p align="right" class="MsoNormal" style="margin-top:0cm;margin-right:3.6pt;
  margin-bottom:0cm;margin-left:27.0pt;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif";mso-bidi-font-weight:bold'>488,460<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4;mso-yfti-lastrow:yes">
  <td style="width:10.0cm;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="473">
  <p class="MsoNormal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">  </span><b>รวม</b></span><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="text-align:justify;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:50.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="84">
  <p class="MsoNormal" style="tab-stops:decimal 57.6pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p class="MsoNormal" style="tab-stops:decimal 57.6pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:108.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="180">
  <p align="right" class="MsoNormal" style="margin-top:0cm;margin-right:3.6pt;
  margin-bottom:0cm;margin-left:27.0pt;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><b style="mso-bidi-font-weight:normal"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,763,794<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>