<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:460.3pt;margin-left:27.9pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="767">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
   <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
   <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
   36.0pt"><b><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
   </td>
   <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>มูลค่าหุ้น</span><span style='font-size:
   15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td colspan="3" style="width:28.04%;border:none;
   border-bottom:solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
   padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>2559</span><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td colspan="3" style="width:26.04%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="26%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>2558<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1">
   <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
   <p class="MsoNormal" style="text-align:justify;text-indent:8.1pt;line-height:
   normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
   </td>
   <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>ต่อหุ้น</span><span style='font-size:
   15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:12.62%;border:none;mso-border-top-alt:
   solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>จำนวนหุ้น</span><span style='font-size:
   15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.58%;border:none;border-top:solid windowtext 1.0pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:12.84%;border:none;border-top:solid windowtext 1.0pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>จำนวนเงิน</span><span style='font-size:
   15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:11.4%;border:none;border-top:solid windowtext 1.0pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>จำนวนหุ้น</span><span style='font-size:
   15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.66%;border:none;border-top:solid windowtext 1.0pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:11.98%;border:none;border-top:solid windowtext 1.0pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>จำนวนเงิน</span><span style='font-size:
   15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:2">
   <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
   <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
   36.0pt"><b><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
   </td>
   <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>(บาท)</span></i><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></i></p>
   </td>
   <td colspan="7" style="width:56.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="56%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>(พันหุ้น/พันบาท)</span></i><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></i></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:3">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><b><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ทุนจดทะเบียน<o:p></o:p></span></i></b></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><i><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ณ
  วันที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1
  <span lang="TH">มกราคม </span><o:p></o:p></span></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>- <span lang="TH">หุ้นสามัญ<o:p></o:p></span></span></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>10</span><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>370,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>3,700,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-4.0pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 23.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-4.1pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 25.95pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ณ
  วันที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>17<span lang="TH"> กรกฎาคม<o:p></o:p></span></span></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>- <span lang="TH">หุ้นสามัญ<o:p></o:p></span></span></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>10<o:p></o:p></span></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 29.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 31.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>20,000<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เพิ่มทุน</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>10<o:p></o:p></span></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 29.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 31.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>368,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>3,680,000<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ลดมูลค่าหุ้น<o:p></o:p></span></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>- <span lang="TH">จาก </span>10<span lang="TH"> บาท เป็น </span>5<span lang="TH"> บาท<o:p></o:p></span></span></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>5<o:p></o:p></span></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>370,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 31.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-4.0pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 23.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-4.1pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 25.95pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ออกหุ้นใหม่<o:p></o:p></span></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>5<o:p></o:p></span></p>
  </td>
  <td style="width:12.62%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,260,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>6,300,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-4.0pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 23.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-4.1pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 25.95pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:12">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ณ
  วันที่ </span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>31
  <span lang="TH">ธันวาคม<o:p></o:p></span></span></b></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.65pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.15pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.65pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-4.0pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.65pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.15pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:13">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-
  <span lang="TH">หุ้นสามัญ</span><o:p></o:p></span></b></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>10<o:p></o:p></span></p>
  </td>
  <td style="width:12.62%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 29.15pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.84%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 31.15pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;border:none;border-bottom:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.65pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>370,000<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.98%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.45pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>3,700,000<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:14">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-
  <span lang="TH">หุ้นสามัญ<o:p></o:p></span></span></b></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>5<o:p></o:p></span></p>
  </td>
  <td style="width:12.62%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.65pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2,000,000<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.84%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.15pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.65pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>10,000,000<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;border:none;border-bottom:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 23.15pt"><b><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.98%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 25.95pt"><b><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>-<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:15">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><b><i><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:10.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.65pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.15pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.65pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.65pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.15pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.45pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:16">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><b><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ทุนที่ออกและชำระแล้ว<o:p></o:p></span></i></b></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.15pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.15pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:17">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ณ
  วันที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1
  <span lang="TH">มกราคม </span><o:p></o:p></span></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.65pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.65pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.65pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:18">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>- <span lang="TH">หุ้นสามัญ<o:p></o:p></span></span></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>10<o:p></o:p></span></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>370,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>3,700,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 23.15pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-8.6pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 25.95pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:19">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ณ
  วันที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>17<span lang="TH"> กรกฎาคม<o:p></o:p></span></span></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 36.65pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-8.6pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:20">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>- <span lang="TH">หุ้นสามัญ<o:p></o:p></span></span></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>10<o:p></o:p></span></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 29.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 31.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>20,000<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:21">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เพิ่มทุน<o:p></o:p></span></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>10<o:p></o:p></span></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 29.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 31.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 36.65pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>368,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-8.6pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>3,680,000<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:22">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ลดมูลค่าหุ้น<o:p></o:p></span></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 31.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 36.65pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-8.6pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:23">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>- <span lang="TH">จาก </span>10<span lang="TH"> บาท เป็น </span>5<span lang="TH"> บาท<o:p></o:p></span></span></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>5<o:p></o:p></span></p>
  </td>
  <td style="width:12.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>370,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 31.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 23.15pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-2.05pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-8.6pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 25.95pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:24">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ออกหุ้นใหม่<o:p></o:p></span></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>5<o:p></o:p></span></p>
  </td>
  <td style="width:12.62%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,250,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.84%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.65pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>6,250,000<o:p></o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.4%;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 23.15pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-8.6pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 25.95pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:25">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ณ
  วันที่ </span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>31<span lang="TH"> ธันวาคม<o:p></o:p></span></span></b></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.62%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.65pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.84%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.15pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.65pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.4%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.65pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.98%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.15pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:26">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-
  <span lang="TH">หุ้นสามัญ</span><o:p></o:p></span></b></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>10<o:p></o:p></span></p>
  </td>
  <td style="width:12.62%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 29.15pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.84%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:1.5pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 31.15pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.4%;border:none;border-bottom:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 36.65pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>370,000<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.98%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.45pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>3,700,000<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:27;mso-yfti-lastrow:yes">
  <td style="width:28.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="text-align:justify;line-height:normal;tab-stops:
  36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-
  <span lang="TH">หุ้นสามัญ<o:p></o:p></span></span></b></p>
  </td>
  <td style="width:14.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="14%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>5<o:p></o:p></span></p>
  </td>
  <td style="width:12.62%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:2.25pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 42.65pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,990,000<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.84%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.35pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.65pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>9,950,000<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.4%;border:none;border-bottom:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 23.15pt"><b><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.98%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoBodyText" style="margin-bottom:0cm;margin-bottom:.0001pt;
  line-height:normal;tab-stops:decimal 25.95pt"><b><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>-<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
 </tr>
</tbody></table>