<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:465.0pt;margin-left:22.5pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="775">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td colspan="3" style="width:29.58%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="29%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>รายได้</span></b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td colspan="3" style="width:28.6%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="28%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>สินทรัพย์ไม่หมุนเวียน</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td style="width:13.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>2559</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>2558</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>2559</span><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>2558</span><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
  line-height:normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td colspan="7" style="width:61.08%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="61%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>(พันบาท)</span></i><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  color:black'>ไทย</span><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  color:black'><o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 48.55pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2,830,600<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>3,024,226<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.55pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>10,232,324<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 47.55pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>10,239,443<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="38%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:13.56%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 48.55pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>253,313<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 31.85pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.55pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>6,065,399<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 33.35pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5;mso-yfti-lastrow:yes">
  <td style="width:38.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="38%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  color:black;mso-ansi-language:EN-GB'>รวม</span></b><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";color:black'><o:p></o:p></span></b></p>
  </td>
  <td style="width:13.56%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 48.55pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>3,083,913<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.12%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 48.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>3,024,226<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.76%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.55pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>16,297,723<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.94%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 47.55pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>10,239,443<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
 </tr>
</tbody></table>