<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:488.05pt;margin-left:22.5pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="813">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
   <td style="width:29.68%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="29%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif";mso-ascii-font-family:Arial;mso-hansi-font-family:
   Arial'><span style="mso-tab-count:2">                              </span></span><b><span lang="TH" style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
   <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td colspan="3" style="width:25.82%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="25%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>งบการเงินรวม</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
   <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td colspan="3" style="width:32.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="32%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal"><b><span lang="TH" style='font-size:15.0pt;font-family:
   "Angsana New","serif"'>งบการเงินเฉพาะกิจการ</span></b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1">
   <td style="width:29.68%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="29%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
   <p align="center" class="MsoNormal" style="margin-right:-4.85pt;text-align:center;
   tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td colspan="3" style="width:25.82%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="25%">
   <p align="center" class="MsoNormal" style="margin-right:-4.85pt;text-align:center;
   tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่
   </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>31<span lang="TH"> ธันวาคม<o:p></o:p></span></span></p>
   </td>
   <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:12.44%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>31<span lang="TH">
   ธันวาคม<o:p></o:p></span></span></p>
   </td>
   <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:18.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>สำหรับรอบระยะเวลาบัญชีตั้งแต่วันที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>17<span lang="TH">
   กรกฎาคม </span>2558<span lang="TH"> ถึงวันที่ </span>31<span lang="TH"> ธันวาคม<o:p></o:p></span></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:2">
   <td style="width:29.68%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="29%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
   <p align="center" class="MsoNormal" style="margin-right:-5.9pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>หมายเหตุ<o:p></o:p></span></i></p>
   </td>
   <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>2559</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:11.44%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
   <p align="center" class="MsoNormal" style="margin-right:-5.2pt;text-align:center;
   tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>2558</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:12.44%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>2559</span><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:18.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>2558</span><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:3">
   <td style="width:29.68%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="29%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
   </td>
   <td colspan="7" style="width:61.22%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="61%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>(พันบาท)</span></i><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></i></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:4">
  <td style="width:29.68%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="29%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>รายได้ค่าพลังงานไฟฟ้า<o:p></o:p></span></p>
  </td>
  <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 43.95pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,059,980<o:p></o:p></span></p>
  </td>
  <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.44%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 41.1pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>912,955<o:p></o:p></span></p>
  </td>
  <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.44%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 50.1pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>204,451<o:p></o:p></span></p>
  </td>
  <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 68.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>19,263<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:29.68%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="29%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>รายได้ส่วนเพิ่มราคารับซื้อไฟฟ้า<b><i><o:p></o:p></i></b></span></p>
  </td>
  <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.98%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 43.95pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2,023,933<o:p></o:p></span></p>
  </td>
  <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.44%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 41.1pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2,111,271<o:p></o:p></span></p>
  </td>
  <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.44%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 50.1pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>513,596<o:p></o:p></span></p>
  </td>
  <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 68.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>45,188<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:29.68%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="29%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>รายได้ค่าบริการ<o:p></o:p></span></p>
  </td>
  <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>5<o:p></o:p></span></i></p>
  </td>
  <td style="width:11.98%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 28.55pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.44%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 27.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.44%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 50.1pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>28,800<o:p></o:p></span></p>
  </td>
  <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.1%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 68.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>4,220<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7;mso-yfti-lastrow:yes">
  <td style="width:29.68%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="29%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>รวม</span></b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><i><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:11.98%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 43.95pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>3,038,913<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.44%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 41.1pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>3,024,226<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.44%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 50.1pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>746,847<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.1%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 68.75pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>68,671<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>