<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:492.15pt;margin-left:22.5pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="820">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
   <td style="width:30.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="30%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td colspan="3" style="width:25.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="25%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>งบการเงินรวม</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
   <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td colspan="3" style="width:32.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="32%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal"><b><span lang="TH" style='font-size:15.0pt;font-family:
   "Angsana New","serif"'>งบการเงินเฉพาะกิจการ</span></b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1">
   <td style="width:30.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="30%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
   <p align="center" class="MsoNormal" style="margin-right:-4.85pt;text-align:center;
   tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td colspan="3" style="width:25.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="25%">
   <p align="center" class="MsoNormal" style="margin-right:-4.85pt;text-align:center;
   tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่
   </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>31<span lang="TH"> ธันวาคม<o:p></o:p></span></span></p>
   </td>
   <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:12.26%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>31<span lang="TH">
   ธันวาคม<o:p></o:p></span></span></p>
   </td>
   <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:17.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="17%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>สำหรับรอบระยะเวลาบัญชีตั้งแต่วันที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>17<span lang="TH">
   กรกฎาคม </span>2558<span lang="TH"> ถึงวันที่ </span>31<span lang="TH"> ธันวาคม<o:p></o:p></span></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:2">
   <td style="width:30.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="30%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
   <p align="center" class="MsoNormal" style="margin-right:-5.9pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>หมายเหตุ<o:p></o:p></span></i></p>
   </td>
   <td style="width:11.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2559<o:p></o:p></span></p>
   </td>
   <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:11.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
   <p align="center" class="MsoNormal" style="margin-right:-5.2pt;text-align:center;
   tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2558<o:p></o:p></span></p>
   </td>
   <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:12.26%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>2559<o:p></o:p></span></p>
   </td>
   <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:17.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="17%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>2558<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:3">
   <td style="width:30.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="30%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
   </td>
   <td colspan="7" style="width:60.54%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="60%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>(พันบาท)</span></i><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></i></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:4">
  <td style="width:30.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="30%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><b><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เงินปันผลรับ</span></i></b><b><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></i></b></p>
  </td>
  <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.26%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:17.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="17%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:30.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="30%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัทย่อย<o:p></o:p></span></p>
  </td>
  <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>5<o:p></o:p></span></i></p>
  </td>
  <td style="width:11.88%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 35.3pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.34%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 27.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.26%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 50.1pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,489,071<o:p></o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:17.88%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="17%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 68.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>42,741<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:30.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="30%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:11.88%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 35.3pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.34%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 27.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.26%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 50.1pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,489,071<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:17.88%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="17%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 68.75pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>42,741<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:30.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="30%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><b><i><span lang="TH" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><i><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:11.88%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 43.95pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.34%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 27.6pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.26%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 50.1pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:17.88%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="17%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 68.75pt"><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:30.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="30%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><b><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ดอกเบี้ยรับ<o:p></o:p></span></i></b></p>
  </td>
  <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:11.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 43.95pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 27.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.26%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 50.1pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:17.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="17%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 68.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9">
  <td style="width:30.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="30%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัทย่อยและบริษัทย่อยทางอ้อม<o:p></o:p></span></p>
  </td>
  <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>5<o:p></o:p></span></i></p>
  </td>
  <td style="width:11.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 35.3pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 27.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.26%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 50.1pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>53,961<o:p></o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:17.88%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="17%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 55.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10">
  <td style="width:30.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="30%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สถาบันการเงิน<o:p></o:p></span></p>
  </td>
  <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p align="center" class="MsoNormal" style="margin-right:-5.7pt;text-align:center;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:11.88%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 43.95pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>26,764<o:p></o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.34%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 41.1pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>13,677<o:p></o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.26%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 50.1pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>21,017<o:p></o:p></span></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:17.88%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="17%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 68.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,917<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11">
  <td style="width:30.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="30%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p align="center" class="MsoNormal" style="margin-right:-5.7pt;text-align:center;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:11.88%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 43.95pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>26,764<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.34%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 41.1pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>13,677<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.26%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 50.1pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>74,978<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:17.88%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="17%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 68.75pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,917<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:12;mso-yfti-lastrow:yes">
  <td style="width:30.36%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="30%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>รวม<o:p></o:p></span></b></p>
  </td>
  <td style="width:9.1%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p align="center" class="MsoNormal" style="margin-right:-5.7pt;text-align:center;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:11.88%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 43.95pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>26,764<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.34%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 41.1pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>13,677<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.26%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 50.1pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,564,049<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:17.88%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="17%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 68.75pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>44,658<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>