<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:473.4pt;margin-left:22.5pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="789">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
   <td style="width:28.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:8.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="8%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td colspan="3" style="width:26.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="26%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>งบการเงินรวม</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
   <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td colspan="3" style="width:33.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="33%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal"><b><span lang="TH" style='font-size:15.0pt;font-family:
   "Angsana New","serif"'>งบการเงินเฉพาะกิจการ</span></b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1">
   <td style="width:28.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:8.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="8%">
   <p align="center" class="MsoNormal" style="margin-right:-4.85pt;text-align:center;
   tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td colspan="3" style="width:26.62%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="26%">
   <p align="center" class="MsoNormal" style="margin-right:-4.85pt;text-align:center;
   tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่
   </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>31<span lang="TH"> ธันวาคม<o:p></o:p></span></span></p>
   </td>
   <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:12.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>31<span lang="TH">
   ธันวาคม<o:p></o:p></span></span></p>
   </td>
   <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:18.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>สำหรับรอบระยะเวลาบัญชีตั้งแต่วันที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>17<span lang="TH">
   กรกฎาคม </span>2558<span lang="TH"> ถึงวันที่ </span>31<span lang="TH"> ธันวาคม<o:p></o:p></span></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:2">
   <td style="width:28.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:8.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="8%">
   <p align="center" class="MsoNormal" style="margin-right:-5.9pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>หมายเหตุ<o:p></o:p></span></i></p>
   </td>
   <td style="width:12.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>2559</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:11.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
   <p align="center" class="MsoNormal" style="margin-right:-5.2pt;text-align:center;
   tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>2558</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:12.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>2559</span><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:18.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>2558</span><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:3">
   <td style="width:28.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:8.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="8%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
   </td>
   <td colspan="7" style="width:62.92%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="62%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>(พันบาท)</span></i><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></i></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:4">
  <td style="width:28.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><b><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ดอกเบี้ยจ่าย
  </span></i></b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:8.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="tab-stops:decimal 44.75pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="tab-stops:decimal 42.05pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 51.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 69.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:28.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บริษัทใหญ่</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:8.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p align="center" class="MsoNormal" style="margin-right:-6.25pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>5</span></i><i><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></i></p>
  </td>
  <td style="width:12.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 44.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>99,505<o:p></o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 44.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>16,983<o:p></o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 51.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>99,505<o:p></o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 69.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>16,983<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:28.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สถาบันการเงิน<o:p></o:p></span></p>
  </td>
  <td style="width:8.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:12.34%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 44.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>219,861<o:p></o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.78%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 44.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>184,860<o:p></o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.9%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 51.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>101,136<o:p></o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.4%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 55.8pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:28.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>รวมดอกเบี้ยจ่าย</span></b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:8.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p align="center" class="MsoNormal" style="margin-right:-5.7pt;text-align:center;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:12.34%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.75pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>319,366<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.78%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.75pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>201,843<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.9%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 51.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>200,641<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:18.4%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 69.15pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>16,983<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:28.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="28%">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ค่าตัดจำหน่ายของต้นทุนการทำรายการส่วนที่บันทึกรวมกับเงินกู้ยืม<o:p></o:p></span></p>
  </td>
  <td style="width:8.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p align="center" class="MsoNormal" style="margin-right:-5.7pt;text-align:center;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:12.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>46,352<o:p></o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>6,507<o:p></o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 51.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>36,969<o:p></o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 69.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>216<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9">
  <td style="width:28.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="28%">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ต้นทุนทางการเงินอื่น<o:p></o:p></span></p>
  </td>
  <td style="width:8.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p align="center" class="MsoNormal" style="margin-right:-5.7pt;text-align:center;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:12.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>422<o:p></o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>24<o:p></o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.8pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 55.8pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10">
  <td style="width:28.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="28%">
  <p class="MsoNormal" style="margin-left:31.5pt;text-indent:-27.0pt;line-height:
  normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>หัก</span></i><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'> จำนวนที่รวมอยู่ในต้นทุนของส่วนที่บันทึกเป็นต้นทุนของที่ดิน
  อาคารและอุปกรณ์ระหว่างก่อสร้าง<o:p></o:p></span></p>
  </td>
  <td style="width:8.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p align="center" class="MsoNormal" style="margin-right:-5.7pt;text-align:center;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:12.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(16,819)<o:p></o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.78%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 33.2pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.9%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.8pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.4%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 55.8pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11;mso-yfti-lastrow:yes">
  <td style="width:28.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="margin-left:4.5pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>รวม<o:p></o:p></span></b></p>
  </td>
  <td style="width:8.42%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p align="center" class="MsoNormal" style="margin-right:-5.7pt;text-align:center;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:12.34%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.75pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>349,321<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.78%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.75pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>208,374<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.9%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 51.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>237,610<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:18.4%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 69.15pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>17,199<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>