<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:478.25pt;margin-left:22.5pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="797">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
   <td style="width:28.38%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:8.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="8%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td colspan="3" style="width:26.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="26%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>งบการเงินรวม</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
   <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td colspan="3" style="width:34.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="34%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal"><b><span lang="TH" style='font-size:15.0pt;font-family:
   "Angsana New","serif"'>งบการเงินเฉพาะกิจการ</span></b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1">
   <td style="width:28.38%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:8.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="8%">
   <p align="center" class="MsoNormal" style="margin-right:-4.85pt;text-align:center;
   tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td colspan="3" style="width:26.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="26%">
   <p align="center" class="MsoNormal" style="margin-right:-4.85pt;text-align:center;
   tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่
   31 ธันวาคม<o:p></o:p></span></p>
   </td>
   <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:13.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่ 31 ธันวาคม<o:p></o:p></span></p>
   </td>
   <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:18.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>สำหรับรอบระยะเวลาบัญชีตั้งแต่วันที่ 17
   กรกฎาคม 2558 ถึงวันที่ 31 ธันวาคม<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:2">
   <td style="width:28.38%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:8.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="8%">
   <p align="center" class="MsoNormal" style="margin-right:-5.9pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
   </td>
   <td style="width:12.22%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>2559</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:11.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
   <p align="center" class="MsoNormal" style="margin-right:-5.2pt;text-align:center;
   tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>2558</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:13.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>2559</span><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:18.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>2558</span><span style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:3">
   <td style="width:28.38%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:8.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="8%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
   </td>
   <td colspan="7" style="width:63.3%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="63%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>(พันบาท)</span></i><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></i></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:4">
  <td style="width:28.38%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="margin-left:3.6pt;line-height:normal;tab-stops:
  36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ภาษีเงินได้ของงวดปัจจุบัน</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:8.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.22%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="tab-stops:decimal 44.75pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="tab-stops:decimal 42.05pt"><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 51.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 69.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:28.38%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:3.6pt;margin-bottom:.0001pt;line-height:normal;tab-stops:
  27.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สำหรับปีปัจจุบัน<o:p></o:p></span></p>
  </td>
  <td style="width:8.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p align="center" class="MsoNormal" style="margin-right:-6.25pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><i><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:12.22%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 44.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>965<o:p></o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 42.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>13,133<o:p></o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 39.8pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 55.8pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:28.38%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:3.6pt;margin-bottom:.0001pt;line-height:normal;tab-stops:
  27.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ภาษีงวดก่อนๆ
  ที่บันทึกสูงไป<o:p></o:p></span></p>
  </td>
  <td style="width:8.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:12.22%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 35.85pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.66%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 42.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(25)<o:p></o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 39.8pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.52%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 55.8pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:28.38%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:3.6pt;margin-bottom:.0001pt;line-height:normal;tab-stops:
  27.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:8.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p align="center" class="MsoNormal" style="margin-right:-5.7pt;text-align:center;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:12.22%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.75pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>965<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.66%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 42.05pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>13,108<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.5%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.8pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:18.52%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-top-alt:solid windowtext .5pt;mso-border-top-alt:
  solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 55.8pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:28.38%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:3.6pt;margin-bottom:.0001pt;line-height:normal;tab-stops:
  27.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:8.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p align="center" class="MsoNormal" style="margin-right:-5.7pt;text-align:center;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:12.22%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.75pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.66%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 42.05pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.5%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.8pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:18.52%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 55.8pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9">
  <td style="width:28.38%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:3.6pt;margin-bottom:.0001pt;line-height:normal;tab-stops:
  27.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ภาษีเงินได้รอการตัดบัญชี<o:p></o:p></span></b></p>
  </td>
  <td style="width:8.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p align="center" class="MsoNormal" style="margin-right:-5.7pt;text-align:center;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:12.22%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 42.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 51.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.52%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 69.15pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10">
  <td colspan="2" style="width:36.7%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="36%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.7pt;margin-bottom:
  0cm;margin-left:4.5pt;margin-bottom:.0001pt;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>การเปลี่ยนแปลงของผลต่างชั่วคราว</span><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></i></p>
  </td>
  <td style="width:12.22%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.75pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(20,016)<o:p></o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.66%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 42.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(1,693)<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 51.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(8,730)<o:p></o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.52%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 69.3pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(506)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11">
  <td style="width:28.38%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:3.6pt;margin-bottom:.0001pt;line-height:normal;tab-stops:
  27.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:8.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p align="center" class="MsoNormal" style="margin-right:-5.7pt;text-align:center;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:12.22%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.75pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.66%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 42.05pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.5%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 51.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:18.52%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 69.15pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:12">
  <td style="width:28.38%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:3.6pt;margin-bottom:.0001pt;line-height:normal;tab-stops:
  27.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:8.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p align="center" class="MsoNormal" style="margin-right:-5.7pt;text-align:center;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:12.22%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.75pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(20,016)<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.66%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 42.05pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(1,693)<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.5%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 51.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(8,730)<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:18.52%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 69.15pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(506)<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:13;mso-yfti-lastrow:yes">
  <td style="width:28.38%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="28%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-indent:-5.4pt;line-height:
  normal;tab-stops:27.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>รวมค่าใช้จ่าย (ผลประโยชน์)ภาษีเงินได้<o:p></o:p></span></b></p>
  </td>
  <td style="width:8.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="8%">
  <p align="center" class="MsoNormal" style="margin-right:-5.7pt;text-align:center;
  tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:12.22%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.75pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(19,051)<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.66%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="margin-right:-5.7pt;tab-stops:decimal 42.05pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>11,415<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.65pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.5%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 51.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(8,730)<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.5pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:18.52%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 69.15pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(506)<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>