<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:459.0pt;margin-left:20.25pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="765">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:17.1pt;text-indent:-17.1pt;line-height:
  normal;tab-stops:11.35pt 22.7pt 27.0pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td colspan="7" style="width:54.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="54%">
  <p align="center" class="acctfourfigures" style="margin-right:-9.85pt;text-align:
  center;line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>งบการเงินรวม</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:17.1pt;text-indent:-17.1pt;line-height:
  normal;tab-stops:11.35pt 22.7pt 27.0pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td colspan="3" style="width:25.22%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="25%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>2559</span><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td colspan="3" style="width:26.76%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="26%">
  <p align="center" class="acctfourfigures" style="text-align:center;line-height:
  normal;tab-stops:27.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'>2558<b><o:p></o:p></b></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="line-height:normal"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p align="center" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  center;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif";mso-bidi-language:TH'>อัตราภาษี<i>(ร้อยละ)</i></span><span lang="EN-GB" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p></o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-6.55pt;text-align:justify;line-height:
  normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;text-align:justify;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="center" class="MsoNormal" style="margin-right:-5.55pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><i><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>(<span lang="TH">พันบาท)</span></span></i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-6.55pt;text-align:justify;line-height:
  normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p align="center" class="acctfourfigures" style="margin-right:-.9pt;text-align:
  center;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif";mso-bidi-language:TH'>อัตราภาษี</span><span lang="EN-GB" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p></o:p></span></p>
  <p align="center" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  center;line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>(ร้อยละ)</span></i><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p></o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-6.55pt;text-align:justify;line-height:
  normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.7%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-6.55pt;text-align:justify;line-height:
  normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="center" class="MsoNormal" style="margin-right:-5.35pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><i><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>(<span lang="TH">พันบาท)</span></span></i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:15.75pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>กำไรก่อนภาษีเงินได้รวม<o:p></o:p></span></p>
  </td>
  <td style="width:9.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="acctfourfigures" style="margin-right:12.55pt;text-align:
  right;line-height:normal;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.48%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="acctfourfigures" style="margin-right:-5.55pt;line-height:normal;
  tab-stops:decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US'>1,522,274<o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="acctfourfigures" style="margin-right:12.55pt;text-align:
  right;line-height:normal;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.7%;border:none;border-bottom:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="acctfourfigures" style="margin-right:-5.55pt;line-height:normal;
  tab-stops:decimal 44.25pt"><span lang="EN-GB" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>2,158,787<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:15.75pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>จำนวนภาษีตามอัตราภาษีเงินได้<o:p></o:p></span></p>
  </td>
  <td style="width:9.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>20<o:p></o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.55pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.48%;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>304,455<o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>20<o:p></o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.55pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.7%;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>431,757<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:15.75pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ผลกระทบจากความแตกต่างของอัตราภาษีสำหรับกิจการในต่างประเทศ<o:p></o:p></span></p>
  </td>
  <td style="width:9.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.55pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(556)<o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.55pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.7%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 35.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:27.45pt;margin-bottom:
  0cm;margin-left:15.75pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>รายได้ที่ไม่ต้องเสียภาษี</span><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>/<span lang="TH">รายจ่ายที่มีสิทธิหักได้เพิ่มขึ้น<o:p></o:p></span></span></p>
  </td>
  <td style="width:9.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 52.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(437,441)<o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 52.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.7%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(432,702)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:15.75pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ค่าใช้จ่ายต้องห้ามทางภาษี</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>/<span lang="TH">รายการปรับปรุง<o:p></o:p></span></span></p>
  </td>
  <td style="width:9.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 52.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>2,185<o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 52.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.7%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>339<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:15.75pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ผลขาดทุนในปีปัจจุบันที่ไม่รับรู้เป็นสินทรัพย์</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left:15.75pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><span style="mso-spacerun:yes">  
  </span>ภาษีเงินได้รอการตัดบัญชี<o:p></o:p></span></p>
  </td>
  <td style="width:9.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 52.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 52.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>103,046<o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 52.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.7%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 35.25pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>-</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:15.75pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ภาษีงวดก่อนๆ ที่บันทึกสูงไป<o:p></o:p></span></p>
  </td>
  <td style="width:9.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 52.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 35.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 52.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.7%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(25)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:31.95pt;margin-bottom:
  0cm;margin-left:15.75pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>กำไรจากการจำหน่ายเงินลงทุนภายใต้การควบคุมเดียวกัน<o:p></o:p></span></p>
  </td>
  <td style="width:9.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 52.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 35.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 52.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.7%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>10,118<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:15.75pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>อื่นๆ<o:p></o:p></span></p>
  </td>
  <td style="width:9.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 52.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>9,260<o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 52.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.7%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,928<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:12">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:15.75pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>รวม</span></b><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:9.8%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p align="center" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  center;line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>-</span></b><b><span style='font-size:15.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'><o:p></o:p></span></b></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.55pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.48%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(19,051)<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.12%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p align="center" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  center;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'>0.53<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.55pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.7%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>11,415<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:13;mso-yfti-lastrow:yes">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:15.75pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:10.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.8%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p align="center" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  center;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:10.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.55pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.48%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.12%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p align="center" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  center;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:10.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.55pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.7%;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
 </tr>
</tbody></table>