<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:469.8pt;margin-left:22.5pt;border-collapse:collapse;mso-yfti-tbllook:
 480;mso-padding-alt:0cm 5.4pt 0cm 5.4pt" width="783">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
   <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
   <p class="MsoNormal" style="line-height:19.0pt;mso-line-height-rule:exactly;
   tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
   color:blue'><o:p> </o:p></span></p>
   </td>
   <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="129">
   <p align="center" class="MsoNormal" style="text-align:center;line-height:19.0pt;
   mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>มูลค่าตามบัญชี<o:p></o:p></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoNormal" style="text-align:center;line-height:19.0pt;
   mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
   <p align="center" class="MsoNormal" style="text-align:center;line-height:19.0pt;
   mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>รายการปรับปรุง<o:p></o:p></span></b></p>
   </td>
   <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
   <p align="center" class="MsoNormal" style="text-align:center;line-height:19.0pt;
   mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:85.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="143">
   <p align="center" class="MsoNormal" style="text-align:center;line-height:19.0pt;
   mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>มูลค่ายุติธรรม<o:p></o:p></span></b></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1">
   <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
   <p class="MsoNormal" style="line-height:19.0pt;mso-line-height-rule:exactly"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td colspan="5" style="width:266.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="444">
   <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
   line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(<span lang="TH">พันบาท</span>)<o:p></o:p></span></i></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:2">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เงินสดและรายการเทียบเท่าเงินสด</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>354,284<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>354,284<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ลูกหนี้การค้า</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>23,930<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>23,930<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ลูกหนี้อื่น<o:p></o:p></span></p>
  </td>
  <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>408,2<span lang="TH">3</span>2<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>408,232<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สินทรัพย์หมุนเวียนอื่น<o:p></o:p></span></p>
  </td>
  <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>107,3<span lang="TH">2</span>8<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>107,328<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ที่ดิน
  อาคารและอุปกรณ์</span><b><i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></i></b></p>
  </td>
  <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>1,410,352<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,410,352<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สินทรัพย์ไม่มีตัวตน<o:p></o:p></span></p>
  </td>
  <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>109,221<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>1,680,425<o:p></o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,789,646<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สินทรัพย์ไม่หมุนเวียนอื่น<o:p></o:p></span></p>
  </td>
  <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>54,581<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>54,581<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เจ้าหนี้อื่น</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>(457,637)<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(457,637)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมระยะสั้นจากสถาบันการเงิน<o:p></o:p></span></p>
  </td>
  <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>(80,334)<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(80,334)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="margin-left:17.1pt;text-indent:-12.6pt;line-height:
  19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมระยะยาวจากกลุ่ม
  </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>SunEdison
  <span lang="TH">ที่ถึงกำหนดชำระในหนึ่งปี</span>**<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>(776,850)<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(776,850)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:12">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="margin-left:17.1pt;text-indent:-12.6pt;line-height:
  19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมระยะยาวจากสถาบันการเงินที่ถึงกำหนดชำระในหนึ่งปี</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>(47,757)<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(47,757)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:13">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>หนี้สินหมุนเวียนอื่น</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>(5,230)<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(5,230)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:14">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมระยะยาวจากกลุ่ม
  </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>SunEdison**<o:p></o:p></span></p>
  </td>
  <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>(144,504)<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(144,504)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:15">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมระยะยาวจากสถาบันการเงิน<o:p></o:p></span></p>
  </td>
  <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>(1,167,222)<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(1,167,222)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:16">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ประมาณการหนี้สินระยะยาว<o:p></o:p></span></p>
  </td>
  <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>(35,453)<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(35,453)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:17">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>หนี้สินภาษีเงินได้รอการตัดบัญชี<o:p></o:p></span></p>
  </td>
  <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>(6,102)<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>(442,863)<o:p></o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(448,965)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:18">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>รวมสินทรัพย์และหนี้สินสุทธิที่ระบุได้</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:77.4pt;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><b><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>(253,161)<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:76.5pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>1,237,562<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:85.65pt;border:none;border-top:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>984,401<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:19">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>หัก</span></i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>
  ส่วนได้เสียที่ไม่มีอำนาจควบคุม<o:p></o:p></span></p>
  </td>
  <td style="width:77.4pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>(147)<o:p></o:p></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:76.5pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(147)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:20">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สินทรัพย์และหนี้สินสุทธิที่ได้มา<o:p></o:p></span></b></p>
  </td>
  <td style="width:77.4pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><b><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>(253,308)<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:85.65pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>984,254<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:21">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:8.1pt;margin-bottom:
  0cm;margin-left:18.0pt;margin-bottom:.0001pt;text-indent:-13.5pt;line-height:
  19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ชำระคืนเงินกู้ยืม</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>**<span lang="TH">และดอกเบี้ยค้างจ่ายที่มีกับกลุ่ม
  </span>SunEdison <span lang="TH">ภายใต้เงื่อนไขการซื้อธุรกิจ<b><o:p></o:p></b></span></span></p>
  </td>
  <td style="width:77.4pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><span style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>1,006,132<b><o:p></o:p></b></span></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,006,132<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:22;height:19.85pt">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:19.85pt" valign="top" width="339">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:3.6pt;margin-bottom:
  0cm;margin-left:18.0pt;margin-bottom:.0001pt;text-indent:-13.5pt;line-height:
  19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สินทรัพย์และหนี้สินที่กลุ่มบริษัทได้มาสุทธิ</span></b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:77.4pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt;height:19.85pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><b><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>752,824<o:p></o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:19.85pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:19.85pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:19.85pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:85.65pt;border:none;mso-border-top-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.85pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,990,386<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:23">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:3.6pt;margin-bottom:
  0cm;margin-left:18.0pt;margin-bottom:.0001pt;text-indent:-13.5pt;line-height:
  19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>กำไรจากการต่อรองราคาซื้อ<o:p></o:p></span></p>
  </td>
  <td style="width:77.4pt;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 58.5pt"><b><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 94.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:85.65pt;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="text-align:right;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:decimal 75.6pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(226,592)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:24;mso-yfti-lastrow:yes">
  <td style="width:203.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="339">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:19.0pt;mso-line-height-rule:
  exactly"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สิ่งตอบแทนที่โอนให้<o:p></o:p></span></b></p>
  </td>
  <td style="width:77.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="129">
  <p class="MsoNormal" style="margin-right:-5.4pt;line-height:19.0pt;mso-line-height-rule:
  exactly;tab-stops:decimal 67.5pt"><b><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:19.0pt;
  mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:76.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="128">
  <p align="right" class="MsoNormal" style="margin-right:-.05pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.35pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="22">
  <p align="right" class="MsoNormal" style="margin-right:-.05pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:85.65pt;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="143">
  <p align="right" class="MsoNormal" style="margin-right:-.05pt;text-align:right;
  line-height:19.0pt;mso-line-height-rule:exactly;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,763,794<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>