<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:459.0pt;margin-left:20.25pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="765">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:17.1pt;text-indent:-17.1pt;line-height:
  normal;tab-stops:11.35pt 22.7pt 27.0pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td colspan="7" style="width:54.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="54%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>งบการเงินเฉพาะกิจการ</span></b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1;height:20.15pt">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt;
  height:20.15pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:17.1pt;text-indent:-17.1pt;line-height:
  normal;tab-stops:11.35pt 22.7pt 27.0pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td colspan="3" style="width:25.22%;padding:0cm 5.4pt 0cm 5.4pt;
  height:20.15pt" valign="bottom" width="25%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่ 31 ธันวาคม 2559<o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt;
  height:20.15pt" valign="bottom" width="2%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td colspan="3" style="width:26.76%;padding:0cm 5.4pt 0cm 5.4pt;
  height:20.15pt" valign="bottom" width="26%">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>สำหรับรอบระยะเวลาบัญชีตั้งแต่วันที่ 17
  กรกฎาคม 2558 ถึงวันที่ 31 ธันวาคม 2558<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="line-height:normal"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p align="center" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  center;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif";mso-bidi-language:TH'>อัตราภาษี<i>(ร้อยละ)</i></span><span lang="EN-GB" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p></o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-6.55pt;text-align:justify;line-height:
  normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;text-align:justify;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="center" class="MsoNormal" style="margin-right:-5.55pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><i><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>(<span lang="TH">พันบาท)</span></span></i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-6.55pt;text-align:justify;line-height:
  normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p align="center" class="acctfourfigures" style="margin-right:-.9pt;text-align:
  center;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:
  15.0pt;font-family:"Angsana New","serif";mso-bidi-language:TH'>อัตราภาษี</span><span lang="EN-GB" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p></o:p></span></p>
  <p align="center" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  center;line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>(ร้อยละ)</span></i><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p></o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-6.55pt;text-align:justify;line-height:
  normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.7%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-6.55pt;text-align:justify;line-height:
  normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p align="center" class="MsoNormal" style="margin-right:-5.35pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><i><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>(<span lang="TH">พันบาท)</span></span></i><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:15.75pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>กำไรก่อนภาษีเงินได้รวม<o:p></o:p></span></p>
  </td>
  <td style="width:9.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p align="center" class="MsoNormal" style="margin-right:-5.5pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoNormal" style="margin-right:-5.5pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.48%;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="acctfourfigures" style="margin-right:-5.5pt;line-height:normal;
  tab-stops:decimal 46.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-bidi-font-family:"Times New Roman";mso-ansi-language:EN-US'>1,432,482<o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p align="center" class="MsoNormal" style="margin-right:-5.5pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="center" class="MsoNormal" style="margin-right:-5.5pt;text-align:center;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.7%;border:none;border-bottom:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="acctfourfigures" style="margin-right:-5.5pt;line-height:normal;
  tab-stops:decimal 46.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>58,647<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:15.75pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>จำนวนภาษีตามอัตราภาษีเงินได้<o:p></o:p></span></p>
  </td>
  <td style="width:9.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p align="center" class="MsoNormal" style="margin-right:-5.5pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>20<o:p></o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.48%;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>286,496<o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p align="center" class="MsoNormal" style="margin-right:-5.5pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><span style='font-size:15.0pt;
  font-family:"Angsana New","serif"'>20<o:p></o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.7%;border:none;mso-border-top-alt:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="acctfourfigures" style="margin-right:-5.5pt;line-height:normal;
  tab-stops:decimal 46.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>11,729<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:22.95pt;margin-bottom:
  0cm;margin-left:15.75pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>รายได้ที่ไม่ต้องเสียภาษี</span><span style='font-size:
  15.0pt;font-family:"Angsana New","serif"'>/<span lang="TH">รายจ่ายที่มีสิทธิหักได้เพิ่มขึ้น<o:p></o:p></span></span></p>
  </td>
  <td style="width:9.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 52.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(359,031)<o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.7%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="acctfourfigures" style="margin-right:-5.5pt;line-height:normal;
  tab-stops:decimal 46.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  <p class="acctfourfigures" style="margin-right:-5.5pt;line-height:normal;
  tab-stops:decimal 46.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>(14,279)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:15.75pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ค่าใช้จ่ายต้องห้ามทางภาษี</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>/<span lang="TH">รายการปรับปรุง<o:p></o:p></span></span></p>
  </td>
  <td style="width:9.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 52.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1,177<o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.7%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="acctfourfigures" style="margin-right:-5.5pt;line-height:normal;
  tab-stops:decimal 46.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>116<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:15.75pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ผลขาดทุนในปีปัจจุบันที่ไม่รับรู้เป็นสินทรัพย์ภาษีเงินได้รอตัดบัญชี<o:p></o:p></span></p>
  </td>
  <td style="width:9.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 52.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>54,213<o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-26.35pt;margin-bottom:
  0cm;margin-left:21.6pt;margin-bottom:.0001pt;text-align:justify;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.7%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="acctfourfigures" style="margin-right:-5.5pt;line-height:normal;
  tab-stops:decimal 46.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  <p class="acctfourfigures" style="margin-right:-5.5pt;line-height:normal;
  tab-stops:decimal 46.05pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>1,928<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:15.75pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>อื่นๆ<o:p></o:p></span></p>
  </td>
  <td style="width:9.8%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p class="acctfourfigures" style="margin-right:-5.4pt;line-height:normal;
  tab-stops:decimal 52.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.6pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>8,415<o:p></o:p></span></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.12%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:12.7%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 35.25pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9;mso-yfti-lastrow:yes">
  <td style="width:45.06%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="45%">
  <p class="MsoNormal" style="margin-left:15.75pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>รวม</span></b><span lang="TH" style='font-size:15.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:9.8%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
  <p align="center" class="acctfourfigures" style="margin-right:-5.4pt;text-align:
  center;line-height:normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;
  font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p align="right" class="MsoNormal" style="margin-right:12.55pt;text-align:right;
  line-height:normal;tab-stops:11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.48%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="MsoNormal" style="margin-right:-5.55pt;line-height:normal;tab-stops:
  decimal 44.25pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>(8,730)<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.96%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.12%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
  <p class="MsoNormal" style="margin-right:-5.5pt;text-align:justify;line-height:
  normal;tab-stops:36.0pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><span style="mso-spacerun:yes">        
  </span>-<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.94%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
  <p class="MsoNormal" style="margin-right:-5.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 34.0pt decimal 44.6pt 52.0pt left 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 186.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:12.7%;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
  <p class="acctfourfigures" style="margin-right:-5.5pt;line-height:normal;
  tab-stops:decimal 46.05pt"><b><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>(506)<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>