<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:478.25pt;margin-left:22.5pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="797">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
   <td style="width:27.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="27%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:9.3%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td colspan="3" style="width:26.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="26%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>งบการเงินรวม</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
   <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td colspan="3" style="width:34.44%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="34%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal"><b><span lang="TH" style='font-size:15.0pt;font-family:
   "Angsana New","serif"'>งบการเงินเฉพาะกิจการ</span></b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1">
   <td style="width:27.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="27%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:9.3%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
   <p align="center" class="MsoNormal" style="margin-right:-4.85pt;text-align:center;
   tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td colspan="3" style="width:26.34%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="26%">
   <p align="center" class="MsoNormal" style="margin-right:-4.85pt;text-align:center;
   tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่
   </span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>31<span lang="TH"> ธันวาคม<o:p></o:p></span></span></p>
   </td>
   <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:13.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>สำหรับปีสิ้นสุดวันที่ </span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>31<span lang="TH">
   ธันวาคม<o:p></o:p></span></span></p>
   </td>
   <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:18.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>สำหรับรอบระยะเวลาบัญชีตั้งแต่วันที่ </span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>17<span lang="TH">
   กรกฎาคม </span>2558<span lang="TH"> ถึงวันที่ </span>31<span lang="TH"> ธันวาคม<o:p></o:p></span></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:2">
   <td style="width:27.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="27%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:9.3%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
   <p align="center" class="MsoNormal" style="margin-right:-5.9pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
   </td>
   <td style="width:12.22%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="12%">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>2559</span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoNormal" style="text-align:center;tab-stops:36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:11.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="11%">
   <p align="center" class="MsoNormal" style="margin-right:-5.2pt;text-align:center;
   tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>2558</span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:13.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="13%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>2559</span><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="2%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:18.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="18%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>2558</span><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:3">
   <td style="width:27.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="27%">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:9.3%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="9%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
   </td>
   <td colspan="7" style="width:63.26%;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="63%">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>(พันบาท)</span></i><i><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></i></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:4">
  <td colspan="2" style="width:36.74%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="36%">
  <p class="MsoNormal" style="text-indent:4.5pt;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  TH'>กิจการที่ได้รับการส่งเสริมการลงทุน</span><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:12.22%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="tab-stops:decimal 44.75pt"><span style='font-size:
  14.0pt;font-family:"Angsana New","serif"'>2,830,600<o:p></o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="tab-stops:36.0pt"><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.66%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="tab-stops:decimal 42.05pt"><span style='font-size:
  14.0pt;font-family:"Angsana New","serif"'>3,018,320<o:p></o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 44.6pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 51.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>718,047<o:p></o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.48%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 69.15pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>58,545<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td colspan="2" style="width:36.74%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="36%">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;text-indent:5.4pt;line-height:normal"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  TH'>กิจการที่ไม่ได้รับการส่งเสริมการลงทุน<o:p></o:p></span></p>
  </td>
  <td style="width:12.22%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 44.75pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>253,313<o:p></o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:11.66%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 42.05pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>5,906<o:p></o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:13.5%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 51.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>28,800<o:p></o:p></span></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:18.48%;border:none;border-bottom:
  solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 69.15pt"><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>10,126<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6;mso-yfti-lastrow:yes">
  <td style="width:27.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="27%">
  <p class="MsoNormal" style="text-indent:4.5pt;line-height:normal;tab-stops:
  11.35pt 22.7pt 27.0pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>รวม<o:p></o:p></span></b></p>
  </td>
  <td style="width:9.3%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="9%">
  <p align="center" class="MsoNormal" style="text-align:center;line-height:normal;
  tab-stops:36.0pt"><i><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
  </td>
  <td style="width:12.22%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="12%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 44.75pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>3,083,913<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:11.66%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="11%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 42.05pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>3,024,226<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:13.5%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="13%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 51.0pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>746,847<o:p></o:p></span></b></p>
  </td>
  <td style="width:2.46%;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="2%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:36.0pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:18.48%;border:none;border-bottom:
  double windowtext 1.5pt;mso-border-top-alt:solid windowtext .5pt;padding:
  0cm 5.4pt 0cm 5.4pt" valign="bottom" width="18%">
  <p class="MsoNormal" style="line-height:normal;tab-stops:decimal 69.15pt"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>68,671<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>