<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:489.3pt;margin-left:27.0pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="816">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
   <td style="width:176.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="294">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
   normal;tab-stops:36.0pt"><b><i><span style='font-size:13.0pt;font-family:
   "Angsana New","serif"'><o:p> </o:p></span></i></b></p>
   </td>
   <td colspan="3" style="width:146.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="244">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>งบการเงินรวม</span></b><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td colspan="3" style="width:153.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="255">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>งบการเงินเฉพาะกิจการ</span></b><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1">
   <td style="width:176.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="294">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:
   normal;tab-stops:36.0pt"><b><i><span style='font-size:13.0pt;font-family:
   "Angsana New","serif"'><o:p> </o:p></span></i></b></p>
   </td>
   <td style="width:65.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="109">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:67.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="113">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td rowspan="2" style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="98">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif";mso-ansi-font-style:italic'>สำหรับปีสิ้นสุดวันที่
   </span><i style="mso-bidi-font-style:normal"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p></o:p></span></i></p>
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif";mso-ansi-font-style:italic'>31 ธันวาคม</span><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td rowspan="2" style="width:81.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="135">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>สำหรับรอบระยะเวลาบัญชีตั้งแต่วันที่ </span><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>17 <span lang="TH">กรกฎาคม
   </span>2558 <span lang="TH">ถึงวันที่ <span style="mso-ansi-font-style:italic">31
   ธันวาคม</span><o:p></o:p></span></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:2;height:10.5pt">
   <td style="width:176.4pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:10.5pt" valign="top" width="294">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:
   9.0pt;line-height:normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
   </td>
   <td colspan="3" style="width:146.4pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:10.5pt" valign="bottom" width="244">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif";mso-ansi-font-style:italic'>สำหรับปีสิ้นสุดวันที่
   </span><i style="mso-bidi-font-style:normal"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p></o:p></span></i></p>
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif";mso-ansi-font-style:italic'>31 ธันวาคม</span><i style="mso-bidi-font-style:normal"><span style='font-size:13.0pt;font-family:
   "Angsana New","serif"'><o:p></o:p></span></i></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:10.5pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i style="mso-bidi-font-style:normal"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:10.5pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif";mso-ansi-font-style:italic'><o:p> </o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:3;height:10.5pt">
   <td style="width:176.4pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:10.5pt" valign="top" width="294">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:
   9.0pt;line-height:normal;tab-stops:36.0pt"><b><i><span lang="TH" style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
   </td>
   <td style="width:65.4pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:10.5pt" valign="bottom" width="109">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>2559<o:p></o:p></span></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:10.5pt" valign="bottom" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:67.5pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:10.5pt" valign="bottom" width="113">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>2558<o:p></o:p></span></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:10.5pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:10.5pt" valign="top" width="98">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>2559<o:p></o:p></span></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:10.5pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:81.0pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:10.5pt" valign="top" width="135">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-5.5pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>2558</span><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:4">
   <td style="width:176.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="294">
   <p class="MsoNormal" style="text-align:justify;text-justify:inter-cluster;
   text-indent:9.0pt;line-height:normal"><b><i><span lang="TH" style='font-size:
   13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
   </td>
   <td colspan="7" style="width:312.9pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="522">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><i><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>(พันบาท</span></i><i><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>/<span lang="TH">พันหุ้น)<o:p></o:p></span></span></i></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:5">
   <td style="width:176.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="294">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-1.35pt;margin-bottom:
   0cm;margin-left:9.0pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
   normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif";mso-ansi-language:TH'>กำไรส่วนที่เป็นของผู้ถือหุ้นสามัญเดิมก่อน<span style="mso-spacerun:yes">     </span>การจัดโครงสร้างธุรกิจ<o:p></o:p></span></b></p>
   </td>
   <td style="width:65.4pt;border:none;border-bottom:
   double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="109">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:17.1pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>-<o:p></o:p></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:67.5pt;border:none;border-bottom:
   double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="113">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>1,958,591<o:p></o:p></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:58.5pt;border:none;border-bottom:
   double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="98">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:17.1pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>-<span lang="TH"><o:p></o:p></span></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:81.0pt;border:none;border-bottom:
   double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="135">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>-<span lang="TH"><o:p></o:p></span></span></b></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:6">
   <td style="width:176.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="294">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-1.35pt;margin-bottom:
   0cm;margin-left:9.0pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
   normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif";mso-ansi-language:TH'>กำไรส่วนที่เป็นของผู้ถือหุ้นสามัญของบริษัทหลังการจัดโครงสร้างธุรกิจ<o:p></o:p></span></b></p>
   </td>
   <td style="width:65.4pt;border:none;border-bottom:
   double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="109">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:5.05pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>1,541,325<o:p></o:p></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:67.5pt;border:none;border-bottom:
   double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="113">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>188,780<span lang="TH"><o:p></o:p></span></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:58.5pt;border:none;border-bottom:
   double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="98">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:5.05pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>1,441,212<span lang="TH"><o:p></o:p></span></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:81.0pt;border:none;border-bottom:
   double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="135">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 62.1pt"><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>59,153<o:p></o:p></span></b></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:7">
   <td style="width:176.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="294">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-1.35pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;text-indent:9.0pt;line-height:
   normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:10.0pt;
   font-family:"Angsana New","serif";mso-ansi-language:TH'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:65.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="109">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:5.05pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span style='font-size:10.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:10.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:67.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="113">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:17.1pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span style='font-size:10.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:10.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:5.05pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span style='font-size:10.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:10.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:81.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="135">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 62.1pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:8">
   <td style="width:176.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="294">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-1.35pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;font-family:"Angsana New","serif"'>จำนวนหุ้นสามัญที่ออก
   ณ วันต้นปี/งวด<o:p></o:p></span></p>
   </td>
   <td style="width:65.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="109">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:5.05pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>740,000<o:p></o:p></span></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:67.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="113">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>4,000<o:p></o:p></span></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:5.05pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>740,000<o:p></o:p></span></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:81.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="135">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 62.1pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>4,000<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:9">
   <td style="width:176.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="294">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-1.35pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;font-family:"Angsana New","serif";
   mso-ansi-language:TH'>ผลกระทบจากหุ้นสามัญที่ออกและจำหน่ายแล้ว<b><o:p></o:p></b></span></p>
   </td>
   <td style="width:65.4pt;border:none;border-bottom:solid windowtext 1.0pt;
   mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="109">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:5.05pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>659,481<o:p></o:p></span></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:67.5pt;border:none;border-bottom:solid windowtext 1.0pt;
   mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="113">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>124,877<o:p></o:p></span></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:58.5pt;border:none;border-bottom:solid windowtext 1.0pt;
   mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:5.05pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>659,481<o:p></o:p></span></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:81.0pt;border:none;border-bottom:solid windowtext 1.0pt;
   mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="135">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 62.1pt"><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>124,877<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:10">
   <td style="width:176.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="294">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-74.25pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;font-family:"Angsana New","serif"'>จำนวนหุ้นสามัญโดยวิธีถัวเฉลี่ยถ่วงน้ำหนัก
   </span></b><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-74.25pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;text-indent:9.0pt;line-height:
   normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>(<span lang="TH">ขั้นพื้นฐาน)<o:p></o:p></span></span></b></p>
   </td>
   <td style="width:65.4pt;border:none;border-bottom:double windowtext 1.5pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="109">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:5.05pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:5.05pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>1,399,481<o:p></o:p></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:67.5pt;border:none;border-bottom:double windowtext 1.5pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="113">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>128,877<span lang="TH"><o:p></o:p></span></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:58.5pt;border:none;border-bottom:double windowtext 1.5pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:5.05pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:5.05pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
   font-family:"Angsana New","serif"'>1,399,481<o:p></o:p></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:81.0pt;border:none;border-bottom:double windowtext 1.5pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="135">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 62.1pt"><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 62.1pt"><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>128,877<span lang="TH"><o:p></o:p></span></span></b></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:11">
   <td style="width:176.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="294">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
   0cm;margin-left:9.0pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
   normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:10.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:65.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="109">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:17.1pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span style='font-size:10.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:10.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:67.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="113">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:10.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:58.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="98">
   <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:17.1pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
   line-height:normal;tab-stops:36.0pt"><b><span style='font-size:10.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="23">
   <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
   margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:10.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:81.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="135">
   <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
   0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 62.1pt"><b><span style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:12;height:30.7pt">
  <td style="width:176.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:30.7pt" valign="bottom" width="294">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:9.0pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;font-family:
  "Angsana New","serif"'>กำไรต่อหุ้นขั้นพื้นฐาน <i>(บาท) </i></span></b><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>- <span lang="TH">ส่วนที่เป็นของผู้ถือหุ้นสามัญเดิมก่อนการจัดโครงสร้างธุรกิจ
  <o:p></o:p></span></span></b></p>
  </td>
  <td style="width:65.4pt;border:none;border-bottom:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:30.7pt" valign="top" width="109">
  <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:17.1pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:17.1pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
  font-family:"Angsana New","serif"'>-<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:30.7pt" valign="top" width="23">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:67.5pt;border:none;border-bottom:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:30.7pt" valign="top" width="113">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.6pt"><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>15.20<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:30.7pt" valign="top" width="23">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:58.5pt;border:none;border-bottom:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:30.7pt" valign="top" width="98">
  <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:17.1pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:17.1pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
  font-family:"Angsana New","serif"'>-<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:30.7pt" valign="top" width="23">
  <p align="center" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:81.0pt;border:none;border-bottom:double windowtext 1.5pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:30.7pt" valign="top" width="135">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 62.1pt"><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>-<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:13;mso-yfti-lastrow:yes">
  <td style="width:176.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="294">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:9.0pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;font-family:
  "Angsana New","serif"'>กำไรต่อหุ้นขั้นพื้นฐาน <i>(บาท) </i></span></b><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>- <span lang="TH">ส่วนที่เป็นของผู้ถือหุ้นสามัญของบริษัทหลังการจัดโครงสร้างธุรกิจ<o:p></o:p></span></span></b></p>
  </td>
  <td style="width:65.4pt;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="109">
  <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:5.05pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:5.05pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
  font-family:"Angsana New","serif"'>1.10<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:67.5pt;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="113">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 39.6pt"><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>1.46<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:58.5pt;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="98">
  <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:5.05pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:5.05pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><b><span style='font-size:13.0pt;
  font-family:"Angsana New","serif"'>1.03<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
  <td style="width:13.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="23">
  <p align="right" class="MsoBodyText" style="margin-top:0cm;margin-right:-6.55pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:right;
  line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:13.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:81.0pt;border:none;border-bottom:
  double windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="135">
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 62.1pt"><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  <p class="MsoBodyText" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal;tab-stops:decimal 48.6pt"><b><span style='font-size:13.0pt;font-family:"Angsana New","serif"'>0.46<span lang="TH"><o:p></o:p></span></span></b></p>
  </td>
 </tr>
</tbody></table>