<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:463.5pt;margin-left:22.5pt;border-collapse:collapse;mso-padding-alt:
 0cm 3.95pt 0cm 3.95pt" width="773">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;page-break-inside:avoid;
   height:5.65pt">
   <td colspan="3" style="width:229.5pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:5.65pt" valign="bottom" width="383">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td colspan="7" style="width:234.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:5.65pt" valign="top" width="390">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>งบการเงินรวม</span></b><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1;page-break-inside:avoid;height:18.2pt">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="bottom" width="278">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt"><i><span style='font-size:14.0pt;font-family:"Angsana New","serif";color:blue;
   mso-ansi-language:EN-US'><o:p> </o:p></span></i></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="top" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'><o:p> </o:p></span></p>
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>อัตราดอกเบี้ย<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="top" width="15">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="bottom" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>ภายใน </span><span style='font-size:14.0pt;font-family:
   "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'>1 </span><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>ปี</span><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="bottom" width="15">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="bottom" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>หลังจาก</span><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif";mso-bidi-language:TH'> 1 </span><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>ปีแต่ภายใน </span><span style='font-size:14.0pt;
   font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
   TH'>5 <span lang="TH">ปี<span dir="RTL"><o:p></o:p></span></span></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="bottom" width="15">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="bottom" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>หลังจาก </span><span style='font-size:14.0pt;
   font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
   TH'>5 <span lang="TH">ปี<o:p></o:p></span></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="bottom" width="15">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="bottom" width="75">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>รวม<span dir="RTL"><o:p></o:p></span></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:2;page-break-inside:avoid">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
   <p class="MsoNormal" style="margin-left:9.0pt"><b><i><span style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p align="center" class="MsoNormal" style="margin-top:0cm;margin-right:-3.4pt;
   margin-bottom:0cm;margin-left:4.5pt;margin-bottom:.0001pt;text-align:center;
   text-indent:-4.5pt;tab-stops:82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><i><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>(ร้อยละต่อปี)</span></i><i><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></i></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="MsoNormal" style="margin-left:9.0pt"><b><i><span style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
   </td>
   <td colspan="7" style="width:234.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="390">
   <p align="center" class="acctfourfigures" style="margin-right:.55pt;text-align:
   center;mso-line-height-alt:12.0pt;tab-stops:decimal 36.55pt"><i><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>(พันบาท)</span></i><i><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
   TH'><o:p></o:p></span></i></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:3;page-break-inside:avoid">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
   <p class="MsoNormal"><b><i><span lang="TH" style='font-size:14.0pt;font-family:
   "Angsana New","serif"'>ปี </span></i></b><b><i><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>255<span lang="TH">9</span><o:p></o:p></span></i></b></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 41.05pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:4;page-break-inside:avoid">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
   <p class="MsoNormal"><b><span lang="TH" style='font-size:14.0pt;font-family:
   "Angsana New","serif"'>หมุนเวียน</span></b><b><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 41.05pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:5;page-break-inside:avoid">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
   <p class="MsoNormal" style="margin-left:18.55pt;text-indent:-9.0pt;tab-stops:
   36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมจากสถาบันการเงิน</span><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:-4.5pt;text-align:
   center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span style='font-size:
   14.0pt;font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
   TH'>0.30 – 4.23<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><span style='font-size:14.0pt;font-family:
   "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'>1,193,731<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 32.6pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 32.6pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 37.1pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>1,193,731<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:6;page-break-inside:avoid">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
   <p class="MsoNormal" style="tab-stops:36.0pt"><b><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><span style="mso-spacerun:yes"> </span><span lang="TH">ไม่หมุนเวียน</span><o:p></o:p></span></b></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:5.05pt;text-align:
   center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 32.05pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:7;page-break-inside:avoid;height:13.5pt">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:13.5pt" valign="top" width="278">
   <p class="MsoNormal" style="margin-left:9.0pt;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมจากสถาบันการเงิน<o:p></o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:13.5pt" valign="top" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:-4.5pt;text-align:
   center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span style='font-size:
   14.0pt;font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
   TH'>0.30 – 4.23<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:13.5pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:13.5pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 37.1pt"><span style='font-size:14.0pt;font-family:
   "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:13.5pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:13.5pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 46.1pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>3,613,655<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:13.5pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:13.5pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 46.1pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>5,342,837<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:13.5pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:13.5pt" valign="top" width="75">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 37.1pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>8,956,492<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:8;page-break-inside:avoid">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
   <p class="MsoNormal" style="tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>รวม</span></b><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:5.05pt;text-align:
   center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:54.0pt;border-top:solid windowtext 1.0pt;
   border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
   mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
   padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>1,193,730<o:p></o:p></span></b></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:54.0pt;border-top:solid windowtext 1.0pt;
   border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
   mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
   padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>3,613,655<o:p></o:p></span></b></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:54.0pt;border-top:solid windowtext 1.0pt;
   border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
   mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
   padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>5,342,837<o:p></o:p></span></b></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:45.0pt;border-top:solid windowtext 1.0pt;
   border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
   mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
   padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 27.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>10,150,223<o:p></o:p></span></b></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:9;page-break-inside:avoid">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
   <p class="MsoNormal" style="tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:5.05pt;text-align:
   center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:54.0pt;border:none;mso-border-top-alt:
   double windowtext 1.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:54.0pt;border:none;mso-border-top-alt:
   double windowtext 1.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:54.0pt;border:none;mso-border-top-alt:
   double windowtext 1.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:45.0pt;border:none;mso-border-top-alt:
   double windowtext 1.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 32.05pt"><b><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:10;page-break-inside:avoid">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
   <p class="MsoNormal"><b><i><span lang="TH" style='font-size:14.0pt;font-family:
   "Angsana New","serif"'>ปี </span></i></b><b><i><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>2558<o:p></o:p></span></i></b></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 41.05pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:11;page-break-inside:avoid">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
   <p class="MsoNormal"><b><span lang="TH" style='font-size:14.0pt;font-family:
   "Angsana New","serif"'>หมุนเวียน</span></b><b><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 41.05pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:12;page-break-inside:avoid">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
   <p class="MsoNormal" style="margin-left:18.55pt;text-indent:-9.0pt;tab-stops:
   36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมจากสถาบันการเงิน</span><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:-4.5pt;text-align:
   center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span style='font-size:
   14.0pt;font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
   TH'>2.59 - 5.25</span><span lang="EN-GB" style='font-size:14.0pt;font-family:
   "Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>145,475<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 32.6pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 32.6pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 37.1pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>145,475<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:13;page-break-inside:avoid">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
   <p class="MsoNormal" style="margin-left:18.55pt;text-indent:-9.0pt;tab-stops:
   36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมจากกิจการที่เกี่ยวข้องกัน<o:p></o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:-4.5pt;text-align:
   center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span style='font-size:
   14.0pt;font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
   TH'>2.50 - 4.22<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>510,199<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 32.6pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 32.6pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 37.1pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>510,199<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:14;page-break-inside:avoid">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
   <p class="MsoNormal" style="tab-stops:36.0pt"><b><span style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><span style="mso-spacerun:yes"> </span><span lang="TH">ไม่หมุนเวียน</span><o:p></o:p></span></b></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:5.05pt;text-align:
   center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 32.05pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:15;page-break-inside:avoid">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
   <p class="MsoNormal" style="margin-left:9.0pt;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมจากสถาบันการเงิน<o:p></o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:-4.5pt;text-align:
   center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
   EN-US;mso-bidi-language:TH'>2.59 - 5.25</span><span style='font-size:14.0pt;
   font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
   TH'><o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 37.1pt"><span style='font-size:14.0pt;font-family:
   "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'>-<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 46.1pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>638,891<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 46.1pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>607,753<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 37.1pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>1,246,644<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:16;page-break-inside:avoid">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
   <p class="MsoNormal" style="margin-left:9.0pt;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมจากกิจการที่เกี่ยวข้องกัน</span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:-4.5pt;text-align:
   center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span style='font-size:
   14.0pt;font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
   TH'>2.50 - 4.22<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;border:none;border-bottom:solid windowtext 1.0pt;
   mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 37.1pt"><span style='font-size:14.0pt;font-family:
   "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'>-</span><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;border:none;border-bottom:solid windowtext 1.0pt;
   mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>4,190,786<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;border:none;border-bottom:solid windowtext 1.0pt;
   mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>1,501,544<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:45.0pt;border:none;border-bottom:solid windowtext 1.0pt;
   mso-border-bottom-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 37.1pt"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>5,692,330<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:17;mso-yfti-lastrow:yes;page-break-inside:avoid">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
   <p class="MsoNormal" style="tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>รวม</span></b><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:5.05pt;text-align:
   center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:54.0pt;border:none;border-bottom:double windowtext 1.5pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>655,674<o:p></o:p></span></b></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:54.0pt;border:none;border-bottom:double windowtext 1.5pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>4,829,677<o:p></o:p></span></b></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:54.0pt;border:none;border-bottom:double windowtext 1.5pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>2,109,297<o:p></o:p></span></b></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 38.25pt 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
   </td>
   <td style="width:45.0pt;border:none;border-bottom:double windowtext 1.5pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
   <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
   12.0pt;tab-stops:decimal 37.1pt"><b><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'>7,594,648<o:p></o:p></span></b></p>
   </td>
  </tr>
 </thead>
</table>