<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:463.5pt;margin-left:22.5pt;border-collapse:collapse;mso-padding-alt:
 0cm 3.95pt 0cm 3.95pt" width="773">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:5.65pt">
   <td colspan="3" style="width:229.5pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:5.65pt" valign="bottom" width="383">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td colspan="7" style="width:234.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:5.65pt" valign="top" width="390">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>งบการเงินเฉพาะกิจการ</span></b><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
   TH'><o:p></o:p></span></b></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1;height:18.2pt">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="bottom" width="278">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt"><i><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
   color:blue'><o:p> </o:p></span></i></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="top" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'><o:p> </o:p></span></p>
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>อัตราดอกเบี้ย<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="top" width="15">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="bottom" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>ภายใน </span><span style='font-size:14.0pt;font-family:
   "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'>1 </span><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>ปี</span><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="bottom" width="15">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="bottom" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>หลังจาก</span><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif";mso-bidi-language:TH'> 1 </span><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>ปีแต่ภายใน </span><span style='font-size:14.0pt;
   font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
   TH'>5 <span lang="TH">ปี<span dir="RTL"><o:p></o:p></span></span></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="bottom" width="15">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="bottom" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>หลังจาก </span><span style='font-size:14.0pt;
   font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
   TH'>5 <span lang="TH">ปี<o:p></o:p></span></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="bottom" width="15">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.2pt" valign="bottom" width="75">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>รวม<span dir="RTL"><o:p></o:p></span></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:2">
   <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
   <p class="MsoNormal" style="margin-left:9.0pt"><b><i><span style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p align="center" class="MsoNormal" style="margin-top:0cm;margin-right:-3.4pt;
   margin-bottom:0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-align:center;
   text-indent:-13.5pt;tab-stops:11.35pt 22.7pt 34.0pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><i><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>(ร้อยละต่อปี)</span></i><i><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></i></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="MsoNormal" style="margin-left:9.0pt"><b><i><span style='font-size:
   14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></i></b></p>
   </td>
   <td colspan="7" style="width:234.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="390">
   <p align="center" class="acctfourfigures" style="margin-right:.55pt;text-align:
   center;mso-line-height-alt:12.0pt;tab-stops:decimal 36.55pt"><i><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";
   mso-bidi-language:TH'>(พันบาท)</span></i><i><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
   TH'><o:p></o:p></span></i></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:3">
  <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
  <p class="MsoNormal"><b><i><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>ปี </span></i></b><b><i><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>255<span lang="TH">9</span><o:p></o:p></span></i></b></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p align="center" class="acctfourfigures" style="margin-right:5.05pt;text-align:
  center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4">
  <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
  <p class="MsoNormal"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>หมุนเวียน</span></b><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p align="center" class="acctfourfigures" style="margin-right:5.05pt;text-align:
  center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
  <p class="MsoNormal" style="margin-left:18.55pt;text-indent:-9.0pt;tab-stops:
  36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมจากสถาบันการเงิน<o:p></o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p align="right" class="acctfourfigures" style="margin-right:4.5pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span style='font-size:
  14.0pt;font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'>1</span><span style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US'>.60 - 4.23<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 46.1pt"><span style='font-size:14.0pt;font-family:
  "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'>825,722</span><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 32.6pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 32.6pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 37.1pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>825,722<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
  <p class="MsoNormal"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>ไม่หมุนเวียน</span></b><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p align="center" class="acctfourfigures" style="margin-right:-4.5pt;text-align:
  center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
  <p class="MsoNormal" style="margin-left:9.0pt"><span lang="TH" style='font-size:
  14.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมจากสถาบันการเงิน<o:p></o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p align="right" class="acctfourfigures" style="margin-right:4.5pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span style='font-size:
  14.0pt;font-family:"Angsana New","serif";mso-ansi-language:EN-US'>1.60 - 4.23</span><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'><o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 32.6pt"><span style='font-size:14.0pt;font-family:
  "Angsana New","serif";mso-ansi-language:EN-US'>-<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 45.55pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'>2,312,757</span><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
  14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 45.55pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>2,638,209<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'>4,950,966<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
  <p class="MsoNormal" style="tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>รวม</span></b><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p align="center" class="acctfourfigures" style="margin-right:5.05pt;text-align:
  center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:54.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 46.1pt"><b><span style='font-size:14.0pt;font-family:
  "Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:TH'>825,722<o:p></o:p></span></b></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:54.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>2,312,757<o:p></o:p></span></b></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 38.25pt 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:54.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>2,638,209<o:p></o:p></span></b></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:45.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 37.1pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>5,776,688<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9">
  <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
  <p class="MsoNormal"><b><i><span lang="TH" style='font-size:10.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></i></b></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p align="center" class="acctfourfigures" style="margin-right:5.05pt;text-align:
  center;line-height:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="line-height:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;line-height:12.0pt;
  tab-stops:36.0pt"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;line-height:12.0pt;
  tab-stops:36.0pt"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;line-height:12.0pt;
  tab-stops:36.0pt"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;line-height:12.0pt;
  tab-stops:36.0pt"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;line-height:12.0pt;
  tab-stops:36.0pt"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;line-height:12.0pt;
  tab-stops:36.0pt"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
  <p class="acctfourfigures" style="margin-right:-8.45pt;line-height:12.0pt;
  tab-stops:36.0pt"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10">
  <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
  <p class="MsoNormal"><b><i><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>ปี </span></i></b><b><i><span style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>2558<o:p></o:p></span></i></b></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p align="center" class="acctfourfigures" style="margin-right:5.05pt;text-align:
  center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11">
  <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
  <p class="MsoNormal"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>หมุนเวียน</span></b><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p align="center" class="acctfourfigures" style="margin-right:5.05pt;text-align:
  center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:12">
  <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
  <p class="MsoNormal" style="margin-left:18.55pt;text-indent:-9.0pt;tab-stops:
  36.0pt"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมจากกิจการที่เกี่ยวข้องกัน<o:p></o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p align="right" class="acctfourfigures" style="margin-right:4.5pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span style='font-size:
  14.0pt;font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'>2.50 - 4.22</span><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 46.1pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>510,199<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 32.6pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 32.6pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 37.1pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>510,199<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:13">
  <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
  <p class="MsoNormal"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>ไม่หมุนเวียน</span></b><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p align="center" class="acctfourfigures" style="margin-right:-4.5pt;text-align:
  center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:14">
  <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
  <p class="MsoNormal" style="margin-left:9.0pt"><span lang="TH" style='font-size:
  14.0pt;font-family:"Angsana New","serif"'>เงินกู้ยืมจากกิจการที่เกี่ยวข้องกัน</span><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p align="right" class="acctfourfigures" style="margin-right:4.5pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span style='font-size:
  14.0pt;font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
  TH'><span style="mso-spacerun:yes">  </span>2.50 - 4.22<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 32.6pt"><span style='font-size:14.0pt;font-family:
  "Angsana New","serif";mso-ansi-language:EN-US'>-</span><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 45.55pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>4,190,786<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 38.25pt 45.55pt"><span lang="EN-GB" style='font-size:
  14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 45.55pt"><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>1,501,544<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:45.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'>5,692,330<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:15;mso-yfti-lastrow:yes">
  <td style="width:166.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="278">
  <p class="MsoNormal" style="tab-stops:36.0pt"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>รวม</span></b><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p align="center" class="acctfourfigures" style="margin-right:5.05pt;text-align:
  center;mso-line-height-alt:12.0pt;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:54.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 46.1pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>510,199<o:p></o:p></span></b></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:54.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>4,190,786<o:p></o:p></span></b></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 38.25pt 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:54.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 45.55pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>1,501,544<o:p></o:p></span></b></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:36.0pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'><o:p> </o:p></span></b></p>
  </td>
  <td style="width:45.0pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:none;
  mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="75">
  <p class="acctfourfigures" style="margin-right:-8.45pt;mso-line-height-alt:
  12.0pt;tab-stops:decimal 37.1pt"><b><span lang="EN-GB" style='font-size:14.0pt;
  font-family:"Angsana New","serif"'>6,202,529<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>