<table align="left" border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:490.5pt;border-collapse:collapse;mso-table-lspace:9.0pt;
 margin-left:7.2pt;mso-table-rspace:9.0pt;margin-right:7.2pt;mso-table-anchor-vertical:
 paragraph;mso-table-anchor-horizontal:margin;mso-table-left:left;mso-table-top:
 9.15pt;mso-padding-alt:0cm 3.95pt 0cm 3.95pt" width="818">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:18.15pt">
   <td rowspan="2" style="width:94.5pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.15pt" valign="bottom" width="158">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt;
   mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;
   mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:margin;
   mso-element-top:9.15pt;mso-height-rule:exactly"><i><span style='font-size:
   14.0pt;font-family:"Angsana New","serif";color:blue;mso-ansi-language:EN-US;
   mso-bidi-language:TH'><o:p> </o:p></span></i></p>
   </td>
   <td colspan="13" style="width:396.0pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.15pt" valign="top" width="660">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt;
   mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;
   mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:margin;
   mso-element-top:9.15pt;mso-height-rule:exactly"><b><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
   TH'>งบการเงินเฉพาะกิจการ</span></b><b><span lang="TH" style='font-size:14.0pt;
   font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
   TH'><o:p></o:p></span></b></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1;height:18.15pt">
   <td colspan="5" style="width:170.35pt;border:none;
   border-bottom:solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
   padding:0cm 3.95pt 0cm 3.95pt;height:18.15pt" valign="top" width="284">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt;
   mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;
   mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:margin;
   mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
   TH'>มูลค่าตามบัญชี<o:p></o:p></span></p>
   </td>
   <td style="width:8.9pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.15pt" valign="top" width="15">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt;
   mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;
   mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:margin;
   mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
   TH'><o:p> </o:p></span></p>
   </td>
   <td colspan="7" style="width:216.75pt;border:none;
   border-bottom:solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
   padding:0cm 3.95pt 0cm 3.95pt;height:18.15pt" valign="bottom" width="361">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt;
   mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;
   mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:margin;
   mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
   TH'>มูลค่ายุติธรรม<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:2;height:18.15pt">
   <td style="width:94.5pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.15pt" valign="bottom" width="158">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;tab-stops:36.0pt;
   mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;
   mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:margin;
   mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:48.95pt;border:none;mso-border-top-alt:
   solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt;height:18.15pt" valign="top" width="82">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:
   frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
   paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
   mso-height-rule:exactly"><span lang="TH" style='font-size:14.0pt;font-family:
   "Angsana New","serif";mso-bidi-language:TH'>หมุนเวียน<o:p></o:p></span></p>
   </td>
   <td style="width:8.9pt;border:none;border-top:solid windowtext 1.0pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.15pt" valign="top" width="15">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:
   frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
   paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
   mso-height-rule:exactly"><span lang="TH" style='font-size:14.0pt;font-family:
   "Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;border:none;border-top:solid windowtext 1.0pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.15pt" valign="top" width="90">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:
   frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
   paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
   mso-height-rule:exactly"><span lang="TH" style='font-size:14.0pt;font-family:
   "Angsana New","serif";mso-bidi-language:TH'>ไม่หมุนเวียน<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;border:none;border-top:solid windowtext 1.0pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.15pt" valign="top" width="15">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:
   frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
   paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
   mso-height-rule:exactly"><span lang="TH" style='font-size:14.0pt;font-family:
   "Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></p>
   </td>
   <td style="width:49.5pt;border:none;border-top:solid windowtext 1.0pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.15pt" valign="top" width="83">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:
   frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
   paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
   mso-height-rule:exactly"><span lang="TH" style='font-size:14.0pt;font-family:
   "Angsana New","serif";mso-bidi-language:TH'>รวม<o:p></o:p></span></p>
   </td>
   <td style="width:8.9pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.15pt" valign="top" width="15">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:
   frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
   paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
   mso-height-rule:exactly"><span lang="TH" style='font-size:14.0pt;font-family:
   "Angsana New","serif";mso-bidi-language:TH'><o:p> </o:p></span></p>
   </td>
   <td style="width:49.7pt;border:none;mso-border-top-alt:
   solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt;height:18.15pt" valign="top" width="83">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:
   frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
   paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
   mso-height-rule:exactly"><span lang="TH" style='font-size:14.0pt;font-family:
   "Angsana New","serif";mso-bidi-language:TH'>ระดับ </span><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
   EN-US;mso-bidi-language:TH'>1<o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;border:none;border-top:solid windowtext 1.0pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.15pt" valign="top" width="15">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt;
   mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;
   mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:margin;
   mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:49.5pt;border:none;border-top:solid windowtext 1.0pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.15pt" valign="top" width="83">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:
   frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
   paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
   mso-height-rule:exactly"><span lang="TH" style='font-size:14.0pt;font-family:
   "Angsana New","serif";mso-bidi-language:TH'>ระดับ </span><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
   EN-US;mso-bidi-language:TH'>2</span><span dir="RTL" lang="TH" style='font-size:
   14.0pt;font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;border:none;border-top:solid windowtext 1.0pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.15pt" valign="top" width="15">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt;
   mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;
   mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:margin;
   mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:44.6pt;border:none;border-top:solid windowtext 1.0pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.15pt" valign="top" width="74">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:
   frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
   paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
   mso-height-rule:exactly"><span lang="TH" style='font-size:14.0pt;font-family:
   "Angsana New","serif";mso-bidi-language:TH'>ระดับ </span><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
   EN-US;mso-bidi-language:TH'>3</span><span dir="RTL" lang="TH" style='font-size:
   14.0pt;font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p></o:p></span></p>
   </td>
   <td style="width:9.0pt;border:none;border-top:solid windowtext 1.0pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.15pt" valign="top" width="15">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:decimal 18.55pt;
   mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;
   mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:margin;
   mso-element-top:9.15pt;mso-height-rule:exactly"><span dir="RTL" lang="AR-SA" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:45.95pt;border:none;border-top:solid windowtext 1.0pt;
   mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.95pt 0cm 3.95pt;
   height:18.15pt" valign="top" width="77">
   <p align="center" class="acctfourfigures" style="margin-right:-3.95pt;
   text-align:center;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:
   frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
   paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
   mso-height-rule:exactly"><span lang="TH" style='font-size:14.0pt;font-family:
   "Angsana New","serif";mso-bidi-language:TH'>รวม<span dir="RTL"><o:p></o:p></span></span></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:3">
   <td style="width:94.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="158">
   <p class="MsoNormal" style="margin-left:9.0pt;text-indent:-9.0pt;mso-element:
   frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
   paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
   mso-height-rule:exactly"><b><i><span style='font-size:14.0pt;font-family:
   "Angsana New","serif"'><o:p> </o:p></span></i></b></p>
   </td>
   <td colspan="13" style="width:396.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="660">
   <p align="center" class="acctfourfigures" style="margin-right:1.65pt;text-align:
   center;mso-line-height-alt:12.0pt;tab-stops:decimal 36.55pt 38.25pt;
   mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;
   mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:margin;
   mso-element-top:9.15pt;mso-height-rule:exactly"><i><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
   TH'>(พันบาท)</span></i><i><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p></o:p></span></i></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:4;page-break-inside:avoid">
  <td style="width:94.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="158">
  <p class="MsoNormal" style="mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>31 <span lang="TH">ธันวาคม
  </span>255<span lang="TH">9<i><o:p></o:p></i></span></span></b></p>
  </td>
  <td style="width:48.95pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="82">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:8.9pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="83">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:8.9pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.7pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="83">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:5.05pt;mso-line-height-alt:12.0pt;
  mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;
  mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:margin;
  mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="83">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:44.6pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="74">
  <p class="acctfourfigures" style="margin-right:2.3pt;mso-line-height-alt:12.0pt;
  tab-stops:decimal 23.6pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:45.95pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="77">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>-<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5;page-break-inside:avoid;height:13.3pt">
  <td style="width:94.5pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="top" width="158">
  <p class="MsoNormal" style="margin-left:9.55pt;text-indent:-9.55pt;mso-element:
  frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="TH" style='font-size:10.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:48.95pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="82">
  <p class="acctfourfigures" style="margin-right:.55pt;line-height:12.0pt;
  tab-stops:decimal 40.5pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:8.9pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="15">
  <p class="acctfourfigures" style="margin-right:.55pt;line-height:12.0pt;
  tab-stops:36.0pt;mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:
  around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="90">
  <p class="acctfourfigures" style="margin-right:.55pt;line-height:12.0pt;
  tab-stops:decimal 41.7pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="15">
  <p class="acctfourfigures" style="margin-right:.55pt;line-height:12.0pt;
  tab-stops:36.0pt;mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:
  around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.5pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-4.6pt;line-height:12.0pt;
  tab-stops:36.0pt;mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:
  around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:8.9pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="top" width="15">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;line-height:12.0pt;tab-stops:36.0pt;mso-element:frame;mso-element-frame-hspace:
  9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;
  mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;mso-height-rule:
  exactly"><span style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.7pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:2.3pt;line-height:12.0pt;
  tab-stops:decimal 28.3pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="15">
  <p align="right" class="acctfourfigures" style="margin-right:5.05pt;text-align:
  right;line-height:12.0pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.5pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="83">
  <p align="center" class="acctfourfigures" style="margin-right:-4.5pt;text-align:
  center;line-height:12.0pt;tab-stops:36.0pt;mso-element:frame;mso-element-frame-hspace:
  9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;
  mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;mso-height-rule:
  exactly"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="15">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  12.0pt;mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:
  around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:44.6pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="74">
  <p class="acctfourfigures" style="margin-right:2.3pt;line-height:12.0pt;
  tab-stops:decimal 23.6pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="15">
  <p align="right" class="acctfourfigures" style="text-align:right;line-height:
  12.0pt;mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:
  around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:45.95pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="77">
  <p class="acctfourfigures" style="margin-right:-8.45pt;text-align:justify;
  line-height:12.0pt;tab-stops:36.0pt;mso-element:frame;mso-element-frame-hspace:
  9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;
  mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;mso-height-rule:
  exactly"><span lang="EN-GB" style='font-size:10.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
 </tr>
 </tbody><thead>
  <tr style="mso-yfti-irow:6;page-break-inside:avoid">
   <td style="width:94.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="158">
   <p class="MsoNormal" style="margin-left:9.0pt;text-indent:-9.0pt;mso-element:
   frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
   paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
   mso-height-rule:exactly"><b><span style='font-size:14.0pt;font-family:"Angsana New","serif"'>31
   <span lang="TH">ธันวาคม </span>255<span lang="TH">8</span><o:p></o:p></span></b></p>
   </td>
   <td style="width:48.95pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="82">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
   mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
   margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
   TH'><o:p> </o:p></span></p>
   </td>
   <td style="width:8.9pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
   mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
   margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
   mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
   margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
   mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
   margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:49.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="83">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
   mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
   margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:8.9pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
   mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
   margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:49.7pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="83">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
   mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
   margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;mso-element:frame;
   mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
   paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
   mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:49.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="83">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 41.05pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
   mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
   margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;mso-element:frame;
   mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
   paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
   mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:44.6pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="74">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
   mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
   margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
   <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;mso-element:frame;
   mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
   paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
   mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;
   font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
   <td style="width:45.95pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="77">
   <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
   tab-stops:decimal 36.55pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
   mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
   margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:7;page-break-inside:avoid">
  <td style="width:94.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="158">
  <p class="MsoNormal" style="mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><b><i><span lang="TH" style='font-size:14.0pt;font-family:"Angsana New","serif"'>หนี้สินทางการเงิน<o:p></o:p></span></i></b></p>
  </td>
  <td style="width:48.95pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="82">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:8.9pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="90">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="83">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:8.9pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.7pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="83">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="margin-right:5.05pt;mso-line-height-alt:12.0pt;
  mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;
  mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:margin;
  mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.5pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="83">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:44.6pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="74">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="15">
  <p class="acctfourfigures" style="mso-line-height-alt:12.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:45.95pt;padding:0cm 3.95pt 0cm 3.95pt" valign="top" width="77">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8;mso-yfti-lastrow:yes;page-break-inside:avoid;
  height:13.3pt">
  <td style="width:94.5pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="top" width="158">
  <p class="MsoNormal" style="margin-left:9.55pt;text-indent:-9.55pt;mso-element:
  frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="TH" style='font-size:14.0pt;font-family:
  "Angsana New","serif"'>เงินกู้ยืมระยะยาว (ส่วนที่มีดอกเบี้ยคงที่)<o:p></o:p></span></p>
  </td>
  <td style="width:48.95pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="82">
  <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
  tab-stops:decimal 40.5pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>(510,199)<o:p></o:p></span></p>
  </td>
  <td style="width:8.9pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="15">
  <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
  tab-stops:36.0pt;mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:
  around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:54.0pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="90">
  <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
  tab-stops:decimal 41.7pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>(5,692,330)<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="15">
  <p class="acctfourfigures" style="margin-right:.55pt;mso-line-height-alt:12.0pt;
  tab-stops:36.0pt;mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:
  around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.5pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:-4.6pt;mso-line-height-alt:12.0pt;
  tab-stops:36.0pt;mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:
  around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>(6,202,529)<o:p></o:p></span></p>
  </td>
  <td style="width:8.9pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="top" width="15">
  <p align="right" class="acctfourfigures" style="margin-right:.55pt;text-align:
  right;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.7pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="83">
  <p class="acctfourfigures" style="margin-right:2.3pt;mso-line-height-alt:12.0pt;
  tab-stops:decimal 28.3pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="15">
  <p align="right" class="acctfourfigures" style="margin-right:5.05pt;text-align:
  right;mso-line-height-alt:12.0pt;mso-element:frame;mso-element-frame-hspace:
  9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;
  mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;mso-height-rule:
  exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:49.5pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="83">
  <p align="center" class="acctfourfigures" style="margin-right:-4.5pt;text-align:
  center;mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;
  mso-element-frame-hspace:9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:
  paragraph;mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;
  mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:
  "Angsana New","serif";mso-bidi-language:TH'>(6,249,245)</span><span style='font-size:14.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'><o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="15">
  <p align="right" class="acctfourfigures" style="text-align:right;mso-line-height-alt:
  12.0pt;mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:
  around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:44.6pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="74">
  <p class="acctfourfigures" style="margin-right:2.3pt;mso-line-height-alt:12.0pt;
  tab-stops:decimal 23.6pt;mso-element:frame;mso-element-frame-hspace:9.0pt;
  mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>-<o:p></o:p></span></p>
  </td>
  <td style="width:9.0pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="15">
  <p align="right" class="acctfourfigures" style="text-align:right;mso-line-height-alt:
  12.0pt;mso-element:frame;mso-element-frame-hspace:9.0pt;mso-element-wrap:
  around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
  margin;mso-element-top:9.15pt;mso-height-rule:exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:45.95pt;padding:0cm 3.95pt 0cm 3.95pt;
  height:13.3pt" valign="bottom" width="77">
  <p class="acctfourfigures" style="margin-right:-8.45pt;text-align:justify;
  mso-line-height-alt:12.0pt;tab-stops:36.0pt;mso-element:frame;mso-element-frame-hspace:
  9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;
  mso-element-anchor-horizontal:margin;mso-element-top:9.15pt;mso-height-rule:
  exactly"><span lang="EN-GB" style='font-size:14.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>(6,249,245)<o:p></o:p></span></p>
  </td>
 </tr>
</tbody></table>