<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:445.5pt;margin-left:27.9pt;border-collapse:collapse;mso-yfti-tbllook:
 480;mso-padding-alt:0cm 5.4pt 0cm 5.4pt" width="743">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
   <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="338">
   <p align="center" class="block" style="margin:0cm;margin-bottom:.0001pt;
   text-align:center;mso-line-height-alt:12.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
   EN-US;mso-bidi-language:TH'>มาตรฐานการรายงานทางการเงิน</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
   EN-US;mso-bidi-language:TH'><o:p></o:p></span></b></p>
   </td>
   <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="bottom" width="405">
   <p align="center" class="block" style="margin:0cm;margin-bottom:.0001pt;
   text-align:center;mso-line-height-alt:12.0pt"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
   EN-US;mso-bidi-language:TH'>เรื่อง</span></b><b><span style='font-size:15.0pt;
   font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
   TH'><o:p></o:p></span></b></p>
   </td>
  </tr>
  <tr style="mso-yfti-irow:1;height:7.75pt">
   <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:7.75pt" valign="top" width="338">
   <p class="block" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
   text-justify:inter-cluster;line-height:12.0pt"><span style='font-size:10.0pt;
   font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
   TH'><o:p> </o:p></span></p>
   </td>
   <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:7.75pt" valign="top" width="405">
   <p class="block" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
   text-justify:inter-cluster;line-height:12.0pt"><span style='font-size:10.0pt;
   font-family:"Angsana New","serif";mso-ansi-language:EN-US;mso-bidi-language:
   TH'><o:p> </o:p></span></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:2">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ 1
  (ปรับปรุง 2559)<b> </b><o:p></o:p></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>การนำเสนองบการเงิน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>7<span lang="TH"> (ปรับปรุง 2559)<o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>งบกระแสเงินสด<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>8<span lang="TH"> (ปรับปรุง 2559)<o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>นโยบายการบัญชี การเปลี่ยนแปลงประมาณการทางบัญชีและข้อผิดพลาด<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>10<span lang="TH"> (ปรับปรุง 2559)<o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>เหตุการณ์ภายหลังรอบระยะเวลารายงาน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>12<span lang="TH"> (ปรับปรุง 2559</span>)<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>ภาษีเงินได้<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ 1</span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>6<span lang="TH"> (ปรับปรุง 2559)<o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>ที่ดิน อาคารและอุปกรณ์<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:-14.4pt;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>17<span lang="TH"> (ปรับปรุง 2559)<o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>สัญญาเช่า<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ 1</span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>8<span lang="TH"> (ปรับปรุง 2559)<o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>รายได้<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>19 <span lang="TH">(ปรับปรุง </span>2559)<b><span lang="TH"> </span></b><span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>ผลประโยชน์ของพนักงาน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>21<span lang="TH"> (ปรับปรุง 2559)<o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>ผลกระทบจากการเปลี่ยนแปลงของอัตราแลกเปลี่ยนเงินตราต่างประเทศ<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:12">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>23<span lang="TH"> (ปรับปรุง 2559)<o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>ต้นทุนการกู้ยืม<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:13">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>24<span lang="TH"> (ปรับปรุง 2559)<o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>การเปิดเผยข้อมูลเกี่ยวกับบุคคลหรือกิจการที่เกี่ยวข้องกัน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:14">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>26<span lang="TH"> (ปรับปรุง 2559)<o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>การบัญชีและการรายงานโครงการผลประโยชน์เมื่อออกจากงาน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:15">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>27<span lang="TH"> (ปรับปรุง 2559)<o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>งบการเงินเฉพาะกิจการ<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:16">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>33<span lang="TH"> (ปรับปรุง 2559)<o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>กำไรต่อหุ้น<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:17">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>34<span lang="TH"> (ปรับปรุง 2559)<b> </b><o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>งบการเงินระหว่างกาล<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:18">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>37<span lang="TH"> (ปรับปรุง 2559)<o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>ประมาณการหนี้สิน หนี้สินที่อาจเกิดขึ้น
  และสินทรัพย์ที่อาจเกิดขึ้น<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:19">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>38<span lang="TH"> (ปรับปรุง </span>2559)<b><span lang="TH"> </span></b><span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>สินทรัพย์ไม่มีตัวตน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:20">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:-9.9pt;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:21">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:-4.5pt;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการบัญชี ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>107<span lang="TH"> (ปรับปรุง </span>2559<span lang="TH">)<b> </b><o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>การแสดงรายการและการเปิดเผยข้อมูลสำหรับเครื่องมือทางการเงิน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:22">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการรายงานทางการเงิน ฉบับที่
  </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>3 (<span lang="TH">ปรับปรุง </span>2559)<o:p></o:p></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>การรวมธุรกิจ<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:23">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการรายงานทางการเงิน ฉบับที่
  </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>8 (<span lang="TH">ปรับปรุง </span>2559)
  <span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>ส่วนงานดำเนินงาน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:24">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการรายงานทางการเงิน
  ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>10 <span lang="TH">(ปรับปรุง </span>2559)<b><span lang="TH"> </span></b><span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>งบการเงินรวม<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:25">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>มาตรฐานการรายงานทางการเงิน
  ฉบับที่</span><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'> 13<span lang="TH"> (ปรับปรุง </span>2559)<span lang="TH"><o:p></o:p></span></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>การวัดมูลค่ายุติธรรม<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:26">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>การตีความมาตรฐานการรายงานทางการเงิน
  ฉบับที่ 1 (ปรับปรุง 2559)<o:p></o:p></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>การเปลี่ยนแปลงในหนี้สินที่เกิดขึ้นจากการรื้อถอน
  การบูรณะ และหนี้สินที่มีลักษณะคล้ายคลึงกัน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:27">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>การตีความมาตรฐานการรายงานทางการเงิน
  ฉบับที่ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>10 <span lang="TH">(ปรับปรุง 2559)</span><o:p></o:p></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin:0cm;margin-bottom:.0001pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>งบการเงินระหว่างกาลและการด้อยค่า<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:28;mso-yfti-lastrow:yes">
  <td style="width:202.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="338">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>ประกาศสภาวิชาชีพบัญชี ฉบับที่
  5/2559<o:p></o:p></span></p>
  </td>
  <td style="width:243.0pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="405">
  <p class="block" style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:8.1pt;margin-bottom:.0001pt;text-indent:-8.1pt;mso-line-height-alt:
  12.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>แนวปฏิบัติทางการบัญชีสำหรับการตัดรายการสินทรัพย์ทางการเงินและหนี้สินทางการเงิน<o:p></o:p></span></p>
  </td>
 </tr>
</tbody></table>