<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:468.9pt;margin-left:22.5pt;border-collapse:collapse;mso-padding-alt:
 0cm 5.4pt 0cm 5.4pt" width="782">
 <thead>
  <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:1.0pt">
   <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:1.0pt" valign="top" width="279">
   <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>ชื่อกิจการ<o:p></o:p></span></b></p>
   </td>
   <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:1.0pt" valign="top" width="150">
   <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>ประเทศที่จัดตั้ง</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'> /<span lang="TH">สัญชาติ</span></span></b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
   </td>
   <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
   height:1.0pt" valign="top" width="353">
   <p align="center" class="MsoNormal" style="margin-right:-5.4pt;text-align:center;
   line-height:normal;tab-stops:36.0pt"><b><span lang="TH" style='font-size:15.0pt;
   font-family:"Angsana New","serif"'>ลักษณะความสัมพันธ์</span></b><b><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></b></p>
   </td>
  </tr>
 </thead>
 <tbody><tr style="mso-yfti-irow:1;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>บริษัท บางจากปิโตรเลียม จำกัด (มหาชน)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ไทย<span dir="RTL"><o:p></o:p></span></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:18.0pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทใหญ่
  ถือหุ้นร้อยละ</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>
  70.35 <span lang="TH">ในบริษัทและมีกรรมการร่วมกันกับบริษัท</span><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>บริษัท บางจาก โซลาร์เอ็นเนอร์ยี จำกัด<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ไทย<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อย
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"> และ</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-.9pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>มีกรรมการร่วมกันกับบริษัท<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>บริษัท บางจาก โซลาร์เอ็นเนอร์ยี (ปราจีนบุรี) จำกัด <o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ไทย<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อย
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"> และ</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>มีกรรมการร่วมกันกับบริษัท</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>บริษัท บางจาก โซลาร์เอ็นเนอร์ยี (ชัยภูมิ</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>1) <span lang="TH">จำกัด
  <o:p></o:p></span></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ไทย</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อย
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"> และ</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>มีกรรมการร่วมกันกับบริษัท<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:5;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>บริษัท บางจาก โซลาร์เอ็นเนอร์ยี (บุรีรัมย์) จำกัด <o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ไทย<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อย
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"> และ</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>มีกรรมการร่วมกันกับบริษัท<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:6;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>บริษัท บางจาก โซลาร์เอ็นเนอร์ยี (บุรีรัมย์1) จำกัด <o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ไทย<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อย
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"> และ</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>มีกรรมการร่วมกันกับบริษัท<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:7;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>บริษัท บางจาก โซลาร์เอ็นเนอร์ยี (นครราชสีมา) จำกัด <o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ไทย<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อย
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"> และ</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>มีกรรมการร่วมกันกับบริษัท<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:8;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>บริษัท บีซีพีจี <span style="mso-spacerun:yes"> </span>ไบโอเพาเวอร์ 1 จำกัด <o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ไทย<span dir="RTL"><o:p></o:p></span></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อย
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"> และ</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>มีกรรมการร่วมกันกับบริษัท</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:9;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>บริษัท บีซีพีจี ไบโอเพาเวอร์ 2 จำกัด <o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ไทย<span dir="RTL"><o:p></o:p></span></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อย
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"> และ</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>มีกรรมการร่วมกันกับบริษัท</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:10;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>BCPG
  Investment Holdings Pte. Ltd.<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สิงคโปร์<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อย
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"> และ</span><o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>มีผู้บริหารของบริษัทที่เป็นกรรมการ<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:11;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>BSE
  Energy Holdings Pte. Ltd.<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สิงคโปร์<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100
  <span lang="TH">และมีผู้บริหารของบริษัทที่เป็นกรรมการ<o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:12;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>BCPG
  Japan Corporation (<span lang="TH">เดิมชื่อ </span>SunEdison Japan Corporation)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 197.1pt 200.7pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100
  <span lang="TH">และมีผู้บริหารของบริษัทที่เป็นกรรมการ<o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:13;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Greenergy
  Holdings Pte. Ltd. (<span lang="TH">เดิมชื่อ </span>SunEdison Japan Debt
  Financing Pte. Ltd.)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สิงคโปร์<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-left:12.6pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 187.1pt 206.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ 100 และมีผู้บริหารของบริษัทที่เป็นกรรมการ<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:14;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Greenergy
  Power Pte. Ltd. (<span lang="TH">เดิมชื่อ SunEdison TK Investor </span>1<span lang="TH"> Pte. Ltd.</span>)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>สิงคโปร์<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 187.1pt 197.1pt 200.7pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ 100 และมีผู้บริหารของบริษัทที่เป็นกรรมการ<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:15;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Tarumizu
  Solar Solutions Godo Kaisha<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>51<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:16;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Nakatsugawa
  PV Godo Kaisha<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อมที่ผูกพันโดยสัญญาทีเค
  <o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:17;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Inti (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>4<span lang="TH"> </span>Godo Kaisha)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:18;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Takamori
  PV Godo Kaisha<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อมที่ผูกพันโดยสัญญาทีเค<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:19;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Nojiri
  PV Godo Kaisha<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อมที่ผูกพันโดยสัญญาทีเค
  <o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:20;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Aten (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>7<span lang="TH"> </span>Godo Kaisha)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:21;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Nikaho
  PV Godo Kaisha<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:22;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Gotenba
  2 PV Godo Kaisha<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:23;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Horus (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>10<span lang="TH"> </span>Godo<span lang="TH"> </span>Kaisha)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:24;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Yabuki<span lang="TH"> </span>PV<span lang="TH"> </span>Godo<span lang="TH"> </span>Kaisha<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:25;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Komagane
  PV Godo Kaisha<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:26;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Helios (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>13<span lang="TH"> </span>Godo Kaisha)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:27;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Lugh (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>14<span lang="TH"> </span>Godo Kaisha)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:28;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Phoenix (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>15<span lang="TH"> </span>Godo Kaisha)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:29;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Gotenba
  1 PV Godo Kaisha<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:30;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Komagane
  Land Lease Godo Kaisha<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:31;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Nagi
  PV Godo Kaisha<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:32;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Natosi (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>19<span lang="TH"> </span>Godo Kaisha)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:33;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Amaterasu (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>20<span lang="TH"> </span>Godo Kaisha)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:34;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Mithra (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>21<span lang="TH"> </span>Godo Kaisha</span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  Calibri'>)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:35;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Sol (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>22<span lang="TH"> </span>Godo Kaisha)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:36;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Saule (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>23<span lang="TH"> </span>Godo Kaisha)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:37;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Shamash (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>24<span lang="TH"> </span>Godo Kaisha)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:38;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:39;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:40;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Pusan (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>25<span lang="TH"> </span>Godo Kaisha</span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  Calibri;color:black'>)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:41;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Apolo (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>2<span lang="TH">6 </span>Godo Kaisha</span><span style='font-size:15.0pt;font-family:"Angsana New","serif";mso-fareast-font-family:
  Calibri;color:black'>)</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:42;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Surya (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>27<span lang="TH"> </span>Godo Kaisha)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:43;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Nagi
  Land Lease Godo Kaisha</span><span style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-fareast-font-family:Calibri;color:black'><o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:44;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Rangi (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>29<span lang="TH"> </span>Godo Kaisha)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:45;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Dazbog (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>30<span lang="TH"> </span>Godo Kaisha)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:46;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Narang (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>31<span lang="TH"> </span>Godo Kaisha)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:47;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Malina (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>32<span lang="TH"> </span>Godo Kaisha)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:48;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Legba (<span lang="TH">เดิมชื่อ </span>SunEdison<span lang="TH"> </span>Japan<span lang="TH"> </span>SPC<span lang="TH"> </span>33<span lang="TH"> </span>Godo Kaisha)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:49;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>J2
  Investor Godo Kaisha<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:50;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>J1
  Investor Godo Kaisha<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"><o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:51;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'><o:p> </o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:52;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>BCPG
  Engineering Company <span lang="TH">(เดิมชื่อ </span>SunEdison Construction
  Company<span lang="TH">)<o:p></o:p></span></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-left:12.6pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>100<span lang="TH"> และมีผู้บริหารของบริษัทที่เป็นกรรมการ<o:p></o:p></span></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:53;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-left:13.5pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Godo
  Kaisha Tarumi Takatoge<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:22.7pt 34.0pt 45.35pt 82.2pt 93.55pt 129.0pt 140.35pt 175.75pt 187.1pt 222.55pt 233.9pt 269.35pt 280.65pt 316.1pt 327.45pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อมที่ผูกพันโดยสัญญาทีเค<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:54;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>Huang
  Ming Japan Company Limited<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'><span style="mso-tab-count:1">    </span><o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ญี่ปุ่น<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>เป็นบริษัทย่อยทางอ้อม
  บริษัทถือหุ้นร้อยละ 100 และมีผู้บริหารของบริษัทที่เป็นกรรมการ<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:55;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>บริษัท อาร์ทีเอ เอ็นเตอร์เทนเมนต์ จำกัด (มหาชน)<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ไทย<o:p></o:p></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>มีกรรมการร่วมกัน<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:56;mso-yfti-lastrow:yes;height:1.0pt">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="279">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-5.4pt;margin-bottom:
  0cm;margin-left:13.5pt;margin-bottom:.0001pt;text-indent:-9.0pt;line-height:
  normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:
  "Angsana New","serif"'>ผู้บริหารสำคัญ<o:p></o:p></span></p>
  </td>
  <td style="width:90.0pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="150">
  <p align="center" class="MsoNormal" style="margin-right:-.9pt;text-align:center;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>ไทย</span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'>/<span lang="TH">ญี่ปุ่น<o:p></o:p></span></span></p>
  </td>
  <td style="width:211.5pt;padding:0cm 5.4pt 0cm 5.4pt;
  height:1.0pt" valign="top" width="353">
  <p class="MsoNormal" style="margin-top:0cm;margin-right:-.9pt;margin-bottom:
  0cm;margin-left:12.6pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-12.6pt;line-height:normal;tab-stops:36.0pt"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif"'>บุคคลที่มีอำนาจและความรับผิดชอบการวางแผน
  </span><span style='font-size:15.0pt;font-family:"Angsana New","serif"'><br/>
  <span lang="TH">สั่งการและควบคุมกิจกรรมต่างๆ ของกิจการไม่ว่าทางตรงหรือทางอ้อม
  ทั้งนี้ รวมถึงกรรมการของกลุ่มบริษัท (ไม่ว่าจะทำหน้าที่ในระดับบริหารหรือไม่)</span><o:p></o:p></span></p>
  </td>
 </tr>
</tbody></table>