<table border="0" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width:468.9pt;margin-left:22.5pt;border-collapse:collapse;mso-yfti-tbllook:
 480;mso-padding-alt:0cm 5.4pt 0cm 5.4pt" width="782">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="279">
  <p class="block" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:0cm;
  margin-left:0cm;margin-bottom:.0001pt;line-height:normal"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>รายการ <o:p></o:p></span></b></p>
  </td>
  <td style="width:301.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="503">
  <p class="block" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:0cm;
  margin-left:0cm;margin-bottom:.0001pt;line-height:normal"><b><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'>นโยบายการกำหนดราคา </span></b><b><span lang="EN-GB" style='font-size:15.0pt;
  font-family:"Angsana New","serif";mso-bidi-language:TH'><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:1">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="279">
  <p class="block" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:0cm;
  margin-left:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:inter-cluster;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>รายได้จากการให้บริการ</span><span lang="EN-GB" style='font-size:15.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p></o:p></span></p>
  </td>
  <td style="width:301.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="503">
  <p class="block" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:0cm;
  margin-left:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:inter-cluster;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>ราคาตามสัญญา</span><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:2">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="279">
  <p class="block" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:0cm;
  margin-left:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:inter-cluster;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>ค่าจ้างบริหารงาน</span><span lang="EN-GB" style='font-size:15.0pt;font-family:"Angsana New","serif";mso-bidi-language:
  TH'><o:p></o:p></span></p>
  </td>
  <td style="width:301.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="503">
  <p class="block" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:0cm;
  margin-left:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:inter-cluster;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-ansi-language:EN-US;mso-bidi-language:TH'>ราคาตามสัญญา<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:3">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="279">
  <p class="block" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:0cm;
  margin-left:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:inter-cluster;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>ค่าเช่า<o:p></o:p></span></p>
  </td>
  <td style="width:301.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="503">
  <p class="block" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:0cm;
  margin-left:11.7pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-11.7pt;line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>ราคาตามสัญญา<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="mso-yfti-irow:4;mso-yfti-lastrow:yes">
  <td style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="279">
  <p class="block" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:0cm;
  margin-left:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:inter-cluster;
  line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";
  mso-bidi-language:TH'>ดอกเบี้ยเงินกู้ยืม<o:p></o:p></span></p>
  </td>
  <td style="width:301.5pt;padding:0cm 5.4pt 0cm 5.4pt" valign="top" width="503">
  <p class="block" style="margin-top:0cm;margin-right:-2.25pt;margin-bottom:0cm;
  margin-left:11.7pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-cluster;text-indent:-11.7pt;line-height:normal"><span lang="TH" style='font-size:15.0pt;font-family:"Angsana New","serif";mso-ansi-language:
  EN-US;mso-bidi-language:TH'>อัตราดอกเบี้ยที่กำหนดในสัญญาโดยอ้างอิงราคาตลาดและอัตราดอกเบี้ยเงินฝากประจำ<o:p></o:p></span></p>
  </td>
 </tr>
</tbody></table>